* {
  --bg: black;
  --gold-fg: #9b8d68;
  --gold-bright: #ffebb5;
  --gold-bright50: rgba(255, 242, 179, 0.5);
  --gold-dim: #8d722a;
  --gold-dark: #261c00;
  --gold-fade: #7a7871;
  --gold-glow: #ffb900;
  --red-fg: #9b201f;
  --red-bright: #ff2020;
  --red-dim: #6d1616;
  --red-fade: #782e22;
  --red-fade50: rgba(120, 46, 34, 0.5);
  --grey-fg: gray;
  --grey-bright: #aaaaaa;
  --grey-brightest: white;
  --grey-dim: #444444;
  --grey-dark: #222222;
  --blue-fg: #60aeff;
  --cyan-glow: #97dff4; }

@font-face {
  font-family: Infidel;
  src: url("../assets/fonts/infidel.ttf"); }

@font-face {
  font-family: InfidelA;
  src: url("../assets/fonts/Infidel-A.ttf"); }

@font-face {
  font-family: InfidelB;
  src: url("../assets/fonts/Infidel-B.ttf"); }

@font-face {
  font-family: InfidelC;
  src: url("../assets/fonts/Infidel-C.ttf"); }

@font-face {
  font-family: InfidelD;
  src: url("../assets/fonts/Infidel-D.ttf"); }

@font-face {
  font-family: Alverata;
  src: url("../assets/fonts/alverata.ttf"); }

@font-face {
  font-family: 'Caslon Antique';
  src: url("../assets/fonts/caslon-antique.ttf"); }

* {
  --font-primary: Alverata;
  --font-display: Infidel;
  --font-longtext: "Caslon Antique"; }

.center-text {
  text-align: center !important; }

.item-trigger {
  font-style: italic;
  color: var(--gold-bright); }

.item-gm-phrase {
  font-weight: bold;
  color: var(--red-bright); }

.item-roll-desc,
.item-keyword {
  font-weight: bold;
  color: var(--blue-fg); }

.item-roll-desc {
  text-transform: capitalize; }

.item-move-name {
  color: var(--red-bright);
  font-weight: normal !important; }
  .item-move-name * {
    font-weight: normal !important; }

.edge-name {
  color: var(--gold-bright);
  font-weight: normal !important; }

.source-name {
  font-size: 12px;
  text-align: right;
  display: block;
  font-variant: small-caps;
  color: var(--gold-bright);
  font-style: italic; }

.item-text,
.message-content {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
  .item-text p,
  .message-content p {
    text-align: inherit;
    -webkit-hyphens: inherit;
    -ms-hyphens: inherit;
    hyphens: inherit; }
  .item-text ul li,
  .message-content ul li {
    list-style-type: square;
    text-indent: -5px;
    margin-left: 5px; }

/* Darker text on medium background */
.dark-on-dark {
  color: #333;
  background-color: #666;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  /* 50% white from bottom */ }

/* Medium text on lighter background */
.med-on-light {
  color: #666;
  background-color: #aaa;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  /* 50% black coming from the top */ }

/* Middle-tone colors with 1 shadow */
.mid-one-shadow {
  color: #3b5957;
  background-color: #5d8d89;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); }

/* Middle-tone colors with 2 shadows */
.mid-two-shadow {
  color: #3b5957;
  background-color: #5d8d89;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7); }

.vtt.game.system-kult4th .chat-message {
  font-size: 12px; }
  .vtt.game.system-kult4th .chat-message .message-content .move-name:nth-child(2) {
    background: -webkit-gradient(linear, left top, right top, from(var(--bg)), color-stop(35%, var(--red-fg)), color-stop(65%, var(--red-fg)), to(var(--bg)));
    background: -o-linear-gradient(left, var(--bg), var(--red-fg) 35%, var(--red-fg) 65%, var(--bg));
    background: linear-gradient(90deg, var(--bg), var(--red-fg) 35%, var(--red-fg) 65%, var(--bg));
    line-height: 27px;
    height: 24px;
    color: var(--bg);
    font-weight: bold; }

.vtt.game.system-kult4th .app.window-app {
  color: var(--gold-fg);
  -webkit-box-shadow: 0 0 0px var(--bg);
  box-shadow: 0 0 0px var(--bg); }

.vtt.game.system-kult4th .app.window-app.sheet select,
.vtt.game.system-kult4th .app.window-app.sheet input,
.vtt.game.system-kult4th .app.window-app.sheet textarea {
  font-family: var(--font-primary);
  color: var(--gold-fg); }

.vtt.game.system-kult4th .app.window-app.sheet select:focus, .vtt.game.system-kult4th .app.window-app.sheet select:focus-within {
  -webkit-box-shadow: none;
  box-shadow: none; }

.vtt.game.system-kult4th .app.window-app.sheet option {
  background: var(--bg); }

.vtt.game.system-kult4th .app.window-app.sheet .editor-content {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: var(--gold-fg); }
  .vtt.game.system-kult4th .app.window-app.sheet .editor-content h1 {
    font-family: 'Infidel';
    color: white;
    margin: 0 0 10px 0;
    line-height: 1em;
    height: 0.9em;
    text-shadow: 0px 0px 5px red; }
  .vtt.game.system-kult4th .app.window-app.sheet .editor-content h2, .vtt.game.system-kult4th .app.window-app.sheet .editor-content h3 {
    color: var(--gold-bright);
    font-variant: small-caps; }
  .vtt.game.system-kult4th .app.window-app.sheet .editor-content h2 {
    height: 24px; }
  .vtt.game.system-kult4th .app.window-app.sheet .editor-content p {
    font-size: 12px; }
  .vtt.game.system-kult4th .app.window-app.sheet .editor-content h3 {
    height: 16px; }

.vtt.game.system-kult4th .app.window-app.sheet .window-header {
  border-color: var(--gold-fg);
  background-color: var(--bg); }

.vtt.game.system-kult4th .app.window-app.sheet .window-content {
  overflow-y: scroll; }
  .vtt.game.system-kult4th .app.window-app.sheet .window-content .sheet-lock-button {
    position: relative;
    height: 20px;
    width: 20px;
    color: var(--gold-fg);
    top: -5px;
    margin-bottom: -20px;
    left: -3px; }
  .vtt.game.system-kult4th .app.window-app.sheet .window-content .two-column > *:last-child {
    margin-right: 0; }
  .vtt.game.system-kult4th .app.window-app.sheet .window-content .two-column .col66 {
    width: 66%; }
  .vtt.game.system-kult4th .app.window-app.sheet .window-content .two-column .col33 {
    width: 33%; }

.vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet {
  padding: 5px; }
  .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: hidden; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container > * {
      display: inline-block;
      height: 100%;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container *:focus {
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .picture {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
      margin: 0 10px 0 0; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .title .character-name {
        display: block;
        font-size: 50px;
        height: 100%;
        width: 100%;
        border: 0;
        font-family: var(--font-display);
        background: transparent;
        -webkit-transform: scaleY(1.5);
        -ms-transform: scaleY(1.5);
        transform: scaleY(1.5);
        padding-top: 16px; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: 125px;
      flex-basis: 125px; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec {
        display: block;
        width: 100%;
        padding: 2.5px 0; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec .spec-label {
          display: inline-block;
          width: 40%;
          font-weight: bold;
          text-align: right;
          vertical-align: middle; }
          .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec .spec-label.two-line {
            font-size: 10px; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec .spec-input {
          margin-left: 5px;
          padding: 1px 3px;
          width: calc(60% - 1px - (2 * 5px));
          background: rgba(120, 46, 34, 0.38);
          border: 1px solid var(--gold-fade);
          max-height: 26px;
          font-size: 16px; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec input.spec-input {
          text-align: right;
          font-weight: bold;
          text-align: center; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec select.spec-input {
          -webkit-box-flex: 0;
          -ms-flex-positive: 0;
          flex-grow: 0;
          -ms-flex-negative: 0;
          flex-shrink: 0;
          text-align: right; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec.edge-spec {
          height: 31px;
          text-align: center; }
          .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec.edge-spec .edge-count, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec.edge-spec .edge-label {
            display: inline-block;
            color: var(--blue-fg);
            position: relative; }
          .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec.edge-spec .edge-count {
            width: 15%;
            font-size: 29px;
            font-family: 'Infidel';
            -webkit-transform-origin: top right;
            -ms-transform-origin: top right;
            transform-origin: top right;
            -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
            transform: scale(1.5);
            top: -9px;
            text-align: right; }
          .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec.edge-spec .edge-name {
            font-size: 8px;
            display: block;
            text-align: right;
            position: relative;
            top: -5px;
            font-style: italic;
            padding-right: 3px; }
          .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec.edge-spec .edge-title {
            color: var(--blue-fg);
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            top: -3px;
            display: block;
            text-align: left; }
  .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .character-name input {
    margin: 0;
    width: 100%;
    background: transparent;
    font-family: var(--font-display); }
  .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .navigation-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    overflow: hidden; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .navigation-section .tabButton {
      color: var(--gold-fg);
      background-color: var(--bg);
      line-height: 34px;
      margin-bottom: -9px;
      font-family: var(--font-display);
      outline: 2px outset var(--gold-fg);
      padding: 0 10px; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .navigation-section .tabButton.active {
        background-color: var(--gold-dark);
        color: var(--gold-bright);
        outline: 2px outset var(--gold-fade); }
  .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section {
    margin: 0;
    padding: 5px 5px 0px; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list {
      -webkit-columns: 250px;
      -moz-columns: 250px;
      columns: 250px;
      padding: 0; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card {
        --card-border: var(--grey-fg);
        --card-fg: var(--grey-brightest);
        --card-bg: var(--bg);
        --card-img-filter: none;
        --card-weight: normal;
        --card-text-shadow: inherit;
        --card-border-style: outset;
        padding: 0;
        color: var(--card-fg);
        background: var(--card-bg);
        font-weight: var(--card-weight);
        border-radius: 5px;
        border: 2px var(--card-border-style) var(--card-border);
        overflow: hidden;
        text-shadow: var(--card-text-shadow);
        margin: 0 5px 1px 5px; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card.move-advantage, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card.gear-card, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card.move-advantage, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card.gear-card, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card.move-advantage, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card.gear-card {
          --card-border: var(--gold-fg);
          --card-bg: linear-gradient(45deg, rgba(141,114,42,1) 0%, rgba(38,28,0,1) 100%);
          --card-img-filter: invert(1) drop-shadow(0px 1px 0px var(--gold-bright50));
          --card-fg: var(--bg);
          --card-weight: bold;
          --card-text-shadow: 0px 1px 1px var(--gold-bright50); }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card.move-disadvantage, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card.move-disadvantage, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card.move-disadvantage {
          --card-border: var(--red-fg);
          --card-fg: var(--red-fg);
          --card-img-filter: sepia(1) hue-rotate(288deg) brightness(0.3) saturate(100);
          --card-weight: bold; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card.move-weapon, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card.weapon-card, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card.move-weapon, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card.weapon-card, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card.move-weapon, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card.weapon-card {
          --card-border: var(--red-dim);
          --card-fg: var(--bg);
          --card-bg: linear-gradient(45deg, rgba(109,22,22,1) 0%, rgba(255,32,32,1) 100%);
          --card-img-filter: invert(1);
          --card-weight: bold; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card.weapon-card, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card.weapon-card, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card.weapon-card {
          font-size: 14px;
          margin-left: 0; }
          .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card.weapon-card > div, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card.weapon-card > div, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card.weapon-card > div {
            display: grid;
            grid-template-columns: 40% 25% 20% 16%;
            grid-gap: 0; }
            .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card.weapon-card > div .weapon-name, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card.weapon-card > div .weapon-name, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card.weapon-card > div .weapon-name {
              color: var(--red-bright);
              text-indent: 5px;
              text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,0 0 3px black, 0 0 3px black, 0 0 3px black; }
            .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card.weapon-card > div .weapon-ammo, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card.weapon-card > div .weapon-harm, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card.weapon-card > div .weapon-ammo, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card.weapon-card > div .weapon-harm, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card.weapon-card > div .weapon-ammo, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card.weapon-card > div .weapon-harm {
              text-align: right; }
            .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card.weapon-card > div .item-control, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card.weapon-card > div .item-control, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card.weapon-card > div .item-control {
              font-weight: bold;
              text-align: right;
              padding-right: 5px;
              text-shadow: 0 0 2px white, 0 0 2px black, 0 0 2px black, 0 0 2px black;
              margin: 0;
              color: #CCC;
              opacity: 0.8; }
              .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card.weapon-card > div .item-control.item-view, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card.weapon-card > div .item-control.item-view, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card.weapon-card > div .item-control.item-view {
                line-height: 10px;
                text-align: right;
                padding: 2px;
                margin: -1px 1px -4px 1px; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card.gear-card, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card.gear-card, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card.gear-card {
          -webkit-filter: brightness(1.5);
          filter: brightness(1.5); }
          .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card.gear-card .item-control-container, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card.gear-card .item-control-container, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card.gear-card .item-control-container {
            margin-left: auto;
            margin-right: 0;
            display: inline-block;
            text-align: right;
            width: 80px;
            font-weight: bold; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card .advantage-column.hold-tally, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card .advantage-column.hold-tally, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card .advantage-column.hold-tally {
          margin-left: 20px;
          color: black;
          text-shadow: 0 0 2px black, 0 0 5px black;
          font-weight: bold;
          background: var(--red-bright); }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card .item-draggable, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card .item-draggable, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card .item-draggable {
          padding-right: 5px; }
          .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card .item-draggable a, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card .item-draggable a, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card .item-draggable a {
            line-height: 19px;
            padding: 0;
            margin: 0;
            display: inline-block;
            vertical-align: middle; }
            .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card .item-draggable a.item-control, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card .item-draggable a.item-control, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card .item-draggable a.item-control {
              color: var(--grey-fg);
              -webkit-filter: blur(0.5px);
              filter: blur(0.5px);
              opacity: 0.5;
              margin: 0 1px; }
              .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card .item-draggable a.item-control.item-post, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card .item-draggable a.item-control.item-view, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card .item-draggable a.item-control.item-post, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card .item-draggable a.item-control.item-view, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card .item-draggable a.item-control.item-post, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card .item-draggable a.item-control.item-view {
                margin: 0 0 0px 6px;
                color: var(--grey-brightest);
                -webkit-filter: none;
                filter: none; }
                .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card .item-draggable a.item-control.item-post.item-post i, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card .item-draggable a.item-control.item-view.item-post i, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card .item-draggable a.item-control.item-post.item-post i, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card .item-draggable a.item-control.item-view.item-post i, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card .item-draggable a.item-control.item-post.item-post i, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card .item-draggable a.item-control.item-view.item-post i {
                  line-height: 21px; }
                .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card .item-draggable a.item-control.item-post.item-view, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card .item-draggable a.item-control.item-view.item-view, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card .item-draggable a.item-control.item-post.item-view, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card .item-draggable a.item-control.item-view.item-view, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card .item-draggable a.item-control.item-post.item-view, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card .item-draggable a.item-control.item-view.item-view {
                  margin: 0; }
              .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card .item-draggable a.item-control:hover, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card .item-draggable a.item-control:hover, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card .item-draggable a.item-control:hover {
                color: var(--grey-brightest);
                -webkit-filter: none;
                filter: none;
                opacity: 1; }
            .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card .item-draggable a img, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card .item-draggable a img, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card .item-draggable a img {
              height: 20px;
              width: 20px;
              vertical-align: text-bottom;
              padding: 0;
              border: 0;
              -webkit-transform-origin: center;
              -ms-transform-origin: center;
              transform-origin: center;
              -webkit-transform: scale(1.05);
              -ms-transform: scale(1.05);
              transform: scale(1.05);
              -webkit-filter: var(--card-img-filter);
              filter: var(--card-img-filter);
              position: relative;
              top: 0px; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card img, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card img, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card img {
          height: 20px;
          width: 20px;
          vertical-align: text-bottom;
          padding: 0;
          border: 0;
          -webkit-transform-origin: center;
          -ms-transform-origin: center;
          transform-origin: center;
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
          -webkit-filter: var(--card-img-filter);
          filter: var(--card-img-filter);
          position: relative;
          top: 0px; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .card-list .card > div, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .item-list .card > div, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section .weapon-list .card > div {
          margin: 0;
          padding: 0; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .top-section {
      margin-bottom: 3px; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .top-section .dramatic-hook {
        display: block;
        height: 14px;
        position: relative;
        z-index: 50;
        padding-left: 20px; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .top-section .dramatic-hook input[type="checkbox"] {
          display: inline-block;
          height: 10px;
          width: 10px;
          margin: 0;
          opacity: 0.75;
          -webkit-filter: sepia(1);
          filter: sepia(1);
          vertical-align: middle; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .top-section .dramatic-hook > span {
          color: var(--gold-bright);
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden;
          vertical-align: middle; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .top-section .dramatic-hook input[type="checkbox"]:checked + span {
          font-style: italic;
          color: var(--gold-fade); }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .section-label {
      margin-bottom: 5px;
      line-height: 25px;
      max-height: 24px; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .attribute-column {
      padding: 5px; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .attribute-column .attribute-box {
        margin: 0; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .attribute-column .attribute-box td {
          vertical-align: top;
          font-size: 10px;
          font-style: normal;
          padding: 0; }
          .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .attribute-column .attribute-box td .attribute-roll {
            display: block;
            width: 135%;
            margin-left: -17.5%;
            position: relative;
            border-radius: 100px;
            cursor: pointer;
            -webkit-transition: all 0.25s;
            -o-transition: all 0.25s;
            transition: all 0.25s;
            -webkit-transform-origin: center center;
            -ms-transform-origin: center center;
            transform-origin: center center;
            color: var(--gold-bright); }
            .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .attribute-column .attribute-box td .attribute-roll:hover {
              -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
              transform: scale(1.1);
              text-shadow: 0 0 15px var(--red-bright), 0 0 5px var(--red-bright);
              letter-spacing: 0.1em;
              z-index: 20; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .attribute-column .attribute-box td:first-child {
          padding-right: 2px; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .attribute-column .attribute-box .stat-value {
          font-size: 23px;
          height: 45px;
          text-align: center;
          padding: 13px 2px 0 0;
          font-family: var(--font-display);
          color: var(--gold-bright);
          letter-spacing: -2.3px;
          width: 30px; }
          .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .attribute-column .attribute-box .stat-value option {
            font-size: 14px; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .move-column {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      padding: 5px; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .section-label {
      margin-top: 10px; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .wound-entries .wound-section div {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .wound-entries .wound-section div.wound-name input[type="text"] {
        color: var(--red-bright); }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .wound-entries .wound-section.faded {
      display: none; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.stats-section .middle-section .right-middle-column {
      padding: 5px;
      overflow: visible; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.bio-section .section-label {
      margin: 15px 0 5px 0; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.assets-section .section-label {
      margin: 15px 0 5px 0; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.assets-section .weapon-list .gear-card .move-info > div {
      display: inline; }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section {
      padding: 5px; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .section-label {
        margin-top: 10px; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .dramatic-hook {
        height: 20px;
        margin: 5px 0; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .dramatic-hook input[type="text"] {
          resize: none;
          background-color: var(--red-fade50);
          color: var(--gold-bright);
          border-radius: 5px;
          display: inline-block;
          padding: 1px 0 0 0;
          text-align: left;
          text-indent: 5px;
          width: 100%; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .advancement-total {
        color: var(--grey-brightest);
        text-align: center;
        margin: 0;
        height: 36px; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .advancement-total .adv-number {
          font-size: 30px;
          vertical-align: middle;
          display: inline-block;
          margin: 5px 4px 5px 0px; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .experience-total {
        color: var(--grey-fg);
        text-align: center;
        font-style: italic;
        font-size: 12px;
        margin-bottom: 10px; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .advancement-labels {
        width: 100%;
        margin: 0; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .advancement-boxes {
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        white-space: nowrap;
        text-align: right;
        margin: 0 10px 0 0; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .advancement-line, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .purchase-line {
        color: var(--gold-fg);
        min-height: 20px;
        line-height: 20px; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .advancement-line .fas.fa-check-square, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .purchase-line .fas.fa-check-square {
          line-height: 1px; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .advancement-line.header, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .purchase-line.header {
          margin-top: 20px;
          color: var(--grey-fg);
          margin-left: -80px; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .advancement-line.greyed-out, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .purchase-line.greyed-out {
          color: var(--grey-dim); }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .purchases-column {
        width: 55%; }
        .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .purchases-column .purchase-line {
          margin: 3px 0 3px -20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: baseline;
          -ms-flex-align: baseline;
          align-items: baseline; }
          .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .purchases-column .purchase-line .purchase-label {
            white-space: nowrap; }
          .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .purchases-column .purchase-line .purchase-counter {
            font-family: Infidel;
            font-size: 24px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            width: 15px;
            color: var(--grey-brightest);
            text-shadow: 0 0 5px var(--red-bright);
            margin-right: 10px;
            padding-top: 5px; }
          .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .purchases-column .purchase-line select {
            margin-right: 0px;
            color: var(--grey-brightest);
            text-shadow: 0 0 5px var(--red-bright);
            -webkit-box-flex: 5;
            -ms-flex-positive: 5;
            flex-grow: 5;
            text-align: right;
            border: none; }
          .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .tab-section.advancement-section .purchases-column .purchase-line .purchase-summary {
            font-weight: bold;
            color: var(--grey-bright);
            text-shadow: 0 0 5px var(--red-bright); }
  .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet select.character-archetype {
    display: block;
    margin: -20px 0 0 0;
    padding: 0;
    border: 0;
    height: 40px;
    font-size: 22px;
    text-align: right;
    padding-right: 10px;
    position: relative;
    text-shadow: 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg); }
    .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet select.character-archetype option {
      font-size: 14px;
      text-align: center; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet select.character-archetype option.enlightened {
        color: var(--grey-fg); }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet select.character-archetype option.aware-header, .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet select.character-archetype option.enlightened-header {
        background: var(--bg);
        color: var(--gold-dim);
        font-weight: bold;
        font-size: 24px; }
      .vtt.game.system-kult4th .app.window-app.sheet.actor .window-content form.kult-overrides-sheet select.character-archetype option.enlightened-header {
        color: var(--grey-fg); }

.vtt.game.system-kult4th .app.window-app.sheet.actor.minimized {
  --minimizedTextColor: var(--gold-dark);
  --minimizedFontWeight: bold;
  --minimizedBGColor: var(--gold-glow);
  --minimizedBorderColor: var(--gold-bright); }

.vtt.game.system-kult4th .app.window-app.sheet.item header.sheet-header img {
  background: transparent;
  border: none;
  position: absolute;
  -webkit-filter: drop-shadow(0px 0px 2px var(--gold-bright));
  filter: drop-shadow(0px 0px 2px var(--gold-bright)); }

.vtt.game.system-kult4th .app.window-app.sheet.item header.sheet-header h1 {
  margin-left: 64px; }

.vtt.game.system-kult4th .app.window-app.sheet.item.minimized {
  --minimizedTextColor: var(--grey-bright);
  --minimizedFontWeight: bold;
  --minimizedBGColor: var(--grey-dark);
  --minimizedBorderColor: var(--grey-brightest); }
