#tinymce > * {
  /* FOUNDRY OVERRIDES */
  --color-text-light-primary: lime;
  --color-text-light-highlight: magenta;
  --color-text-light-heading: red;
  --color-text-dark-primary: var(--KKK-color-primary);
  --color-text-dark-secondary: cyan;
  --color-text-dark-header: purple;
  --color-text-light-primary: #958b68;
  --color-text-light-highlight: #c3bba1;
  --color-text-light-heading: #c3bba1;
  --color-text-dark-primary: #19160b;
  --color-text-dark-secondary: #685f43;
  --color-text-dark-header: #42391a;
  --color-text-dark-inactive: #7a7971;
  --color-text-hyperlink: #2a548a;
  --color-text-light-0: #fff;
  --color-text-light-1: #e4ddc3;
  --color-text-light-2: #e4ddc3;
  --color-text-light-3: #c3bba1;
  --color-text-light-4: #c3bba1;
  --color-text-light-5: #c3bba1;
  --color-text-light-6: #958b68;
  --color-text-light-7: #958b68;
  --color-text-dark-1: #19160b;
  --color-text-dark-2: #19160b;
  --color-text-dark-3: #42391a;
  --color-text-dark-4: #42391a;
  --color-text-dark-5: #685f43;
  --color-text-dark-6: #685f43;
  --color-border-light-1: #c3bba1;
  --color-border-light-2: #958b68;
  --color-border-dark-1: #19160b;
  --color-border-dark-2: #19160b;
  --color-border-dark-3: #42391a;
  --color-border-dark-4: #42391a;
  --color-border-dark-5: #685f43;
  --color-shadow-primary: #958b68;
  --color-shadow-highlight: #958b68;
  --color-shadow-dark: #000;
  --color-underline-inactive: #183f72;
  --color-underline-active: #4084dd;
  --color-underline-header: #958b68;
  --color-border-light-highlight: #e4ddc3;
  --color-border-light-primary: #e4ddc3;
  --color-border-light-secondary: #c3bba1;
  --color-border-light-tertiary: #958b68;
  --color-border-dark: #000;
  --color-border-dark-primary: #19160b;
  --color-border-dark-secondary: #42391a;
  --color-border-dark-tertiary: #685f43;
  --color-border-highlight: #c3bba1;
  --color-border-highlight-alt: #e4ddc3;
  --color-bg-btn-minor-inactive: #c3bba1;
  --color-bg-btn-minor-active: #e4ddc3;
  --color-bg-option: #e4ddc3; }

@font-face {
  #tinymce {
    src: url("../assets/fonts/alverata/irreg/alverataIrreg-light.ttf") format("truetype"), url("../assets/fonts/alverata/irreg/alverataIrreg-light.otf") format("opentype"), url("../assets/fonts/alverata/irreg/alverataIrreg-light.woff") format("woff"), url("../assets/fonts/alverata/irreg/alverataIrreg-light.woff2") format("woff2"), url("../assets/fonts/alverata/irreg/alverataIrreg-light.svg") format("svg"); }
    #tinymce font {
      family: Alverata;
      weight: 0 350;
      style: normal; } }

@font-face {
  #tinymce {
    font-family: Alverata;
    font-weight: 351 450;
    font-style: normal;
    src: url("../assets/fonts/alverata/irreg/alverataIrreg.ttf") format("truetype"), url("../assets/fonts/alverata/irreg/alverataIrreg.otf") format("opentype"), url("../assets/fonts/alverata/irreg/alverataIrreg.woff") format("woff"), url("../assets/fonts/alverata/irreg/alverataIrreg.woff2") format("woff2"), url("../assets/fonts/alverata/irreg/alverataIrreg.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: Alverata;
    font-weight: 451 550;
    font-style: normal;
    src: url("../assets/fonts/alverata/irreg/alverataIrreg-med.ttf") format("truetype"), url("../assets/fonts/alverata/irreg/alverataIrreg-med.otf") format("opentype"), url("../assets/fonts/alverata/irreg/alverataIrreg-med.woff") format("woff"), url("../assets/fonts/alverata/irreg/alverataIrreg-med.woff2") format("woff2"), url("../assets/fonts/alverata/irreg/alverataIrreg-med.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: Alverata;
    font-weight: 551 650;
    font-style: normal;
    src: url("../assets/fonts/alverata/irreg/alverataIrreg-semi.ttf") format("truetype"), url("../assets/fonts/alverata/irreg/alverataIrreg-semi.otf") format("opentype"), url("../assets/fonts/alverata/irreg/alverataIrreg-semi.woff") format("woff"), url("../assets/fonts/alverata/irreg/alverataIrreg-semi.woff2") format("woff2"), url("../assets/fonts/alverata/irreg/alverataIrreg-semi.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: Alverata;
    font-weight: 651 800;
    font-style: normal;
    src: url("../assets/fonts/alverata/irreg/alverataIrreg-bold.ttf") format("truetype"), url("../assets/fonts/alverata/irreg/alverataIrreg-bold.otf") format("opentype"), url("../assets/fonts/alverata/irreg/alverataIrreg-bold.woff") format("woff"), url("../assets/fonts/alverata/irreg/alverataIrreg-bold.woff2") format("woff2"), url("../assets/fonts/alverata/irreg/alverataIrreg-bold.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: Alverata;
    font-weight: 801 1000;
    font-style: normal;
    src: url("../assets/fonts/alverata/irreg/alverataIrreg-black.ttf") format("truetype"), url("../assets/fonts/alverata/irreg/alverataIrreg-black.otf") format("opentype"), url("../assets/fonts/alverata/irreg/alverataIrreg-black.woff") format("woff"), url("../assets/fonts/alverata/irreg/alverataIrreg-black.woff2") format("woff2"), url("../assets/fonts/alverata/irreg/alverataIrreg-black.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: Alverata, AlverataCaps;
    font-weight: 0 350;
    font-style: italic;
    src: url("../assets/fonts/alverata/reg/alverata-light-italic.ttf") format("truetype"), url("../assets/fonts/alverata/reg/alverata-light-italic.otf") format("opentype"), url("../assets/fonts/alverata/reg/alverata-light-italic.woff") format("woff"), url("../assets/fonts/alverata/reg/alverata-light-italic.woff2") format("woff2"), url("../assets/fonts/alverata/reg/alverata-light-italic.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: Alverata, AlverataCaps;
    font-weight: 351 450;
    font-style: italic;
    src: url("../assets/fonts/alverata/reg/alverata-italic.ttf") format("truetype"), url("../assets/fonts/alverata/reg/alverata-italic.otf") format("opentype"), url("../assets/fonts/alverata/reg/alverata-italic.woff") format("woff"), url("../assets/fonts/alverata/reg/alverata-italic.woff2") format("woff2"), url("../assets/fonts/alverata/reg/alverata-italic.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: Alverata, AlverataCaps;
    font-weight: 451 550;
    font-style: italic;
    src: url("../assets/fonts/alverata/reg/alverata-med-italic.ttf") format("truetype"), url("../assets/fonts/alverata/reg/alverata-med-italic.otf") format("opentype"), url("../assets/fonts/alverata/reg/alverata-med-italic.woff") format("woff"), url("../assets/fonts/alverata/reg/alverata-med-italic.woff2") format("woff2"), url("../assets/fonts/alverata/reg/alverata-med-italic.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: Alverata, AlverataCaps;
    font-weight: 551 650;
    font-style: italic;
    src: url("../assets/fonts/alverata/reg/alverata-semi-italic.ttf") format("truetype"), url("../assets/fonts/alverata/reg/alverata-semi-italic.otf") format("opentype"), url("../assets/fonts/alverata/reg/alverata-semi-italic.woff") format("woff"), url("../assets/fonts/alverata/reg/alverata-semi-italic.woff2") format("woff2"), url("../assets/fonts/alverata/reg/alverata-semi-italic.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: Alverata, AlverataCaps;
    font-weight: 651 800;
    font-style: italic;
    src: url("../assets/fonts/alverata/reg/alverata-bold-italic.ttf") format("truetype"), url("../assets/fonts/alverata/reg/alverata-bold-italic.otf") format("opentype"), url("../assets/fonts/alverata/reg/alverata-bold-italic.woff") format("woff"), url("../assets/fonts/alverata/reg/alverata-bold-italic.woff2") format("woff2"), url("../assets/fonts/alverata/reg/alverata-bold-italic.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: Alverata, AlverataCaps;
    font-weight: 801 1000;
    font-style: italic;
    src: url("../assets/fonts/alverata/reg/alverata-black-italic.ttf") format("truetype"), url("../assets/fonts/alverata/reg/alverata-black-italic.otf") format("opentype"), url("../assets/fonts/alverata/reg/alverata-black-italic.woff") format("woff"), url("../assets/fonts/alverata/reg/alverata-black-italic.woff2") format("woff2"), url("../assets/fonts/alverata/reg/alverata-black-italic.svg") format("svg"); } }

@font-face {
  #tinymce {
    src: url("../assets/fonts/alverata/reg/alverata-light.ttf") format("truetype"), url("../assets/fonts/alverata/reg/alverata-light.otf") format("opentype"), url("../assets/fonts/alverata/reg/alverata-light.woff") format("woff"), url("../assets/fonts/alverata/reg/alverata-light.woff2") format("woff2"), url("../assets/fonts/alverata/reg/alverata-light.svg") format("svg"); }
    #tinymce font {
      family: AlverataCaps;
      weight: 0 350;
      style: normal; } }

@font-face {
  #tinymce {
    font-family: AlverataCaps;
    font-weight: 351 450;
    font-style: normal;
    src: url("../assets/fonts/alverata/reg/alverata.ttf") format("truetype"), url("../assets/fonts/alverata/reg/alverata.otf") format("opentype"), url("../assets/fonts/alverata/reg/alverata.woff") format("woff"), url("../assets/fonts/alverata/reg/alverata.woff2") format("woff2"), url("../assets/fonts/alverata/reg/alverata.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: AlverataCaps;
    font-weight: 451 550;
    font-style: normal;
    src: url("../assets/fonts/alverata/reg/alverata-med.ttf") format("truetype"), url("../assets/fonts/alverata/reg/alverata-med.otf") format("opentype"), url("../assets/fonts/alverata/reg/alverata-med.woff") format("woff"), url("../assets/fonts/alverata/reg/alverata-med.woff2") format("woff2"), url("../assets/fonts/alverata/reg/alverata-med.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: AlverataCaps;
    font-weight: 551 650;
    font-style: normal;
    src: url("../assets/fonts/alverata/reg/alverata-semi.ttf") format("truetype"), url("../assets/fonts/alverata/reg/alverata-semi.otf") format("opentype"), url("../assets/fonts/alverata/reg/alverata-semi.woff") format("woff"), url("../assets/fonts/alverata/reg/alverata-semi.woff2") format("woff2"), url("../assets/fonts/alverata/reg/alverata-semi.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: AlverataCaps;
    font-weight: 651 800;
    font-style: normal;
    src: url("../assets/fonts/alverata/reg/alverata-bold.ttf") format("truetype"), url("../assets/fonts/alverata/reg/alverata-bold.otf") format("opentype"), url("../assets/fonts/alverata/reg/alverata-bold.woff") format("woff"), url("../assets/fonts/alverata/reg/alverata-bold.woff2") format("woff2"), url("../assets/fonts/alverata/reg/alverata-bold.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: AlverataCaps;
    font-weight: 801 1000;
    font-style: normal;
    src: url("../assets/fonts/alverata/reg/alverata-black.ttf") format("truetype"), url("../assets/fonts/alverata/reg/alverata-black.otf") format("opentype"), url("../assets/fonts/alverata/reg/alverata-black.woff") format("woff"), url("../assets/fonts/alverata/reg/alverata-black.woff2") format("woff2"), url("../assets/fonts/alverata/reg/alverata-black.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: AlverataSemiBold;
    font-style: normal;
    src: url("../assets/fonts/alverata/irreg/alverataIrreg-semi.ttf") format("truetype"), url("../assets/fonts/alverata/irreg/alverataIrreg-semi.otf") format("opentype"), url("../assets/fonts/alverata/irreg/alverataIrreg-semi.woff") format("woff"), url("../assets/fonts/alverata/irreg/alverataIrreg-semi.woff2") format("woff2"), url("../assets/fonts/alverata/irreg/alverataIrreg-semi.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: AlverataSemiBold;
    font-style: italic;
    src: url("../assets/fonts/alverata/reg/alverata-semi-italic.ttf") format("truetype"), url("../assets/fonts/alverata/reg/alverata-semi-italic.otf") format("opentype"), url("../assets/fonts/alverata/reg/alverata-semi-italic.woff") format("woff"), url("../assets/fonts/alverata/reg/alverata-semi-italic.woff2") format("woff2"), url("../assets/fonts/alverata/reg/alverata-semi-italic.svg") format("svg"); } }

@font-face {
  #tinymce {
    font-family: Infidel;
    src: url("../assets/fonts/infidel.ttf"); } }

@font-face {
  #tinymce {
    font-family: Sokol;
    src: url("../assets/fonts/sokol.ttf"); } }

#tinymce * {
  /* FOUNDRY OVERRIDES */
  --font-primary: Alverata, serif;
  --font-mono: monospace;
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --line-height-12: 0.75rem;
  --line-height-16: 1rem;
  --line-height-20: 1.25rem;
  --line-height-30: 1.875rem;
  --font-primary-caps: AlverataCaps, serif;
  --font-icon: "Font Awesome 5 Free";
  --font-heading: Infidel, sans-serif;
  --font-decorative: Sokol, serif; }

#tinymce .dark-on-light {
  --KKK-color-primary: #000000;
  --KKK-color-primary-contrast: #958b68;
  --KKK-color-strong: #000000;
  --KKK-color-strongest: #000000;
  --KKK-color-trigger: #000000;
  --KKK-color-result-label: #9a1f1f;
  --KKK-color-keyword: #2a548a;
  --KKK-color-attribute: #2a548a;
  --KKK-color-roll-link: #183f72;
  --KKK-color-edge: #2a548a;
  --KKK-color-gm-text: #9a1f1f;
  --KKK-color-pos-mod: #183f72;
  --KKK-color-neg-mod: #730606; }

#tinymce, #tinymce > *, #tinymce .light-on-dark {
  --KKK-color-primary: #958b68;
  --KKK-color-primary-contrast: #000000;
  --KKK-color-strong: #c3bba1;
  --KKK-color-strongest: #e4ddc3;
  --KKK-color-trigger: #e4ddc3;
  --KKK-color-result-label: #ba3e3e;
  --KKK-color-keyword: #4084dd;
  --KKK-color-attribute: #4084dd;
  --KKK-color-roll-link: #688ab5;
  --KKK-color-edge: #4084dd;
  --KKK-color-gm-text: #ba3e3e;
  --KKK-color-pos-mod: #4084dd;
  --KKK-color-neg-mod: #e37070; }

#tinymce,
#tinymce *,
#tinymce input[type="text"],
#tinymce input[type="number"],
#tinymce textarea,
#tinymce select,
#tinymce option,
#tinymce img,
#tinymce ul,
#tinymce li,
#tinymce .mce-content-body,
#tinymce .mce-content-body *,
#tinymce .mce-content-body input[type="text"],
#tinymce .mce-content-body input[type="number"],
#tinymce .mce-content-body textarea,
#tinymce .mce-content-body select,
#tinymce .mce-content-body option,
#tinymce .mce-content-body img,
#tinymce .mce-content-body ul,
#tinymce .mce-content-body li {
  color: var(--KKK-color-primary);
  background: transparent;
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25rem;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  outline: none;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify; }
  #tinymce option,
  #tinymce * option,
  #tinymce input[type="text"] option,
  #tinymce input[type="number"] option,
  #tinymce textarea option,
  #tinymce select option,
  #tinymce option option,
  #tinymce img option,
  #tinymce ul option,
  #tinymce li option,
  #tinymce .mce-content-body option,
  #tinymce .mce-content-body * option,
  #tinymce .mce-content-body input[type="text"] option,
  #tinymce .mce-content-body input[type="number"] option,
  #tinymce .mce-content-body textarea option,
  #tinymce .mce-content-body select option,
  #tinymce .mce-content-body option option,
  #tinymce .mce-content-body img option,
  #tinymce .mce-content-body ul option,
  #tinymce .mce-content-body li option {
    background: #000000; }

#tinymce i[class^="fa"],
#tinymce .mce-content-body i[class^="fa"] {
  color: var(--KKK-color-primary);
  font-family: var(--font-icon);
  font-weight: 900;
  font-size: 0.875rem;
  text-align: center; }

#tinymce ul li:before,
#tinymce .mce-content-body ul li:before {
  content: "";
  display: inline-block;
  background: transparent url("../assets/icons/bullet2.svg") no-repeat center/cover;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scaleX(1.25) scale(0.8);
  -ms-transform: scaleX(1.25) scale(0.8);
  transform: scaleX(1.25) scale(0.8); }

#tinymce h1,
#tinymce h2,
#tinymce h3,
#tinymce h4,
#tinymce .mce-content-body h1,
#tinymce .mce-content-body h2,
#tinymce .mce-content-body h3,
#tinymce .mce-content-body h4 {
  font-family: var(--font-primary-caps);
  font-weight: 700;
  border: none; }
  #tinymce h1.tight,
  #tinymce h2.tight,
  #tinymce h3.tight,
  #tinymce h4.tight,
  #tinymce .mce-content-body h1.tight,
  #tinymce .mce-content-body h2.tight,
  #tinymce .mce-content-body h3.tight,
  #tinymce .mce-content-body h4.tight {
    margin-top: 0;
    margin-bottom: 0; }

#tinymce h1,
#tinymce .mce-content-body h1 {
  color: var(--KKK-color-primary-contrast);
  width: calc(100% + 2 * var(--KKK-horiz-padding));
  margin-left: calc(-1 * var(--KKK-horiz-padding));
  background: var(--KKK-color-primary);
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 2px; }

#tinymce .text-posmod,
#tinymce .text-negmod,
#tinymce .text-keyword,
#tinymce .text-attributename,
#tinymce .text-movename,
#tinymce .text-edgename,
#tinymce .text-gmtext,
#tinymce .text-resultlabel,
#tinymce .mce-content-body .text-posmod,
#tinymce .mce-content-body .text-negmod,
#tinymce .mce-content-body .text-keyword,
#tinymce .mce-content-body .text-attributename,
#tinymce .mce-content-body .text-movename,
#tinymce .mce-content-body .text-edgename,
#tinymce .mce-content-body .text-gmtext,
#tinymce .mce-content-body .text-resultlabel {
  font-weight: 700; }

#tinymce .text-keyword,
#tinymce .mce-content-body .text-keyword {
  color: var(--KKK-color-keyword); }

#tinymce .text-attributename,
#tinymce .mce-content-body .text-attributename {
  color: var(--KKK-color-attribute); }

#tinymce .text-movename,
#tinymce .mce-content-body .text-movename {
  color: var(--KKK-color-roll-link);
  font-style: italic; }

#tinymce .text-edgename,
#tinymce .mce-content-body .text-edgename {
  color: var(--KKK-color-edge); }

#tinymce .text-posmod,
#tinymce .text-posmod + .text-keyword,
#tinymce .text-posmod + .text-attributename,
#tinymce .mce-content-body .text-posmod,
#tinymce .mce-content-body .text-posmod + .text-keyword,
#tinymce .mce-content-body .text-posmod + .text-attributename {
  color: var(--KKK-color-pos-mod); }

#tinymce .text-negmod,
#tinymce .text-negmod + .text-keyword,
#tinymce .text-negmod + .text-attributename,
#tinymce .mce-content-body .text-negmod,
#tinymce .mce-content-body .text-negmod + .text-keyword,
#tinymce .mce-content-body .text-negmod + .text-attributename {
  color: var(--KKK-color-neg-mod); }

#tinymce .text-gmtext,
#tinymce .mce-content-body .text-gmtext {
  color: var(--KKK-color-gm-text); }

#tinymce .text-resultlabel,
#tinymce .mce-content-body .text-resultlabel {
  color: var(--KKK-color-result-label); }

#tinymce .text-trigger,
#tinymce .mce-content-body .text-trigger {
  color: var(--KKK-color-trigger);
  font-weight: 600;
  font-style: italic; }

#tinymce .edges-header,
#tinymce .mce-content-body .edges-header {
  -webkit-animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes neonGlow {
  0% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(255, 255, 255, 0.8), 0 0 4.5px rgba(255, 255, 255, 0.8), 0 0 8px rgba(65, 132, 220, 0.8), 0 0 12.5px rgba(65, 132, 220, 0.8), 0 0 16.5px rgba(65, 132, 220, 0.5), 0 0 21px rgba(65, 132, 220, 0.5), 0 0 29px rgba(65, 132, 220, 0.5), 0 0 41.5px rgba(65, 132, 220, 0.5); }
  100% {
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.8), 0 0 1.5px rgba(255, 255, 255, 0.8), 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(65, 132, 220, 0.8), 0 0 6px rgba(65, 132, 220, 0.8), 0 0 8px rgba(65, 132, 220, 0.8), 0 0 10.5px rgba(65, 132, 220, 0.8), 0 0 16.5px rgba(65, 132, 220, 0.8); } }

@keyframes neonGlow {
  0% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(255, 255, 255, 0.8), 0 0 4.5px rgba(255, 255, 255, 0.8), 0 0 8px rgba(65, 132, 220, 0.8), 0 0 12.5px rgba(65, 132, 220, 0.8), 0 0 16.5px rgba(65, 132, 220, 0.5), 0 0 21px rgba(65, 132, 220, 0.5), 0 0 29px rgba(65, 132, 220, 0.5), 0 0 41.5px rgba(65, 132, 220, 0.5); }
  100% {
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.8), 0 0 1.5px rgba(255, 255, 255, 0.8), 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(65, 132, 220, 0.8), 0 0 6px rgba(65, 132, 220, 0.8), 0 0 8px rgba(65, 132, 220, 0.8), 0 0 10.5px rgba(65, 132, 220, 0.8), 0 0 16.5px rgba(65, 132, 220, 0.8); } }

#tinymce {
  --kText-color: #958b68; }
