{{log "GM Tracker Sheet" this}}
<form class="kult4th-form form-gmtracker {{cssClass}}" autocomplete="off">

  {{> (concat "systems/kult4th/templates/sheets/gmtracker-phases/" item.system.gamePhase ".hbs")}}



  <footer class="phase-select-container phase-{{item.system.gamePhase}}">
    <span class="phase-container phase-uninitialized">
      <span class="phase-label">SCENARIO CONFIGURATION</span>
    </span>
    <span class="phase-container phase-initialized">
      <button class="phase-select-button" data-phase="initialized"></button>
      <span class="phase-label">WAITING FOR PLAYERS</span>
    </span>
    <span class="phase-container phase-chargen">
      <button class="phase-select-button" data-phase="chargen"></button>
      <span class="phase-label">CHARACTER CREATION</span>
    </span>
    <span class="phase-container phase-preSession">
      <button class="phase-select-button" data-phase="preSession"></button>
      <span class="phase-label">PRE-SESSION</span>
    </span>
    <span class="phase-container phase-session">
      <button class="phase-select-button" data-phase="session"></button>
      <span class="phase-label">SESSION</span>
    </span>
    <span class="phase-container phase-postSession">
      <button class="phase-select-button" data-phase="postSession"></button>
      <span class="phase-label">POST-SESSION</span>
    </span>
  </footer>

</form>