& {
  min-height: 100%;
  position: relative;
  top: -32px;
  overflow: visible;
  padding: 0;

  #chat-log {
    --debug-outline-opacity: 1;
    --debug-fill-opacity: 0.1;

    @include set-default-theme();

    --chat-text-color-dark: var(--color-body-text);
    --chat-font-size-small: #{$rem-12};
      --chat-line-height-small: calc(4 * var(--chat-font-size-small) / 3);
    --chat-font-size-large: #{$rem-14};
      --chat-line-height-large: calc(4 * var(--chat-font-size-large) / 3);

    --chat-vert-spacing: 44px;

    --chat-vert-padding-external: 0px;
    --chat-vert-padding-internal: 10px;
      --chat-vert-padding-total: calc(var(--chat-vert-padding-external) + var(--chat-vert-padding-internal));
    --chat-horiz-padding-external: 0px;
    --chat-horiz-padding-internal: 10px;
      --chat-horiz-padding-total: calc(var(--chat-horiz-padding-external) + var(--chat-horiz-padding-internal));

    --chat-intro-header-min-height: 30px;
      --chat-intro-header-max-height: calc(var(--chat-intro-header-min-height) + 20px);
    --chat-intro-header-dropcap-height: 120px;
    --chat-intro-header-dropcap-vert-shift: -12px;
      --chat-intro-header-dropcap-width: calc(0.5 * var(--chat-intro-header-dropcap-height));
      --chat-intro-header-dropcap-horiz-shift: calc(0.5 * var(--chat-intro-header-dropcap-width) + 20px);
      --chat-intro-header-text-horiz-shift: calc(var(--chat-intro-header-dropcap-horiz-shift));


    --chat-intro-header-icon-min-size: calc(var(--chat-intro-header-min-height) + var(--chat-vert-padding-internal) + 4px);
    --chat-intro-header-icon-max-size: calc(var(--chat-intro-header-max-height) + var(--chat-vert-padding-internal) + 4px);
    --chat-intro-header-icon-min-vert-shift: calc(var(--chat-intro-header-min-height) - var(--chat-intro-header-icon-min-size));
    --chat-intro-header-icon-max-vert-shift: calc(var(--chat-intro-header-max-height) - var(--chat-intro-header-icon-max-size));
    // --chat-intro-header-icon-max-vert-shift: 0;
    --chat-intro-header-icon-horiz-shift: -4px;

    --chat-source-header-name-border-color: var(--K4-color-primary-bright);
    --chat-source-header-name-bg-color: var(--K4-color-contrast-high);
    --chat-source-header-name-text-color: var(--K4-color-primary-bright);
    --chat-source-header-name-font-size: 20px;

    --chat-dice-results-term-size: 40px;
      --chat-dice-results-term-container-size: calc(var(--chat-dice-results-term-size) + 20px);
    --chat-dice-results-dice-total-width: 80px;
    --chat-dice-results-gear-size: 200px;
      --chat-dice-results-gear-horiz-shift: calc(50% + 0.5 * var(--chat-dice-results-dice-total-width) + var(--chat-horiz-padding-internal));
      --chat-dice-results-gear-img-horiz-shift: calc(-1 * (var(--chat-dice-results-gear-horiz-shift) - 50%));

    --chat-outcome-main-font-size: 48px;
    --chat-outcome-sub-font-size: 18px;

    .chat-message {
      width: calc(var(--sidebar-width) - 20px);
      margin: var(--chat-vert-spacing) 0 var(--chat-vert-spacing) calc(var(--sidebar-horiz-gutter) - var(--scrollbar-width) + 20px);
      padding: 0;
      position: relative;
      background: transparent;
      left: -10px;

      &:last-child {
        margin-bottom: 20px;

        .message-content .kult4th-chat {
          .roll-dice-results .roll-total {
            .roll-total-gear img,
            .roll-total-number {
              visibility: hidden;
            }
          }
        }
      }

      .message-header {
        opacity: 0;
        transition: 0.25s;
        position: absolute;
        padding: 0 5px;
        height: 20px;
        top: 0px;
        left: -2px;
        border: 2px outset var(--K4-dGOLD);
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: linear-gradient(var(--K4-dGOLD), var(--K4-dGOLD) 22px, transparent 24px);
        width: var(--sidebar-width);
        z-index: 3;

        &:hover {
          opacity: 1;
          top: -24px;
          height: 56px;
        }
      }

      .message-content {
        padding: var(--chat-vert-padding-external) var(--chat-horiz-padding-external);
        // width: var(--sidebar-width);
        min-height: 42px;

        .message-bg {
          position: absolute;
          height: 100%;
          width: 100%;
          border: 1px solid transparent;
          border-image: var(--K4-chat-border-image) 58 8 fill/58px 8px/20px 8px 36px 8px stretch;
          top: 0;
          left: 0;
          z-index: 0;
        }

        .kult4th-chat {
          position: relative;
          z-index: 2;
          font-size: var(--chat-font-size-small);
          line-height: var(--chat-line-height-small);
          padding:
            var(--chat-vert-padding-internal)
            var(--chat-horiz-padding-internal);

          > span, li, p {
            text-align: justify;
            display: block;
            width: 100%;
          }

          .roll-intro-header,
          .roll-source-header {
            width: calc(100% + 2 * var(--chat-horiz-padding-internal));
            margin: 0 calc(-1 * var(--chat-horiz-padding-internal));
          }

          .roll-intro-header {
            // background: rgba(0, 255, 0, var(--debug-fill-opacity));
            // outline: 1px dashed rgba(0, 255, 0, var(--debug-outline-opacity));

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            position: relative;
            height: var(--chat-intro-header-min-height);
            z-index: 3;
            --K4-icon-size: var(--chat-intro-header-icon-min-size);

            &.roll-intro-header-with-footer {
              height: var(--chat-intro-header-max-height);
              --K4-icon-size: var(--chat-intro-header-icon-max-size);

              .icon-container {
                top: var(--chat-intro-header-icon-max-vert-shift);
              }
            }

            .chat-portrait { display: none;
              position: absolute;
              box-sizing: border-box;
              height: var(--chat-intro-header-portrait-height);
              width: var(--chat-intro-header-portrait-width);
              top: var(--chat-intro-header-portrait-vert-shift);
              left: var(--chat-intro-header-portrait-horiz-shift);
              z-index: 1;
              border: 5px solid var(--K4-dGOLD);
              border-radius: 50%;
              overflow: hidden;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }

            .drop-cap {
              position: absolute;
              height: var(--chat-intro-header-dropcap-height);
              width: var(--chat-intro-header-dropcap-width);
              top: var(--chat-intro-header-dropcap-vert-shift);
              right: calc(100% - var(--chat-intro-header-dropcap-horiz-shift));
            }

            .roll-char-name {
              font-size: 32px !important;
              font-weight: $font-weight-bold;
              font-family: var(--font-primary-caps);
              font-variant: small-caps;
              text-transform: lowercase;
              color: var(--K4-color-primary);
              text-shadow: build-text-shadow(6px, var(--K4-dBLACK), 6);
              z-index: 3;
              padding-left: var(--chat-intro-header-text-horiz-shift);
              --K4-color-primary: var(--K4-gGOLD);
            }

            .roll-intro-line {
              display: block;
              text-align: center;
              font-size: $rem-16;
            }

            .icon-container {
              // display: none;
              position: absolute;

              left: unset;
              top: var(--chat-intro-header-icon-min-vert-shift);
              right: var(--chat-intro-header-icon-horiz-shift);
              background: transparent;
              transform-origin: center center;
              scale: -1 1;
              z-index: 2;
              opacity: 0.8;
              clip-path: none;
              // background: red;

              &.icon-move {
                filter: var(--K4-filter-bWHITE);

              }

              &.icon-advantage {
                filter: var(--K4-filter-gGOLD);
              }

              + .icon-container {
                scale: -1.25 1.25;
                z-index: 1;
                opacity: 0.5;

                img {
                  filter: blur(3px);
                }
              }
            }
          }

          .roll-source-header {
            border-top: solid 2px var(--chat-source-header-name-border-color);
            border-bottom: solid 2px var(--chat-source-header-name-border-color);
            background: var(--chat-source-header-name-bg-color);
            // background: rgba(0, 255, 0, var(--debug-fill-opacity));
            // outline: 1px dashed rgba(0, 255, 0, var(--debug-outline-opacity));
            position: relative;
            z-index: 2;
            margin-bottom: 10px;

            .roll-source-name {

              position: relative;

              .roll-source-text {
                // background: rgba(255, 255, 0, var(--debug-fill-opacity));
                // outline: 1px dashed rgba(255, 255, 0, var(--debug-outline-opacity));

                display: block;
                padding: 10px 0px;
                width: calc(100% + 2 * 8px - var(--chat-intro-header-text-horiz-shift));
                margin-left: calc(var(--chat-intro-header-text-horiz-shift) - 8px);
                color: var(--chat-source-header-name-text-color);

                font-size: var(--chat-source-header-name-font-size);
                font-family: var(--font-primary-caps);
                text-transform: uppercase;
                font-weight: $font-weight-black;
                text-align: center;
                // white-space: nowrap;
              }
            }

            .roll-source-source-name {
              // position: absolute;
              margin-bottom: -22px;
              margin-top: 0%;
              display: block;
              width: 100%;
              text-align: right;
              padding-right: 5px;
              // top: var(--source-item-vert-shift);
              // right: calc(-1 * var(--chat-horiz-padding-internal) + 3px);
              font-size: $rem-10;
              font-style: italic;


              .roll-source-text {
                color: var(--K4-color-primary-glow);
                font-family: var(--font-primary-smallcaps);
                text-transform: lowercase;
                font-weight: 600;
                font-style: normal;
                font-size: $rem-14;
              }
            }

            &.roll-source-header-with-footer {
              margin-bottom: 20px;
            }

          }

          &.chat-roll-result {

            &.roll-success {
              --roll-result-fg: var(--K4-color-primary-bright);
              --roll-outcome-height: var(--chat-outcome-main-font-size);
            }
            &.roll-partial {
              --roll-result-fg: var(--K4-color-primary);
              --roll-outcome-height: calc(var(--chat-outcome-main-font-size) + var(--chat-outcome-sub-font-size));
            }
            &.roll-failure {
              --roll-result-fg: var(--K4-RED);
              --roll-outcome-height: var(--chat-outcome-main-font-size);
              --roll-total-filter: brightness(1.85);
            }

            font-size: var(--chat-font-size-large);
            line-height: var(--chat-line-height-large);

            .roll-dice-results {
              display: grid;
              grid-template-areas:
                "roll-total roll-dice"
                "roll-total roll-modifiers"
                "roll-total roll-outcome";
              grid-template-columns: var(--chat-dice-results-dice-total-width) 1fr;
              grid-template-rows: var(--chat-dice-results-term-container-size) 1fr var(--roll-outcome-height);
              // margin-top: -40px;
              text-shadow: 0 0 1px var(--K4-BLACK) !important;
              position: relative;
              z-index: 0;

              // outline: 2px dashed rgba(255, 255, 0, var(--debug-outline-opacity));

              > * {
                // outline: 1px dotted rgba(0, 255, 0, var(--debug-outline-opacity));
              }

              .roll-total {
                grid-area: roll-total;
                position: relative;
                // transform-origin: bottom left;

                .roll-total-gear {
                  position: absolute;
                  z-index: -1;
                  transform: translate(-50%, -50%);
                  top: 50%;
                  left: var(--chat-dice-results-gear-horiz-shift);
                  height: var(--chat-dice-results-gear-size);
                  width: var(--chat-dice-results-gear-size);
                  overflow: hidden;

                  img {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    filter: blur(1.5px);
                    opacity: 0.75;
                    left: var(--chat-dice-results-gear-img-horiz-shift);
                  }
                }

                .roll-total-number {
                  position: absolute;
                  transform: translate(-50%, -50%);
                  top: 50%;
                  left: 50%;
                  filter: var(--roll-total-filter, none);
                }
              }
              .roll-dice-line {
                grid-area: roll-dice;
                display: flex;
                justify-content: space-evenly;
                position: relative;
                z-index: 1;

                .roll-term-container {
                  position: relative;
                  height: var(--chat-dice-results-term-container-size);
                  width: var(--chat-dice-results-term-container-size);

                  img {
                    position: absolute;
                    max-width: unset;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                  }

                  &.roll-d10 {
                    img {
                      height: var(--chat-dice-results-term-container-size);
                      width: var(--chat-dice-results-term-container-size);
                    }
                  }

                  &[class*='attribute-'] {
                    position: relative;
                    transform-origin: center center;
                    transform: scale(0.8);

                    img {
                      height: 300%;
                      width: 300%;
                    }

                    .roll-d10-value {
                      display: block;
                      position: relative;
                      z-index: 1;
                      text-align: center;
                      line-height: var(--chat-dice-results-term-container-size);
                      font-size: $rem-28;
                      font-weight: $font-weight-black;
                      &::first-letter {
                        font-size: $rem-18;
                        vertical-align: middle;
                      }

                      &[data-attrval="7"] {
                        color: var(--K4-bWHITE);
                      }
                      &[data-attrval="6"] {
                        color: var(--K4-bWHITE);
                      }

                      &[data-attrval="5"] {
                        color: var(--K4-bWHITE);
                      }

                      &[data-attrval="4"] {
                        color: var(--K4-WHITE);
                      }

                      &[data-attrval="3"] {
                        color: var(--K4-gGOLD);
                      }

                      &[data-attrval="2"] {
                        color: var(--K4-bGOLD);
                      }

                      &[data-attrval="1"] {
                        color: var(--K4-GOLD);
                      }

                      &[data-attrval="0"] {
                        color: var(--K4-dGOLD);
                      }

                      &[data-attrval="-1"] {
                        color: var(--K4-RED);
                      }

                      &[data-attrval="-2"] {
                        color: var(--K4-bRED);
                      }

                      &[data-attrval="-3"] {
                        color: var(--K4-gRED);
                      }

                      &[data-attrval="-4"] {
                        color: var(--K4-gRED);
                      }

                      &[data-attrval="-5"] {
                        color: var(--K4-gRED);
                        font-weight: $font-weight-black;
                      }
                    }

                    &.attribute-zero { display: none }
                    &.attribute-fortitude,
                    &.attribute-reason,
                    &.attribute-coolness { left: -10px }
                    &.attribute-reflexes,
                    &.attribute-intuition,
                    &.attribute-violence { left: 10px }
                  }
                }
              }
              .roll-modifiers {
                grid-area: roll-modifiers;
                position: relative;
              }
              .roll-outcome {
                grid-area: roll-outcome;
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                // justify-content: center;
                align-items: flex-end;

                > * {
                  text-shadow: build-text-shadow(4px, var(--K4-dBLACK), 2);
                  color: var(--roll-result-fg);
                  white-space: nowrap;
                  font-family: var(--font-heading-2);
                }

                .roll-outcome-main {
                  font-size: var(--chat-outcome-main-font-size);
                  line-height: calc(var(--chat-outcome-main-font-size) + 16px);
                  font-weight: $font-weight-black;
                }
                .roll-outcome-sub {
                  font-size: var(--chat-outcome-sub-font-size);
                  line-height: var(--chat-outcome-sub-font-size);
                  text-align: right;
                  // margin-top: 5px;
                  margin-right: 5px;
                  margin-top: -12px;
                  font-style: italic;
                  font-weight: $font-weight-bold;
                }
              }
            }

            .result-entry,
            .rules-top {
              margin: 0;
              position: relative;
              text-shadow: build-text-shadow(3px, var(--K4-dBLACK), 4);
              margin-top: 10px;
              > span {
                display: block;
                width: 100%;
                text-align: justify;
                margin: 0;
              }
            }
          }

          @import 'roll-result';

          ul,
          ul.rules-list,
          ul.inline-list {
            --K4-list-indent: 15px;
            li { text-align: left; }
          }
        }

      }

    }
  }

  #chat-controls {
    opacity: 0;
    margin-top: -14px;
    margin-bottom: -22px;
    pointer-events: none;
    transition: 0.5s;
    z-index: 3;
    min-height: 32px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    align-self: flex-end;
    background: linear-gradient(to left, var(--K4-dBLACK) 100%, transparent);
    background-clip: none;

    .chat-control-icon,
    .roll-type-select {
      display: none;
    }

    .control-buttons {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 15px;
    }

  }

  #chat-form {
    --sidebar-chat-form-height: 150px;
    --sidebar-chat-form-margin: 3px;
    --sidebar-chat-form-padding: 5px;
    flex: 0 0 var(--sidebar-chat-form-height);
    padding: var(--sidebar-chat-form-margin);
    margin-bottom: 0;
    display: flex;
    position: relative;
    top: 10px;
    border: 4px double var(--K4-dGOLD);
    margin-top: -6px;
    width: var(--sidebar-width);
    margin-left: var(--sidebar-horiz-gutter);
    left: calc(-1 * var(--sidebar-chat-form-padding));
    background: var(--K4-BLACK);


    &::before {
      content: "";
      display: block;
      height: auto;
      width: auto;
      position: absolute;
      top: 3px;
      left: 3px;
      bottom: 3px;
      right: 3px;
      background: transparent #{to-url("backgrounds/bg-black-leather.webp")} repeat center/500px 500px;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      z-index: 2;
    }

    &::after {
      content: "";
      display: block;
      height: auto;
      width: auto;
      position: absolute;
      top: 3px;
      left: 3px;
      bottom: 3px;
      right: 3px;
      background: transparent #{to-url("animations/chat-input-bg.webp")} repeat center/500px 500px;
      filter: grayscale(100%) sepia(100%) brightness(0.25) blur(5px);
      z-index: 1;
    }

    &:focus-within {
      border-color: var(--K4-bGOLD);
      &::before {
        opacity: 0;
      }
      #chat-message {
        box-shadow: inset 0 0 15px 5px var(--K4-dBLACK), inset 0 0 5px 150px rgba(0, 0, 0, 0.25);
      }
      #chat-input-controls {
        &::before {
          visibility: visible;
        }

        button {
          left: calc((-1 * var(--button-width)) - 5px);
          opacity: 0.75;
        }
      }
    }

    #chat-message {
      background: transparent;
      border-color: var(--K4-GOLD);
      font-family: var(--font-primary);
      margin: 0;
      height: auto;
      width: auto;
      position: absolute;
      z-index: 2;
      top: 3px;
      left: 3px;
      bottom: 3px;
      right: 3px;
    }

    #chat-input-controls {
      --button-width: 30px;
      --button-active-width: 40px;

      position: absolute;
      height: 100%;
      width: 30px;
      display: flex;
      flex-direction: column;
      left: 0px;
      transition: 0.5s;
      opacity: 1;

      button {
        transform-origin: center center;
        position: relative;
        transition: 0.5s;
        left: 0;
        opacity: 0;
        box-shadow: none !important;
        filter: brightness(0.5);

        i { scale: 1.5; }

        .button-label {
          position: absolute;
          white-space: nowrap;
          top: 0px;
          right: calc((-1 * var(--button-width)) - 5px);
          opacity: 0;
          font-family: 'KultrataSC';
          text-transform: lowercase;
          transition: 0.5s;
        }

        &:hover {
          opacity: 1;
          filter: brightness(1);
          width: calc(var(--button-width) + 5px);
          left: calc(-1 * var(--button-width) - 10px);

          .button-label {
            right: calc(var(--button-width) + 15px);
            opacity: 1;
          }
        }
      }

      &::before {
        width: calc(var(--sidebar-width) - 2*var(--sidebar-chat-form-padding));
        position: absolute;
        z-index: 4;
        text-align: center;
        bottom: 3px;
        font-size: 12px;
        font-family: var(--font-primary-smallcaps);
        visibility: hidden;
        font-weight: $font-weight-black;
      }
    }

    &[data-type='ic'] {
      #chat-input-controls::before {
        content: "( in-character )"
      }

      #ic { filter: grayscale(1) brightness(1.5); }
    }
    &[data-type='ooc'] {
      #chat-input-controls::before {
        content: "( out-of-character )";
        color: var(--K4-BLACK);
      }

      #ooc { filter: grayscale(1) brightness(1.5); }
      border-color: var(--K4-BLUE);
      &::after {
        opacity: 1;
        filter: grayscale(100%) blur(5px) invert(1);
      }
      #chat-message {
        color: var(--K4-BLACK);
        text-shadow: none;
        font-weight: 500;
        box-shadow: none !important;
      }
    }
    &[data-type='gm'] {
      #chat-input-controls::before {
        content: "( private message to gamemaster )";
        color: var(--K4-WHITE);
      }
      #gm { filter: grayscale(1) brightness(1.5); }
      border-color: var(--K4-GREY);
      &::after {
        filter: grayscale(100%) brightness(1) blur(5px);
      }
      #chat-message {
        font-style: italic;
        font-weight: 500;
        color: var(--K4-WHITE);
      }
    }
  }
}
