& {
	font-size: 12px;

	.message-header { }

	.message-content {
		.item-name:nth-child(2) {
			background: linear-gradient(90deg, var(--black), var(--red) 35%, var(--red) 65%, var(--black));
			line-height: 27px;
			height: 24px;
			color: var(--black);
			font-weight: 700;
		}
	}
}
