{{dbLog "{CHAT} roll-result.hbs" this}}
<form class="kult-text-container kult4th-form {{cssClass}}" autocomplete="off">
{{> "systems/kult4th/templates/components/roll-result.hbs" type="active-rolled" diceRange="" result=result context=context}}
{{~#if result.listRefs}}
	{{> "systems/kult4th/templates/components/item-list.hbs" lists=context.data.data.lists listRefs=result.listRefs itemData=context.data isDisplayingName=true}}
{{/if}}
</form>