<div class="advancement-line {{#if (eq template "header")}}header{{/if}} {{#unless isActive}}greyed-out{{/unless}}" data-type="{{type}}" data-index="{{index}}">
	<label class="advancement-{{~#if (eq template "header")}}header{{else}}label{{/if}}">{{{label}}}</label>
</div>