<div class="attribute-box" data-attribute="{{key}}">
	<img src="/systems/kult4th/assets/animations/attribute-flare.webp">
	<span class="animation-mask"></span>
	<span class="attribute-title">{{name}}</span>
	<select class="attribute-value" name="data.attributes.{{key}}.value" value="{{value}}" required>
		{{#select value}}
		<option name="" value="" selected hidden disabled> </option>
		<option value="7">+7</option>
		<option value="6">+6</option>
		<option value="5">+5</option>
		<option value="4">+4</option>
		<option value="3">+3</option>
		<option value="2">+2</option>
		<option value="1">+1</option>
		<option value="0">0</option>
		<option value="-1">−1</option>
		<option value="-2">−2</option>
		<option value="-3">−3</option>
		<option value="-4">−4</option>
		<option value="-5">−5</option>
		{{/select}}
	</select>
</div>