{{log "Roll Result Entry THIS" this}}
{{log "Roll Result Entry RESULT" result}}
<div class="result-entry">
	<label class="text-tag text-resultlabel">{{{diceRange}}}</label>
	<span>{{{formatForKult result}}}</span>
</div>