{{dbLog "{SHEET} item-sheet.hbs" this}}

<form class="kult4th-form {{cssClass}} {{~#if item.flags.kult4th.isWide}} wide-content{{/if}}" autocomplete="off">
	{{> "systems/kult4th/templates/partials/item-block.hbs"}}
</form>