#tinymce {
  /* OFFICIAL KULT COLORS

  KULT GOLD
  	...print:   Pantone 8382C				#9C8F69
  	...adobe:   rgb(150,140,106)    #968C6A

  	GOLD - #968C6A		Tints 		Shades
  										#ABA388	  #787055
  										#BCB5A0	  #605A44
  										#C9C4B3	  #4D4836
  										#D4D0C2	  #3E3A2B
  										#DDD9CE	  #322E22
  										#E4E1D8	  #28251B
  										#E9E7E0	  #201E16
  										#EDECE6	  #1A1812
  										#F1F0EB	  #15130E

  KULT RED
  	...print:	  cmyk(6,94,85,23)		#B90B1D
  	...adobe:   rgb(155,32,32)      #9B2020

  	RED - #9B2020		Tints 		Shades
  										#AF4D4D	  #7C1A1A
  										#BF7171	  #631515
  										#CC8D8D	  #4F1111
  										#D6A4A4	  #3F0E0E
  										#DEB6B6	  #320B0B
  										#E5C5C5	  #280909
  										#EAD1D1	  #200707
  										#EEDADA	  #1A0606
  										#F1E1E1	  #150505

  KULT BLUE
  	...print    cmyk(90,53,8,22)		#145DB7
  	...adobe:   rgb(43,85,139)      #2B558B

  	BLUE - #2B558B	Tints  		Shades
  										#5577A2		#22446F
  										#7792B5		#1B3659
  										#92A8C4		#162B47
  										#A8B9D0		#122239
  										#B9C7D9		#0E1B2E
  										#C7D2E1		#0B1625
  										#D2DBE7		#09121E
  										#DBE2EC		#070E18
  										#E2E8F0		#060B13

  Kult Black
  	...adobe:   rgb(30,30,28)       #1E1E1C
  Kult Grey
  Kult White:  #FFFFFF */
  /* GRADIENTS */
  /* COLOR PALETTE & DEFAULT FOUNDRY OVERRIDES */
}
@font-face {
  font-family: "Kultrata";
  font-weight: 300; /* Light */
  font-style: normal;
  src: url("/systems/kult4th/assets/fonts/Kultrata-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Kultrata";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("/systems/kult4th/assets/fonts/Kultrata-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Kultrata";
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url("/systems/kult4th/assets/fonts/Kultrata-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Kultrata";
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
  src: url("/systems/kult4th/assets/fonts/Kultrata-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "Kultrata";
  font-weight: 700 800; /* Bold and 800 */
  font-style: normal;
  src: url("/systems/kult4th/assets/fonts/Kultrata-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Kultrata";
  font-weight: 900; /* Black */
  font-style: normal;
  src: url("/systems/kult4th/assets/fonts/Kultrata-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Kultrata";
  font-weight: 300; /* Light */
  font-style: italic;
  src: url("/systems/kult4th/assets/fonts/Kultrata-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Kultrata";
  font-weight: 400; /* Regular */
  font-style: italic;
  src: url("/systems/kult4th/assets/fonts/Kultrata-RegularItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Kultrata";
  font-weight: 500; /* Medium */
  font-style: italic;
  src: url("/systems/kult4th/assets/fonts/Kultrata-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Kultrata";
  font-weight: 600; /* Semi-Bold */
  font-style: italic;
  src: url("/systems/kult4th/assets/fonts/Kultrata-SemiboldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Kultrata";
  font-weight: 700 800; /* Bold and 800 */
  font-style: italic;
  src: url("/systems/kult4th/assets/fonts/Kultrata-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Kultrata";
  font-weight: 900; /* Black */
  font-style: italic;
  src: url("/systems/kult4th/assets/fonts/Kultrata-BlackItalic.woff2") format("woff2");
}
@font-face {
  font-family: "KultrataHeader";
  font-weight: 900; /* Black */
  font-style: normal;
  src: url("/systems/kult4th/assets/fonts/KultrataTitle-Black.woff2") format("woff2");
}
@font-face {
  font-family: "KultrataHeader";
  font-weight: 100 800; /* All Other Weights */
  font-style: normal;
  src: url("/systems/kult4th/assets/fonts/KultrataTitle-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "KultrataSC";
  font-weight: 300; /* Light */
  font-style: normal;
  src: url("/systems/kult4th/assets/fonts/KultrataSC-Light.woff2") format("woff2");
}
@font-face {
  font-family: "KultrataSC";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("/systems/kult4th/assets/fonts/KultrataSC-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "KultrataSC";
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url("/systems/kult4th/assets/fonts/KultrataSC-medium.woff2") format("woff2");
}
@font-face {
  font-family: "KultrataSC";
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
  src: url("/systems/kult4th/assets/fonts/KultrataSC-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "KultrataSC";
  font-weight: 700 800; /* Bold and 800 */
  font-style: normal;
  src: url("/systems/kult4th/assets/fonts/KultrataSC-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "KultrataSC";
  font-weight: 900; /* Black */
  font-style: normal;
  src: url("/systems/kult4th/assets/fonts/KultrataSC-Black.woff2") format("woff2");
}
@font-face {
  font-family: Infidel;
  src: url("/systems/kult4th/assets/fonts/Infidel.woff2") format("woff2");
}
@font-face {
  font-family: Sokol;
  src: url("/systems/kult4th/assets/fonts/Sokol.woff2") format("woff2");
}
@font-face {
  font-family: GrandpasScript;
  src: url("/systems/kult4th/assets/fonts/GrandpasScript-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Leviathan;
  src: url("/systems/kult4th/assets/fonts/Leviathan.woff2") format("woff2");
}
@font-face {
  font-family: ManoNegra;
  src: url("/systems/kult4th/assets/fonts/ManoNegra-Regular.woff2") format("woff2");
  font-weight: 100 600; /* All Sub-Bold Weights */
}
@font-face {
  font-family: ManoNegra;
  src: url("/systems/kult4th/assets/fonts/ManoNegra-Bold.woff2") format("woff2");
  font-weight: 700 900; /* Bold, Black */
}
#tinymce * {
  /* FOUNDRY OVERRIDES */
  --font-primary: Kultrata, serif;
  --font-primary-italics: Kultrata, serif;
  --font-mono: monospace;
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --line-height-12: 2px;
  --line-height-16: 16px;
  --line-height-20: 20px;
  --line-height-30: 30px;
  --font-primary-caps: KultrataHeader, serif;
  --font-icon: "Font Awesome 5 Free";
  --font-heading-1: Infidel, sans-serif;
  --font-heading-2: KultrataHeader, serif;
  --font-primary-smallcaps: KultrataSC, serif;
  --font-decorative: Sokol, serif;
  --font-decorative-alt: Ravenscroft, serif;
  --font-handwritten: GrandpaScript, serif;
}
#tinymce {
  --K4-color-primary: var(--K4-GOLD);
  --K4-color-primary-bright: var(--K4-bGOLD);
  --K4-color-primary-glow: var(--K4-gGOLD);
  --K4-color-contrast: var(--K4-BLACK);
  --K4-color-contrast-low: var(--K4-dGOLD);
  --K4-color-contrast-high: var(--K4-dBLACK);
  --K4-color-title-fg: var(--K4-color-primary-bright);
  --K4-color-title-bg: transparent;
  --K4-color-header: var(--K4-bRED);
  --K4-color-keyword: var(--K4-gGOLD);
  --K4-color-keyword-bright: var(--K4-gGOLD);
  --K4-color-pos: var(--K4-gGOLD);
  --K4-color-neg: var(--K4-bRED);
  --K4-neon-text-color: var(--K4-bWHITE);
  --K4-font-primary: var(--font-primary);
  --K4-font-weight-primary: 400;
  --K4-list-indent: 12px;
  --K4-bg: transparent url("/assets/backgrounds/bg-item-gold.webp") no-repeat no-repeat center center / 100% 100%;
  --K4-bg-inset: transparent url("/assets/backgrounds/bg-gold.webp") repeat repeat center center/1000px 1000px;
  --K4-chat-border-image: url("/assets/chat/border-default.webp");
  --K4-bullet: transparent url("/assets/icons/bullets/bullet-gold-bright.svg") no-repeat center center/calc(0.5 * var(--K4-list-indent));
  --K4-strip-main-color-fg: var(--K4-color-primary-bright);
  --K4-strip-main-color-bg: var(--K4-color-contrast);
  --K4-strip-icon-color-bg: var(--K4-strip-main-color-bg);
  --K4-strip-button-color-fg: var(--K4-color-contrast);
  --K4-strip-button-color-bg: var(--K4-color-primary);
  --K4-strip-button-hover-color-fg: var(--K4-color-contrast-high);
  --K4-strip-button-hover-color-bg: var(--K4-color-primary-glow);
  --K4-strip-tooltip-color-fg: var(--K4-bWHITE);
  --K4-strip-tooltip-color-bg: var(--K4-dBLACK);
  --color-text-light-primary: var(--K4-color-primary);
  --color-text-light-highlight: var(--K4-color-primary-glow);
  --color-text-light-heading: var(--K4-color-primary-bright);
  --chat-text-color-dark: var(--K4-color-primary-bright);
  --color-text-dark-secondary: var(--K4-color-primary);
  --color-text-dark-header: var(--K4-color-contrast);
  --color-text-dark-inactive: var(--K4-GREY);
  --color-text-hyperlink: var(--K4-color-keyword);
  --color-text-light-0: var(--K4-bWHITE);
  --color-text-light-1: var(--K4-WHITEt);
  --color-text-light-2: var(--K4-color-primary-glow);
  --color-text-light-3: var(--K4-color-primary-glow);
  --color-text-light-4: var(--K4-color-primary-bright);
  --color-text-light-5: var(--K4-color-primary-bright);
  --color-text-light-6: var(--K4-color-primary);
  --color-text-light-7: var(--K4-color-primary);
  --color-text-dark-1: var(--K4-color-contrast);
  --color-text-dark-2: var(--K4-color-contrast);
  --color-text-dark-3: var(--K4-color-contrast-low);
  --color-text-dark-4: var(--K4-color-contrast-low);
  --color-text-dark-5: var(--K4-color-contrast-low);
  --color-text-dark-6: var(--K4-color-contrast-low);
  --color-border-light-1: var(--K4-color-primary-bright);
  --color-border-light-2: var(--K4-color-primary);
  --color-border-dark-1: var(--K4-color-primary);
  --color-border-dark-2: var(--K4-color-primary);
  --color-border-dark-3: var(--K4-color-primary-dark);
  --color-border-dark-4: var(--K4-color-primary-dark);
  --color-border-dark-5: var(--K4-color-primary-dark);
  --color-shadow-primary: var(--K4-color-primary);
  --color-shadow-highlight: var(--K4-color-primary-bright);
  --color-shadow-dark: var(--K4-color-contrast-high);
  --color-underline-inactive: var(--K4-color-primary-dark);
  --color-underline-active: var(--K4-color-keyword-bright);
  --color-underline-header: var(--K4-color-primary);
  --color-border-light-highlight: var(--K4-color-primary-glow);
  --color-border-light-primary: var(--K4-color-primary-bright);
  --color-border-light-secondary: var(--K4-color-primary-bright);
  --color-border-light-tertiary: var(--K4-color-primary);
  --color-border-dark: #000;
  --color-border-dark-primary: var(--K4-color-contrast);
  --color-border-dark-secondary: var(--K4-color-contrast-low);
  --color-border-dark-tertiary: var(--K4-color-contrast-low);
  --color-border-highlight: var(--K4-color-primary-bright);
  --color-border-highlight-alt: var(--K4-color-primary-bright);
  --color-bg-btn-minor-inactive: var(--K4-color-primary-bright);
  --color-bg-btn-minor-active: var(--K4-color-primary-bright);
  --color-bg-option: var(--K4-color-primary-bright);
}
#tinymce .k4-theme-gold, #tinymce .k4-theme-bgold {
  --K4-color-primary: var(--K4-GOLD);
  --K4-color-primary-bright: var(--K4-bGOLD);
  --K4-color-primary-glow: var(--K4-gGOLD);
  --K4-color-contrast: var(--K4-BLACK);
  --K4-color-contrast-low: var(--K4-dGOLD);
  --K4-color-contrast-high: var(--K4-dBLACK);
  --K4-color-title-fg: var(--K4-color-primary-bright);
  --K4-color-title-bg: transparent;
  --K4-color-header: var(--K4-bRED);
  --K4-color-keyword: var(--K4-gGOLD);
  --K4-color-keyword-bright: var(--K4-gGOLD);
  --K4-color-pos: var(--K4-gGOLD);
  --K4-color-neg: var(--K4-bRED);
  --K4-neon-text-color: var(--K4-bWHITE);
  --K4-font-primary: var(--font-primary);
  --K4-font-weight-primary: 400;
  --K4-list-indent: 12px;
  --K4-bg: transparent url("/assets/backgrounds/bg-item-gold.webp") no-repeat no-repeat center center / 100% 100%;
  --K4-bg-inset: transparent url("/assets/backgrounds/bg-gold.webp") repeat repeat center center/1000px 1000px;
  --K4-chat-border-image: url("/assets/chat/border-default.webp");
  --K4-bullet: transparent url("/assets/icons/bullets/bullet-gold-bright.svg") no-repeat center center/calc(0.5 * var(--K4-list-indent));
  --K4-strip-main-color-fg: var(--K4-color-primary-bright);
  --K4-strip-main-color-bg: var(--K4-color-contrast);
  --K4-strip-icon-color-bg: var(--K4-strip-main-color-bg);
  --K4-strip-button-color-fg: var(--K4-color-contrast);
  --K4-strip-button-color-bg: var(--K4-color-primary);
  --K4-strip-button-hover-color-fg: var(--K4-color-contrast-high);
  --K4-strip-button-hover-color-bg: var(--K4-color-primary-glow);
  --K4-strip-tooltip-color-fg: var(--K4-bWHITE);
  --K4-strip-tooltip-color-bg: var(--K4-dBLACK);
}
#tinymce .k4-theme-gold.k4-theme-bgold, #tinymce .k4-theme-bgold.k4-theme-bgold {
  --K4-color-primary: var(--K4-bGOLD);
  --K4-color-contrast: var(--K4-dBLACK);
  --K4-bg-inset: transparent url("/assets/backgrounds/bg-gold.webp") repeat repeat center center/1000px 1000px;
  --K4-chat-border-image: url("/assets/chat/border-bgold.svg");
}
#tinymce .k4-theme-white {
  --K4-color-primary: var(--K4-BLACK);
  --K4-color-primary-bright: var(--K4-dBLACK);
  --K4-color-primary-glow: var(--K4-dBLACK);
  --K4-color-contrast: var(--K4-WHITE);
  --K4-color-contrast-low: var(--K4-bGREY);
  --K4-color-contrast-high: var(--K4-bWHITE);
  --K4-font-primary: var(--font-primary);
  --K4-font-weight-primary: 400;
  --K4-color-title-fg: var(--K4-color-primary-bright);
  --K4-color-header: var(--K4-RED);
  --K4-list-indent: 12px;
  --K4-bg: transparent url("/assets/backgrounds/bg-item-white.webp") no-repeat no-repeat center center / 100% 100%;
  --K4-bg-inset: transparent url("/assets/backgrounds/bg-white.webp") repeat repeat center center/1000px 1000px;
  --K4-chat-border-image: url("/assets/chat/border-white.svg");
  --K4-bullet: transparent url("/assets/icons/bullets/bullet-gold.svg") no-repeat center center/calc(0.5 * var(--K4-list-indent));
  --K4-strip-main-color-fg: var(--K4-color-primary-bright);
  --K4-strip-main-color-bg: var(--K4-color-contrast);
  --K4-strip-icon-color-bg: var(--K4-strip-main-color-bg);
  --K4-strip-button-color-fg: var(--K4-color-contrast);
  --K4-strip-button-color-bg: var(--K4-color-primary);
  --K4-strip-button-hover-color-fg: var(--K4-color-contrast-high);
  --K4-strip-button-hover-color-bg: var(--K4-color-primary-glow);
  --K4-strip-tooltip-color-fg: var(--K4-bWHITE);
  --K4-strip-tooltip-color-bg: var(--K4-dBLACK);
  --K4-color-keyword: var(--K4-BLUE);
  --K4-color-keyword-bright: var(--K4-dBLUE);
  --K4-color-pos: var(--K4-BLUE);
  --K4-color-neg: var(--K4-RED);
}
#tinymce .k4-theme-white .icon-container .chat-icon {
  background: var(--K4-GREY) !important;
}
#tinymce .k4-theme-white .text-negmod, #tinymce .k4-theme-white .text-gmtext, #tinymce .k4-theme-white .text-negmod + .text-keyword {
  color: var(--K4-RED) !important;
  text-shadow: none !important;
}
#tinymce .k4-theme-white .text-posmod, #tinymce .k4-theme-white .text-posmod + .text-keyword {
  color: var(--K4-bBLUE) !important;
  text-shadow: none !important;
}
#tinymce .k4-theme-blue {
  --K4-color-primary: var(--K4-bWHITE);
  --K4-color-primary-bright: var(--K4-bWHITE);
  --K4-color-primary-glow: var(--K4-bBLUE);
  --K4-color-contrast: var(--K4-WHITE);
  --K4-color-contrast-low: var(--K4-bGOLD);
  --K4-color-contrast-high: var(--K4-bWHITE);
  --K4-font-primary: var(--font-primary);
  --K4-font-weight-primary: 400;
  --K4-color-title-fg: var(--K4-color-primary-bright);
  --K4-color-header: var(--K4-RED);
  --K4-list-indent: 12px;
  --K4-bg: transparent url("/assets/backgrounds/bg-item-white.webp") no-repeat no-repeat center center / 100% 100%;
  --K4-bg-inset: transparent url("/assets/backgrounds/bg-white.webp") repeat repeat center center/1000px 1000px;
  --K4-chat-border-image: url("/assets/chat/border-white.svg");
  --K4-bullet: transparent url("/assets/icons/bullets/bullet-gold.svg") no-repeat center center/calc(0.5 * var(--K4-list-indent));
  --K4-strip-main-color-fg: var(--K4-color-primary-bright);
  --K4-strip-main-color-bg: var(--K4-color-contrast);
  --K4-strip-icon-color-bg: var(--K4-strip-main-color-bg);
  --K4-strip-button-color-fg: var(--K4-color-contrast);
  --K4-strip-button-color-bg: var(--K4-color-primary);
  --K4-strip-button-hover-color-fg: var(--K4-color-contrast-high);
  --K4-strip-button-hover-color-bg: var(--K4-color-primary-glow);
  --K4-strip-tooltip-color-fg: var(--K4-bWHITE);
  --K4-strip-tooltip-color-bg: var(--K4-dBLACK);
  --K4-color-keyword: var(--K4-BLUE);
  --K4-color-keyword-bright: var(--K4-dBLUE);
  --K4-color-pos: var(--K4-BLUE);
  --K4-color-neg: var(--K4-RED);
}
#tinymce .k4-theme-dark, #tinymce .k4-theme-black {
  --K4-color-primary: var(--K4-WHITE);
  --K4-color-primary-bright: var(--K4-bWHITE);
  --K4-color-primary-glow: var(--K4-bWHITE);
  --K4-color-contrast: var(--K4-BLACK);
  --K4-color-contrast-low: var(--K4-dGOLD);
  --K4-color-contrast-high: var(--K4-dBLACK);
  --K4-font-primary: var(--font-primary);
  --K4-font-weight-primary: 400;
  --K4-color-title-fg: var(--K4-color-primary-bright);
  --K4-color-title-bg: transparent;
  --K4-color-header: var(--K4-bRED);
  --K4-list-indent: 12px;
  --K4-bg: transparent url("/assets/backgrounds/bg-item-dark.webp") no-repeat no-repeat center center / 100% 100%;
  --K4-bg-inset: transparent url("/assets/backgrounds/bg-dark.webp") repeat repeat center center/1000px 1000px;
  --K4-chat-border-image: url("/assets/chat/border-dark.svg");
  --K4-bullet: transparent url("/assets/icons/bullets/bullet-white.svg") no-repeat center center/calc(0.5 * var(--K4-list-indent));
  --K4-strip-main-color-fg: var(--K4-color-primary);
  --K4-strip-main-color-bg: var(--K4-color-contrast);
  --K4-strip-icon-color-bg: var(--K4-strip-main-color-bg);
  --K4-strip-button-color-fg: var(--K4-color-contrast);
  --K4-strip-button-color-bg: var(--K4-color-primary);
  --K4-strip-button-hover-color-fg: var(--K4-color-contrast-high);
  --K4-strip-button-hover-color-bg: var(--K4-color-primary-glow);
  --K4-strip-tooltip-color-fg: var(--K4-bWHITE);
  --K4-strip-tooltip-color-bg: var(--K4-dBLACK);
  --K4-color-keyword: var(--K4-bWHITE);
  --K4-color-keyword-bright: var(--K4-bWHITE);
  --K4-color-pos: var(--K4-bWHITE);
  --K4-color-neg: var(--K4-bRED);
}
#tinymce .k4-theme-dark.k4-theme-black, #tinymce .k4-theme-black.k4-theme-black {
  --K4-color-contrast: var(--K4-dBLACK);
  --K4-bg-inset: transparent url("/assets/backgrounds/bg-black-leather.webp") repeat repeat center center/1000px 1000px;
}
#tinymce .k4-theme-red {
  --K4-color-primary: var(--K4-WHITE);
  --K4-color-primary-bright: var(--K4-bRED);
  --K4-color-primary-glow: var(--K4-gRED);
  --K4-color-contrast: var(--K4-BLACK);
  --K4-color-contrast-low: var(--K4-RED);
  --K4-color-contrast-high: var(--K4-dBLACK);
  --K4-font-primary: var(--font-primary);
  --K4-font-weight-primary: 500;
  --K4-color-title-fg: var(--K4-color-primary-bright);
  --K4-color-title-bg: transparent;
  --K4-color-header: var(--K4-bRED);
  --K4-list-indent: 12px;
  --K4-bg: transparent url("/assets/backgrounds/bg-item-red.webp") no-repeat no-repeat center center / 100% 100%;
  --K4-bg-inset: transparent url("/assets/backgrounds/bg-red.webp") repeat repeat center center/1000px 1000px;
  --K4-chat-border-image: url("/assets/chat/border-failure.webp");
  --K4-bullet: transparent url("/assets/icons/bullets/bullet-red.svg") no-repeat center center/calc(0.5 * var(--K4-list-indent));
  --K4-strip-main-color-fg: var(--K4-color-primary-bright);
  --K4-strip-main-color-bg: var(--K4-color-contrast);
  --K4-strip-icon-color-bg: var(--K4-strip-main-color-bg);
  --K4-strip-button-color-fg: var(--K4-color-contrast);
  --K4-strip-button-color-bg: var(--K4-color-primary);
  --K4-strip-button-hover-color-fg: var(--K4-color-contrast-high);
  --K4-strip-button-hover-color-bg: var(--K4-color-primary-glow);
  --K4-strip-tooltip-color-fg: var(--K4-bWHITE);
  --K4-strip-tooltip-color-bg: var(--K4-dBLACK);
  --K4-color-keyword: var(--K4-bRED);
  --K4-color-keyword-bright: var(--K4-bRED);
  --K4-color-pos: var(--K4-RED);
  --K4-color-neg: var(--K4-RED);
}
#tinymce,
#tinymce *,
#tinymce input[type=text],
#tinymce input[type=number],
#tinymce textarea,
#tinymce select,
#tinymce option,
#tinymce img,
#tinymce ul,
#tinymce li,
#tinymce .mce-content-body,
#tinymce .mce-content-body *,
#tinymce .mce-content-body input[type=text],
#tinymce .mce-content-body input[type=number],
#tinymce .mce-content-body textarea,
#tinymce .mce-content-body select,
#tinymce .mce-content-body option,
#tinymce .mce-content-body img,
#tinymce .mce-content-body ul,
#tinymce .mce-content-body li {
  color: var(--K4-color-primary);
  font-feature-settings: "salt", "lnum";
  border: none;
  hyphens: auto;
}
#tinymce option,
#tinymce * option,
#tinymce input[type=text] option,
#tinymce input[type=number] option,
#tinymce textarea option,
#tinymce select option,
#tinymce option option,
#tinymce img option,
#tinymce ul option,
#tinymce li option,
#tinymce .mce-content-body option,
#tinymce .mce-content-body * option,
#tinymce .mce-content-body input[type=text] option,
#tinymce .mce-content-body input[type=number] option,
#tinymce .mce-content-body textarea option,
#tinymce .mce-content-body select option,
#tinymce .mce-content-body option option,
#tinymce .mce-content-body img option,
#tinymce .mce-content-body ul option,
#tinymce .mce-content-body li option {
  background: var(--K4-color-contrast);
}
#tinymce.kult-text-container,
#tinymce *.kult-text-container,
#tinymce input[type=text].kult-text-container,
#tinymce input[type=number].kult-text-container,
#tinymce textarea.kult-text-container,
#tinymce select.kult-text-container,
#tinymce option.kult-text-container,
#tinymce img.kult-text-container,
#tinymce ul.kult-text-container,
#tinymce li.kult-text-container,
#tinymce .mce-content-body.kult-text-container,
#tinymce .mce-content-body *.kult-text-container,
#tinymce .mce-content-body input[type=text].kult-text-container,
#tinymce .mce-content-body input[type=number].kult-text-container,
#tinymce .mce-content-body textarea.kult-text-container,
#tinymce .mce-content-body select.kult-text-container,
#tinymce .mce-content-body option.kult-text-container,
#tinymce .mce-content-body img.kult-text-container,
#tinymce .mce-content-body ul.kult-text-container,
#tinymce .mce-content-body li.kult-text-container {
  text-align: justify;
}
#tinymce textarea,
#tinymce input[type=text],
#tinymce select,
#tinymce .content-editable,
#tinymce .mce-content-body textarea,
#tinymce .mce-content-body input[type=text],
#tinymce .mce-content-body select,
#tinymce .mce-content-body .content-editable {
  overflow: hidden;
  pointer-events: auto !important;
}
#tinymce textarea:invalid,
#tinymce input[type=text]:invalid,
#tinymce select:invalid,
#tinymce .content-editable:invalid,
#tinymce .mce-content-body textarea:invalid,
#tinymce .mce-content-body input[type=text]:invalid,
#tinymce .mce-content-body select:invalid,
#tinymce .mce-content-body .content-editable:invalid {
  color: var(--K4-dRED);
}
#tinymce textarea.placeholder,
#tinymce input[type=text].placeholder,
#tinymce select.placeholder,
#tinymce .content-editable.placeholder,
#tinymce .mce-content-body textarea.placeholder,
#tinymce .mce-content-body input[type=text].placeholder,
#tinymce .mce-content-body select.placeholder,
#tinymce .mce-content-body .content-editable.placeholder {
  color: var(--K4-GREY) !important;
  font-weight: 300 !important;
  font-family: var(--font-primary) !important;
  font-style: italic !important;
  text-shadow: none !important;
  text-transform: none !important;
  font-variant: normal !important;
}
#tinymce button,
#tinymce .mce-content-body button {
  color: var(--K4-color-contrast);
  font-weight: 700;
  background: linear-gradient(to bottom, var(--K4-color-primary) 0%, var(--K4-color-primary-bright) 15%, var(--K4-color-primary-bright) 50%, var(--K4-color-primary) 85%, var(--K4-color-primary) 100%);
  border-radius: 3px;
}
#tinymce button i, #tinymce button label,
#tinymce .mce-content-body button i,
#tinymce .mce-content-body button label {
  color: var(--K4-color-contrast);
}
#tinymce strong,
#tinymce .mce-content-body strong {
  --K4-color-primary: var(--K4-color-primary-glow) ;
}
#tinymce i,
#tinymce .mce-content-body i {
  --K4-color-primary: var(--K4-GOLD);
  --K4-color-contrast: var(--K4-BLACK);
  font-family: var(--font-icon);
  font-weight: 900;
}
#tinymce i.notification-pip,
#tinymce .mce-content-body i.notification-pip {
  --K4-color-primary: var(--K4-bGOLD) ;
}
#tinymce .header-button.close i,
#tinymce .mce-content-body .header-button.close i {
  --K4-color-primary: var(--K4-bRED) ;
}
#tinymce ul.rules-list, #tinymce ul.inline-list,
#tinymce .mce-content-body ul.rules-list,
#tinymce .mce-content-body ul.inline-list {
  --K4-list-indent: 24px;
  margin: 0px 0px 0px var(--K4-list-indent);
  padding: 0;
}
#tinymce ul.rules-list li, #tinymce ul.inline-list li,
#tinymce .mce-content-body ul.rules-list li,
#tinymce .mce-content-body ul.inline-list li {
  text-align: left;
  list-style: none;
  text-indent: calc(-1 * var(--K4-list-indent));
  margin: 5px 0;
}
#tinymce ul.rules-list li:before, #tinymce ul.inline-list li:before,
#tinymce .mce-content-body ul.rules-list li:before,
#tinymce .mce-content-body ul.inline-list li:before {
  content: "";
  display: inline-block;
  height: 18px;
  width: var(--K4-list-indent);
  background: var(--K4-bullet);
  vertical-align: bottom;
  background-size: 50%;
}
#tinymce label.k4-title,
#tinymce h1,
#tinymce h2,
#tinymce h3,
#tinymce label.k4-h4,
#tinymce label.k4-header,
#tinymce .mce-content-body label.k4-title,
#tinymce .mce-content-body h1,
#tinymce .mce-content-body h2,
#tinymce .mce-content-body h3,
#tinymce .mce-content-body label.k4-h4,
#tinymce .mce-content-body label.k4-header {
  display: block;
  width: 100%;
  border: none;
  white-space: normal;
}
#tinymce label.k4-title.tight,
#tinymce h1.tight,
#tinymce h2.tight,
#tinymce h3.tight,
#tinymce label.k4-h4.tight,
#tinymce label.k4-header.tight,
#tinymce .mce-content-body label.k4-title.tight,
#tinymce .mce-content-body h1.tight,
#tinymce .mce-content-body h2.tight,
#tinymce .mce-content-body h3.tight,
#tinymce .mce-content-body label.k4-h4.tight,
#tinymce .mce-content-body label.k4-header.tight {
  margin-top: 0;
  margin-bottom: 0;
}
#tinymce label.k4-title:first-child,
#tinymce h1:first-child,
#tinymce h2:first-child,
#tinymce h3:first-child,
#tinymce label.k4-h4:first-child,
#tinymce label.k4-header:first-child,
#tinymce .mce-content-body label.k4-title:first-child,
#tinymce .mce-content-body h1:first-child,
#tinymce .mce-content-body h2:first-child,
#tinymce .mce-content-body h3:first-child,
#tinymce .mce-content-body label.k4-h4:first-child,
#tinymce .mce-content-body label.k4-header:first-child {
  margin-top: 0;
}
#tinymce label.k4-title:last-child,
#tinymce h1:last-child,
#tinymce h2:last-child,
#tinymce h3:last-child,
#tinymce label.k4-h4:last-child,
#tinymce label.k4-header:last-child,
#tinymce .mce-content-body label.k4-title:last-child,
#tinymce .mce-content-body h1:last-child,
#tinymce .mce-content-body h2:last-child,
#tinymce .mce-content-body h3:last-child,
#tinymce .mce-content-body label.k4-h4:last-child,
#tinymce .mce-content-body label.k4-header:last-child {
  margin-bottom: 0;
}
#tinymce label.k4-title,
#tinymce .mce-content-body label.k4-title {
  color: var(--K4-color-title-fg);
  background: var(--K4-color-title-bg);
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  white-space: nowrap;
  text-align: center;
}
#tinymce label.k4-title.section-title,
#tinymce .mce-content-body label.k4-title.section-title {
  width: calc(100% + var(--K4-subsection-padding-left) + var(--K4-subsection-padding-right));
  text-transform: lowercase;
  font-weight: 700;
  font-family: var(--font-primary-smallcaps);
  margin: calc(-1 * (var(--K4-subsection-padding-top))) 0 0 calc(-1 * var(--K4-subsection-padding-left));
  padding-top: 1px;
}
#tinymce label.k4-title.item-title,
#tinymce .mce-content-body label.k4-title.item-title {
  line-height: 32px;
  margin-bottom: 10px;
  font-weight: 700;
  width: 100%;
  display: block;
}
#tinymce label.k4-header,
#tinymce .mce-content-body label.k4-header {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  height: 32px;
  line-height: 28px;
  white-space: nowrap;
  font-family: var(--font-primary-smallcaps);
  text-transform: lowercase;
  margin: 5px 0;
  --horiz-scale: 0.8;
  --full-width: calc(100% / var(--horiz-scale));
  --extra-width: calc(var(--full-width) - 100%);
  --horiz-shift-left: calc(-0.5 * var(--extra-width));
  transform: scaleX(var(--horiz-scale));
  transform-origin: center center;
  width: var(--full-width);
  margin-left: var(--horiz-shift-left);
}
@keyframes neonGlow-blue {
  0% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(255, 255, 255, 0.8), 0 0 4.5px rgba(255, 255, 255, 0.8), 0 0 8px rgba(65, 132, 220, 0.8), 0 0 12.5px rgba(65, 132, 220, 0.8), 0 0 16.5px rgba(65, 132, 220, 0.5), 0 0 21px rgba(65, 132, 220, 0.5), 0 0 29px rgba(65, 132, 220, 0.5), 0 0 41.5px rgba(65, 132, 220, 0.5);
  }
  100% {
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.8), 0 0 1.5px rgba(255, 255, 255, 0.8), 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(65, 132, 220, 0.8), 0 0 6px rgba(65, 132, 220, 0.8), 0 0 8px rgba(65, 132, 220, 0.8), 0 0 10.5px rgba(65, 132, 220, 0.8), 0 0 16.5px rgba(65, 132, 220, 0.8);
  }
}
@keyframes neonGlow-red {
  0% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(255, 255, 255, 0.8), 0 0 4.5px rgba(255, 255, 255, 0.8), 0 0 8px rgba(220, 65, 65, 0.8), 0 0 12.5px rgba(220, 65, 65, 0.8), 0 0 16.5px rgba(220, 65, 65, 0.5), 0 0 21px rgba(220, 65, 65, 0.5), 0 0 29px rgba(220, 65, 65, 0.5), 0 0 41.5px rgba(220, 65, 65, 0.5);
  }
  100% {
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.8), 0 0 1.5px rgba(255, 255, 255, 0.8), 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(220, 65, 65, 0.8), 0 0 6px rgba(220, 65, 65, 0.8), 0 0 8px rgba(220, 65, 65, 0.8), 0 0 10.5px rgba(220, 65, 65, 0.8), 0 0 16.5px rgba(220, 65, 65, 0.8);
  }
}
@keyframes neonGlow-gold {
  0% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(255, 255, 255, 0.8), 0 0 4.5px rgba(255, 255, 255, 0.8), 0 0 8px rgba(220, 220, 65, 0.8), 0 0 12.5px rgba(220, 220, 65, 0.8), 0 0 16.5px rgba(220, 220, 65, 0.5), 0 0 21px rgba(220, 220, 65, 0.5), 0 0 29px rgba(220, 220, 65, 0.5), 0 0 41.5px rgba(220, 220, 65, 0.5);
  }
  100% {
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.8), 0 0 1.5px rgba(255, 255, 255, 0.8), 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(220, 220, 65, 0.8), 0 0 6px rgba(220, 220, 65, 0.8), 0 0 8px rgba(220, 220, 65, 0.8), 0 0 10.5px rgba(220, 220, 65, 0.8), 0 0 16.5px rgba(220, 220, 65, 0.8);
  }
}
#tinymce .neon-glow-strong-blue,
#tinymce .mce-content-body .neon-glow-strong-blue {
  color: var(--K4-neon-text-color);
  animation: neonGlow-blue 1.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#tinymce .neon-glow-strong-red,
#tinymce .mce-content-body .neon-glow-strong-red {
  color: var(--K4-neon-text-color);
  animation: neonGlow-red 1.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#tinymce .neon-glow-strong-gold,
#tinymce .mce-content-body .neon-glow-strong-gold {
  color: var(--K4-neon-text-color);
  animation: neonGlow-gold 1.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#tinymce .neon-glow-soft-blue,
#tinymce .mce-content-body .neon-glow-soft-blue {
  color: rgb(253, 253, 253);
  text-shadow: 0 0 2px #000, 0 0 10px rgba(3, 247, 249, 0.561), 0 0 5px rgba(3, 247, 249, 0.561), 0 0 25px rgba(3, 247, 249, 0.561);
}
#tinymce .neon-glow-soft-red,
#tinymce .mce-content-body .neon-glow-soft-red {
  color: rgb(255, 159, 159);
  text-shadow: 0 0 2px #000, 0 0 10px rgba(252, 31, 31, 0.5), 0 0 5px rgba(252, 31, 31, 0.5), 0 0 25px rgba(252, 31, 31, 0.5);
}
#tinymce .neon-glow-soft-gold,
#tinymce .mce-content-body .neon-glow-soft-gold {
  color: rgb(244, 238, 228);
  text-shadow: 0 0 2px #000, 0 0 10px rgba(255, 189, 65, 0.35), 0 0 5px rgba(255, 189, 65, 0.35), 0 0 25px rgba(255, 189, 65, 0.35);
}
#tinymce h1,
#tinymce .mce-content-body h1 {
  color: var(--K4-color-header);
  font-family: var(--font-heading-1);
  font-size: 32px;
  font-weight: 600;
  height: 32px;
  margin: 20px 0 10px;
}
#tinymce h2,
#tinymce .mce-content-body h2 {
  color: var(--K4-color-header);
  font-family: var(--font-heading-2);
  font-size: 20px;
  font-weight: 700;
  height: 24px;
  margin: 10px 0;
  line-height: 24px;
}
#tinymce h3,
#tinymce .mce-content-body h3 {
  color: var(--K4-color-header);
  font-family: var(--font-primary-smallcaps);
  font-size: 16px;
  font-weight: 700;
  text-transform: lowercase;
  margin: 10px 0 0 0;
}
#tinymce label.k4-h4,
#tinymce .mce-content-body label.k4-h4 {
  color: var(--K4-color-header);
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
  height: 12px;
  margin: 5px 0 -5px;
}
#tinymce .text-center,
#tinymce .mce-content-body .text-center {
  text-align: center;
}
#tinymce .text-center.text-tag,
#tinymce .mce-content-body .text-center.text-tag {
  display: block;
}
#tinymce .text-center.text-tag + br,
#tinymce .mce-content-body .text-center.text-tag + br {
  display: none;
}
#tinymce .text-posmod,
#tinymce .text-mod,
#tinymce .text-negmod,
#tinymce .text-keyword,
#tinymce .text-attributename,
#tinymce .text-docLink,
#tinymce .text-edgename,
#tinymce .text-gmtext,
#tinymce .text-resultlabel,
#tinymce .mce-content-body .text-posmod,
#tinymce .mce-content-body .text-mod,
#tinymce .mce-content-body .text-negmod,
#tinymce .mce-content-body .text-keyword,
#tinymce .mce-content-body .text-attributename,
#tinymce .mce-content-body .text-docLink,
#tinymce .mce-content-body .text-edgename,
#tinymce .mce-content-body .text-gmtext,
#tinymce .mce-content-body .text-resultlabel {
  font-weight: 900;
}
#tinymce .text-keyword, #tinymce .text-mod,
#tinymce .mce-content-body .text-keyword,
#tinymce .mce-content-body .text-mod {
  color: var(--K4-color-keyword);
}
#tinymce .text-attributename,
#tinymce .mce-content-body .text-attributename {
  --K4-color-primary: var(--K4-color-keyword);
}
#tinymce .text-docLink,
#tinymce .mce-content-body .text-docLink {
  color: var(--K4-color-keyword-bright);
  font-style: italic;
  cursor: pointer;
  pointer-events: auto !important;
}
#tinymce .text-docLink:hover,
#tinymce .mce-content-body .text-docLink:hover {
  filter: saturate(0.5) brightness(3);
}
#tinymce .text-sourceref, #tinymce .text-sourceref + .text-tag,
#tinymce .mce-content-body .text-sourceref,
#tinymce .mce-content-body .text-sourceref + .text-tag {
  font-family: var(--font-primary-smallcaps);
  text-transform: lowercase;
  font-style: normal;
  font-size: smaller;
}
#tinymce .text-edgename,
#tinymce .mce-content-body .text-edgename {
  color: rgb(253, 253, 253);
  text-shadow: 0 0 2px #000, 0 0 10px rgba(3, 247, 249, 0.561), 0 0 5px rgba(3, 247, 249, 0.561), 0 0 25px rgba(3, 247, 249, 0.561);
}
#tinymce .text-posmod,
#tinymce .text-posmod + .text-keyword,
#tinymce .text-posmod + .text-attributename,
#tinymce .mce-content-body .text-posmod,
#tinymce .mce-content-body .text-posmod + .text-keyword,
#tinymce .mce-content-body .text-posmod + .text-attributename {
  color: rgb(244, 238, 228);
  text-shadow: 0 0 2px #000, 0 0 10px rgba(255, 189, 65, 0.35), 0 0 5px rgba(255, 189, 65, 0.35), 0 0 25px rgba(255, 189, 65, 0.35);
}
#tinymce .text-negmod,
#tinymce .text-negmod + .text-keyword,
#tinymce .text-negmod + .text-attributename,
#tinymce .text-gmtext,
#tinymce .mce-content-body .text-negmod,
#tinymce .mce-content-body .text-negmod + .text-keyword,
#tinymce .mce-content-body .text-negmod + .text-attributename,
#tinymce .mce-content-body .text-gmtext {
  color: rgb(255, 50, 50);
  text-shadow: 0 0 2px #000, 0 0 10px rgba(252, 31, 31, 0.5), 0 0 5px rgba(252, 31, 31, 0.5), 0 0 25px rgba(252, 31, 31, 0.5);
}
#tinymce .text-resultlabel,
#tinymce .mce-content-body .text-resultlabel {
  color: var(--K4-color-header);
}
#tinymce .text-trigger,
#tinymce .mce-content-body .text-trigger {
  color: var(--K4-color-primary-bright);
  font-weight: 600;
  font-family: var(--font-primary-italics);
  font-style: italic;
}
#tinymce div.hover-strip,
#tinymce .mce-content-body div.hover-strip {
  --K4-strip-height: 30px;
  --K4-strip-padding-vert: 5px;
  --K4-strip-inner-height: calc(var(--K4-strip-height) - 2 * var(--K4-strip-padding-vert));
  --K4-strip-scale: 1;
  position: relative;
  height: var(--K4-strip-height);
  white-space: nowrap;
  transform-origin: left center;
  transform: scale(var(--K4-strip-scale));
  padding: var(--K4-strip-padding-vert) 0;
  pointer-events: auto !important;
}
#tinymce div.hover-strip.strip-disabled, #tinymce div.hover-strip.strip-disabled *,
#tinymce .mce-content-body div.hover-strip.strip-disabled,
#tinymce .mce-content-body div.hover-strip.strip-disabled * {
  filter: saturate(0);
  font-style: italic !important;
}
#tinymce div.hover-strip .strip-bg,
#tinymce div.hover-strip .button-strip,
#tinymce .mce-content-body div.hover-strip .strip-bg,
#tinymce .mce-content-body div.hover-strip .button-strip {
  --K4-icon-size: var(--K4-strip-inner-height);
  --K4-icon-fill: var(--K4-strip-button-color-fg);
  --K4-icon-bg-color: transparent;
  --K4-icon-clip-path: none;
  position: absolute;
  display: block;
  height: var(--K4-strip-inner-height);
  width: calc(100% - 0.5 * var(--K4-strip-height));
}
#tinymce div.hover-strip .strip-bg,
#tinymce .mce-content-body div.hover-strip .strip-bg {
  background: var(--K4-strip-main-color-bg);
  filter: brightness(0.5);
  opacity: 0;
}
#tinymce div.hover-strip .button-strip,
#tinymce .mce-content-body div.hover-strip .button-strip {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  width: calc(100% - 0.5 * var(--K4-icon-size));
  left: calc(0.5 * var(--K4-icon-size));
  opacity: 0;
  justify-content: space-between;
}
#tinymce div.hover-strip .button-strip .button-spacer,
#tinymce .mce-content-body div.hover-strip .button-strip .button-spacer {
  display: inline-block;
  width: var(--K4-icon-size);
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}
#tinymce div.hover-strip .button-strip .strip-button,
#tinymce .mce-content-body div.hover-strip .button-strip .strip-button {
  flex-grow: 0.2;
  background: var(--K4-strip-button-color-bg);
  font-size: 0;
  flex-basis: auto;
  width: unset;
  position: relative;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  transition: 0.25s;
  pointer-events: auto !important;
}
#tinymce div.hover-strip .button-strip .strip-button .button-tooltip,
#tinymce .mce-content-body div.hover-strip .button-strip .strip-button .button-tooltip {
  opacity: 0;
  color: var(--K4-strip-button-color-fg);
  text-align: center;
  line-height: var(--K4-icon-size);
  font-size: 16px;
  text-transform: lowercase;
  font-family: var(--font-primary-smallcaps);
  font-weight: 900;
  transform-origin: center center;
  transform: translate(-50%, -50%) scaleX(0.75);
  position: absolute;
  pointer-events: none;
  left: 50%;
  top: 50%;
}
#tinymce div.hover-strip .button-strip .strip-button .button-tooltip.button-tooltip-flare,
#tinymce .mce-content-body div.hover-strip .button-strip .strip-button .button-tooltip.button-tooltip-flare {
  color: var(--K4-strip-button-hover-color-fg);
  visibility: hidden;
  transform: translate(-50%, -50%) scaleX(5) scaleY(3);
}
#tinymce div.hover-strip .button-strip .strip-button:hover,
#tinymce .mce-content-body div.hover-strip .button-strip .strip-button:hover {
  --K4-icon-fill: var(--K4-strip-button-hover-color-fg);
  background: var(--K4-strip-button-hover-color-bg);
}
#tinymce div.hover-strip .icon-container,
#tinymce .mce-content-body div.hover-strip .icon-container {
  margin-top: calc(-1 * var(--K4-strip-padding-vert));
}
#tinymce div.hover-strip .strip-name,
#tinymce .mce-content-body div.hover-strip .strip-name {
  position: absolute;
  height: var(--K4-strip-inner-height);
  color: var(--K4-strip-main-color-fg);
  font-size: 16px;
  font-weight: 600;
  line-height: var(--K4-strip-inner-height);
  top: var(--K4-strip-padding-vert);
  left: calc(var(--K4-icon-size) + 5px);
  white-space: nowrap;
  z-index: 30;
}
#tinymce div.hover-strip .strip-name:not(.content-editable),
#tinymce .mce-content-body div.hover-strip .strip-name:not(.content-editable) {
  pointer-events: none;
}
#tinymce div.hover-strip.move-strip,
#tinymce .mce-content-body div.hover-strip.move-strip {
  --K4-strip-icon-color-bg: var(--K4-color-primary);
  --K4-strip-icon-color-fg: var(--K4-color-contrast);
  --K4-icon-outline-color: var(--K4-color-primary);
}
#tinymce div.hover-strip.wound-strip, #tinymce div.hover-strip.condition-strip,
#tinymce .mce-content-body div.hover-strip.wound-strip,
#tinymce .mce-content-body div.hover-strip.condition-strip {
  --K4-strip-scale: 0.8;
  --K4-icon-outline-color: transparent;
  --K4-icon-outline-width: 1px;
  --K4-icon-clip-path: none;
  --K4-icon-bg-color: transparent;
  --K4-strip-main-color-fg: var(--K4-RED);
  --K4-strip-main-color-bg: var(--K4-dRED);
  --K4-strip-icon-color-bg: transparent;
  --K4-strip-button-color-fg: var(--K4-BLACK);
  --K4-strip-button-color-bg: var(--K4-RED);
  --K4-strip-button-hover-color-fg: var(--K4-dBLACK);
  --K4-strip-button-hover-color-bg: var(--K4-gRED);
}
#tinymce div.hover-strip.wound-strip.condition-strip, #tinymce div.hover-strip.condition-strip.condition-strip,
#tinymce .mce-content-body div.hover-strip.wound-strip.condition-strip,
#tinymce .mce-content-body div.hover-strip.condition-strip.condition-strip {
  --K4-strip-main-color-fg: var(--K4-GOLD);
  --K4-strip-main-color-bg: var(--K4-bGOLD);
  --K4-strip-icon-color-fg: var(--K4-GOLD);
  --K4-strip-button-color-fg: var(--K4-dBLACK);
  --K4-strip-button-color-bg: var(--K4-bGOLD);
  --K4-strip-button-hover-color-fg: var(--K4-dBLACK);
  --K4-strip-button-hover-color-bg: var(--K4-gGOLD);
}
#tinymce div.hover-strip.wound-strip.condition-strip.stability-strip, #tinymce div.hover-strip.condition-strip.condition-strip.stability-strip,
#tinymce .mce-content-body div.hover-strip.wound-strip.condition-strip.stability-strip,
#tinymce .mce-content-body div.hover-strip.condition-strip.condition-strip.stability-strip {
  --K4-strip-main-color-fg: var(--K4-bBLUE);
  --K4-strip-main-color-bg: var(--K4-gBLUE);
  --K4-strip-icon-color-fg: var(--K4-bBLUE);
  --K4-strip-button-color-fg: var(--K4-dBLACK);
  --K4-strip-button-color-bg: var(--K4-bBLUE);
  --K4-strip-button-hover-color-fg: var(--K4-dBLACK);
  --K4-strip-button-hover-color-bg: var(--K4-gBLUE);
}
#tinymce div.hover-strip.wound-strip .button-strip .strip-button, #tinymce div.hover-strip.condition-strip .button-strip .strip-button,
#tinymce .mce-content-body div.hover-strip.wound-strip .button-strip .strip-button,
#tinymce .mce-content-body div.hover-strip.condition-strip .button-strip .strip-button {
  flex-grow: 0.3;
}
#tinymce div.hover-strip.wound-strip.wound-critical, #tinymce div.hover-strip.condition-strip.wound-critical,
#tinymce .mce-content-body div.hover-strip.wound-strip.wound-critical,
#tinymce .mce-content-body div.hover-strip.condition-strip.wound-critical {
  --K4-strip-scale: 1;
}
#tinymce div.hover-strip.wound-strip.wound-critical .strip-name, #tinymce div.hover-strip.condition-strip.wound-critical .strip-name,
#tinymce .mce-content-body div.hover-strip.wound-strip.wound-critical .strip-name,
#tinymce .mce-content-body div.hover-strip.condition-strip.wound-critical .strip-name {
  text-transform: lowercase;
  font-weight: 900;
  font-family: var(--font-primary-smallcaps);
}
#tinymce div.hover-strip.wound-strip.wound-critical:not(.wound-stabilized), #tinymce div.hover-strip.condition-strip.wound-critical:not(.wound-stabilized),
#tinymce .mce-content-body div.hover-strip.wound-strip.wound-critical:not(.wound-stabilized),
#tinymce .mce-content-body div.hover-strip.condition-strip.wound-critical:not(.wound-stabilized) {
  --K4-strip-main-color-fg: var(--K4-gRED);
  --K4-strip-icon-color-fg: var(--K4-gRED);
  --icon-scale: 1.2;
}
#tinymce div.hover-strip.wound-strip.wound-stabilized, #tinymce div.hover-strip.condition-strip.wound-stabilized,
#tinymce .mce-content-body div.hover-strip.wound-strip.wound-stabilized,
#tinymce .mce-content-body div.hover-strip.condition-strip.wound-stabilized {
  --K4-icon-fill: var(--K4-GOLD);
  --K4-icon-clip-path: none;
  --K4-icon-outline-color: transparent;
  --K4-strip-main-color-fg: var(--K4-GOLD);
}
#tinymce div.hover-strip.wound-strip.wound-stabilized .strip-name, #tinymce div.hover-strip.condition-strip.wound-stabilized .strip-name,
#tinymce .mce-content-body div.hover-strip.wound-strip.wound-stabilized .strip-name,
#tinymce .mce-content-body div.hover-strip.condition-strip.wound-stabilized .strip-name {
  font-style: italic;
}
#tinymce div.hover-strip.wound-strip.wound-stabilized .strip-bg, #tinymce div.hover-strip.condition-strip.wound-stabilized .strip-bg,
#tinymce .mce-content-body div.hover-strip.wound-strip.wound-stabilized .strip-bg,
#tinymce .mce-content-body div.hover-strip.condition-strip.wound-stabilized .strip-bg {
  border-color: transparent;
}
#tinymce div.hover-strip.edge-strip,
#tinymce .mce-content-body div.hover-strip.edge-strip {
  --K4-strip-height: 19px;
  --K4-strip-padding-vert: 1px;
  --K4-icon-outline-color: transparent;
  --K4-icon-outline-width: 0px;
  --K4-icon-clip-path: none;
  --K4-icon-bg-color: transparent;
  --K4-strip-main-color-fg: var(--K4-bWHITE);
  --K4-strip-main-color-bg: transparent;
  --K4-strip-icon-color-bg: transparent;
  --K4-strip-button-color-fg: var(--K4-dBLACK);
  --K4-strip-button-color-bg: var(--K4-bBLUE);
  --K4-strip-button-hover-color-fg: var(--K4-dBLACK);
  --K4-strip-button-hover-color-bg: var(--K4-gBLUE);
}
#tinymce div.hover-strip.edge-strip .button-strip,
#tinymce .mce-content-body div.hover-strip.edge-strip .button-strip {
  width: calc(100% - 0.5 * var(--K4-icon-size) + 30px);
  left: calc(0.5 * var(--K4-icon-size) - 30px);
}
#tinymce div.hover-strip.edge-strip .button-strip .button-spacer,
#tinymce .mce-content-body div.hover-strip.edge-strip .button-strip .button-spacer {
  display: none;
}
#tinymce div.hover-strip.edge-strip .button-strip .strip-button,
#tinymce .mce-content-body div.hover-strip.edge-strip .button-strip .strip-button {
  flex-grow: 0.3;
}
#tinymce div.hover-strip.edge-strip .strip-name,
#tinymce .mce-content-body div.hover-strip.edge-strip .strip-name {
  left: unset;
  right: 0;
  font-family: var(--font-primary-smallcaps);
  text-transform: lowercase;
  font-size: 16px;
  line-height: 16px;
  color: var(--K4-bWHITE);
  text-shadow: 0 0 2px #000, 0 0 10px rgba(3, 247, 249, 0.561), 0 0 5px rgba(3, 247, 249, 0.561), 0 0 25px rgba(3, 247, 249, 0.561);
}
#tinymce div.hover-strip.edge-strip > .icon-container,
#tinymce .mce-content-body div.hover-strip.edge-strip > .icon-container {
  display: none;
}
#tinymce div.hover-strip.edge-strip,
#tinymce .mce-content-body div.hover-strip.edge-strip {
  right: 150px;
}
#tinymce div.hover-strip.edge-strip + .hover-strip,
#tinymce .mce-content-body div.hover-strip.edge-strip + .hover-strip {
  right: 128px;
}
#tinymce div.hover-strip.edge-strip + .hover-strip + .hover-strip,
#tinymce .mce-content-body div.hover-strip.edge-strip + .hover-strip + .hover-strip {
  right: 110px;
}
#tinymce div.hover-strip.edge-strip + .hover-strip + .hover-strip + .hover-strip,
#tinymce .mce-content-body div.hover-strip.edge-strip + .hover-strip + .hover-strip + .hover-strip {
  right: 88px;
}
#tinymce .result-entry,
#tinymce .mce-content-body .result-entry {
  --label-width: 50px;
  --label-gap: 5px;
  --result-entry-horiz-padding: 5px;
  display: block;
  margin: 0 var(--result-entry-horiz-padding);
  clear: both;
}
#tinymce .result-entry > label,
#tinymce .mce-content-body .result-entry > label {
  text-align: right;
  display: block;
  white-space: nowrap;
  width: var(--label-width);
  height: 100%;
  float: left;
  margin-right: var(--label-gap);
}
#tinymce .result-entry > span,
#tinymce .mce-content-body .result-entry > span {
  display: inline-block;
  width: calc(100% - (var(--label-width) + var(--label-gap)));
  margin-bottom: 4px;
  padding-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-image: linear-gradient(to right, var(--K4-color-primary) 50%, transparent) 1;
  vertical-align: top;
}
#tinymce .result-entry:last-of-type > span,
#tinymce .mce-content-body .result-entry:last-of-type > span {
  border-bottom: none;
}
#tinymce p.break-elem,
#tinymce .mce-content-body p.break-elem {
  margin: 0 !important;
  line-height: var(--break-height, 10px) !important;
  max-height: var(--break-height, 10px) !important;
  height: var(--break-height, 10px) !important;
  display: block !important;
  min-height: unset !important;
}

/*# sourceMappingURL=tmce-editor.css.map */
