<div id="gamephase-overlay uninitialized">
  <div class="gear-container gear-huge gear-kether-huge">
    {{> "src/templates/components/svg" key="gear-kether-huge"}}
  </div>
  <div class="gear-container gear-top-right gear-binah">
    {{> "src/templates/components/svg.hbs" key="gear-binah-outer-teeth"}}
    {{> "src/templates/components/svg.hbs" key="gear-binah-inner-full"}}
  </div>
  <div class="gear-container gear-bottom-right gear-geburah">
    {{> "src/templates/components/svg.hbs" key="gear-geburah"}}
    {{> "src/templates/components/svg.hbs" key="gear-geburah-center-saw"}}
  </div>

  <div class="overlay-content">
    <h1 class="overlay-title">Welcome to KULT: DIVINITY LOST 4th Edition</h1>
  </div>
</div>