<div id="gamephase-overlay initialized">
  <div class="gear-container gear-huge gear-kether-huge">
    {{> "systems/kult4th/templates/components/svg.hbs" key="gear-kether-huge"}}
  </div>
  <div class="gear-container gear-top-right gear-binah">
    {{> "systems/kult4th/templates/components/svg.hbs" key="gear-binah-outer-teeth"}}
    {{> "systems/kult4th/templates/components/svg.hbs" key="gear-binah-inner-full"}}
  </div>
  <div class="gear-container gear-bottom-right gear-geburah">
    {{> "systems/kult4th/templates/components/svg.hbs" key="gear-geburah"}}
    {{> "systems/kult4th/templates/components/svg.hbs" key="gear-geburah-center-saw"}}
  </div>
  <div class="overlay-content">
    <h1 class="overlay-title">Welcome to KULT: DIVINITY LOST 4th Edition</h1>
    <h2 class="overlay-subtitle">Loading Collaborative Character Creation ...</h2>
  </div>
</div>