<div id="gamephase-overlay" class="gamephase-overlay initialized">
  <div class="overlay-content">
    <div class="overlay-title">Welcome</div>
    <div class="overlay-subtitle">Loading Collaborative Character Creation ...</div>
  </div>
</div>