& {



  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 10000;

  h1 {
    border: none;
  }

  &.uninitialized { @import 'overlay-uninitialized'; }
  &.initialized { @import 'overlay-initialized'; }
  &.chargen { @import 'overlay-chargen'; }
  &.preSession { @import 'overlay-preSession'; }
  &.session { @import 'overlay-session'; }
  &.postSession { @import 'overlay-postSession'; }

}