& {

  .overlay-content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    .overlay-title {
      @include neon-glow-animated(red, var(--K4-RED), var(--K4-bWHITE));
      font-family: var(--font-heading-2);
      font-size: 60px;
      visibility: visible;
    }
    .overlay-subtitle {
      @include neon-glow-soft(rgb(240, 215, 215), rgb(255, 65, 65));
      font-size: 30px;
      font-family: var(--font-primary-smallcaps);
      text-transform: lowercase;
      visibility: visible;
    }
  }
}