* {
	// GOLDS
	--gold: #958b68;
	--gold-brightest: #e4ddc3;
	--gold-bright: #b9af8f;
	--gold-dark: #685f43;
	--gold-darker: #362f17;
	--gold-darkest: #19160b;
	--gold-glow: #ffd958;

	// Reds
	--red: #9a1f1f;
	--red-brightest: #e37070;
	--red-bright: #ba3e3e;
	--red-dark: #730606;
	--red-darkest: #490000;
	--red-glow: #ff0000;

	// Blues
	--blue: #2a548a;
	--blue-brightest: #688ab5;
	--blue-bright: #426899;
	--blue-dark: #183f72;
	--blue-darkest: #082b58;
	--blue-glow: #3f93ff;

	// Contrasts
	--white: #ffffff;
	--grey: #888888;
	--black: #000000;
}