	// GOLDS
	$gold: #958b68;
	$gold-brightest: #e4ddc3;
	$gold-bright: #b9af8f; // #c3bba1;
	$gold-dark: #685f43;
	$gold-darker: #42391a;
	$gold-darkest: #19160b;
	$gold-glow: #ffd958;

	// Reds
	$red: #9a1f1f;
	$red-brightest: #e37070;
	$red-bright: #ba3e3e;
	$red-dark: #730606;
	$red-darkest: #490000;
	$red-glow: #ff0000;

	// Blues
	$blue: #2a548a;
	$blue-brightest: #688ab5;
	$blue-bright: #426899; // #4084dd;
	$blue-dark: #183f72;
	$blue-darkest: #082b58;
	$blue-glow: #3f93ff;

	// Contrasts
	$white: #ffffff;
	$grey: #888888;
	$black: #000000;

> * {
	/* FOUNDRY OVERRIDES */
  --color-text-light-primary: lime; // #{$gold};
	--color-text-light-highlight: magenta; // #{$gold-bright}; // #f0f0e0;
  --color-text-light-heading: red; // #{$gold-bright}; // #c9c7b8;
  --color-text-dark-primary: var(--KKK-color-primary); // #{$gold-darkest}; // #191813;
  --color-text-dark-secondary: cyan; // #{$gold-dark}; // #4b4a44;
  --color-text-dark-header: purple; // #{$gold-darker}; // #23221d;
  --color-text-light-primary: #{$gold};
	--color-text-light-highlight: #{$gold-bright}; // #f0f0e0;
  --color-text-light-heading: #{$gold-bright}; // #c9c7b8;
  --color-text-dark-primary: #{$gold-darkest}; // #191813;
  --color-text-dark-secondary: #{$gold-dark}; // #4b4a44;
  --color-text-dark-header: #{$gold-darker}; // #23221d;
  --color-text-dark-inactive: #7a7971;
  --color-text-hyperlink: #{$blue}; // #ff6400;
  --color-text-light-0: #fff;
  --color-text-light-1: #{$gold-brightest}; // #eee;
  --color-text-light-2: #{$gold-brightest}; // #ddd;
  --color-text-light-3: #{$gold-bright}; // #ccc;
  --color-text-light-4: #{$gold-bright}; // #bbb;
  --color-text-light-5: #{$gold-bright}; // #aaa;
  --color-text-light-6: #{$gold}; // #999;
  --color-text-light-7: #{$gold}; // #888;
  --color-text-dark-1: #{$gold-darkest}; // #111;
  --color-text-dark-2: #{$gold-darkest}; // #222;
  --color-text-dark-3: #{$gold-darker}; // #444;
  --color-text-dark-4: #{$gold-darker}; // #555;
  --color-text-dark-5: #{$gold-dark}; // #666;
  --color-text-dark-6: #{$gold-dark}; // #777;
  --color-border-light-1: #{$gold-bright}; // #ddd;
  --color-border-light-2: #{$gold}; // #999;
  --color-border-dark-1: #{$gold-darkest}; // #111;
  --color-border-dark-2: #{$gold-darkest}; // #222;
  --color-border-dark-3: #{$gold-darker}; // #333;
  --color-border-dark-4: #{$gold-darker}; // #444;
  --color-border-dark-5: #{$gold-dark}; // #666;
  --color-shadow-primary: #{$gold}; // #ff0000;
  --color-shadow-highlight: #{$gold}; // #ff6400;
  --color-shadow-dark: #000;
  --color-underline-inactive: #{$blue-dark}; // #7a7971;
  --color-underline-active: #{$blue-bright}; // #426899;
  --color-underline-header: #{$gold}; // #782e22;
  --color-border-light-highlight: #{$gold-brightest};
  --color-border-light-primary: #{$gold-brightest}; // #e4ddc3;
  --color-border-light-secondary: #{$gold-bright}; // #c9c7b8;
  --color-border-light-tertiary: #{$gold}; // #7a7971;
  --color-border-dark: #000;
  --color-border-dark-primary: #{$gold-darkest}; // #191813;
  --color-border-dark-secondary: #{$gold-darker}; // #23221d;
  --color-border-dark-tertiary: #{$gold-dark}; // #4b4a44;
  --color-border-highlight: #{$gold-bright}; // #ff6400;
  --color-border-highlight-alt: #{$gold-brightest}; // #ff0000;
  --color-bg-btn-minor-inactive: #{$gold-bright}; // #c9c7b8;
  --color-bg-btn-minor-active: #{$gold-brightest}; // #c9c7b8;
  --color-bg-option: #{$gold-brightest};
}