@import '../third-party/sassmeister/sassmeister';
@import '../third-party/cq-prolyfill/cq-prolyfill';

@function to-url($path, $subFolder: false) {
	@if ($subFolder) {
		@return unquote(str-insert(str-insert(str-insert(str-insert('url("../assets/',
			$subFolder,
			1000),
			"/",
			1000),
			$path,
			1000),
		'")',
		1000));
	}
	@return unquote(str-insert(str-insert('url("../assets/',
				$path,
				1000),
			'")',
			1000));
}

@mixin to-mask($size, $radius, $padding: (0px 0px), $filter: none, $isExclusion: false) {
	$cx: 50; $cy: 50;
	$padding-x: to-number(nth($padding, 1));
	$padding-y: to-number(nth($padding, 2));
	$sheet-mask: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><circle cx="#{$cx}" cy="#{$cy}" r="#{$radius}" fill="black" filter="#{$filter}" /></svg>';

	@if ($isExclusion) {
		mask-composite: exclude;
	}

	mask: url('#{$sheet-mask}') #{$padding-x - 0.5 * $size} #{$padding-y - 0.5 * $size}/#{$size} #{$size} no-repeat, linear-gradient(#fff, #fff);
}

@mixin set-bg-vars($bgFolder) {
	$path: str-insert(str-insert('url("../assets/backgrounds/', $bgFolder, 1000), "/", 1000);

	$bgs: [
		("bg", str-insert($path, 'bg.webp")', 1000) repeat repeat center center/1000px 1000px),
		("bg-top", str-insert($path, 'bg-top.webp")', 1000) repeat no-repeat center top/1000px 44px),
		("bg-top-right", str-insert($path, 'bg-top-right.webp")', 1000) no-repeat no-repeat right top/44px 44px),
		("bg-left", str-insert($path, 'bg-left.webp")', 1000) no-repeat repeat left center/44px 1000px),
		("bg-top-left", str-insert($path, 'bg-top-left.webp")', 1000) no-repeat no-repeat left top/44px 44px),
		("bg-right", str-insert($path, 'bg-right.webp")', 1000) no-repeat repeat right center/44px 1000px),
		("bg-bot-left", str-insert($path, 'bg-bot-left.webp")', 1000) no-repeat no-repeat left bottom/44px 44px),
		("bg-bot", str-insert($path, 'bg-bot.webp")', 1000) repeat no-repeat center bottom/1000px 44px),
		("bg-bot-right", str-insert($path, 'bg-bot-right.webp")', 1000) no-repeat no-repeat right bottom/44px 44px)
	];

	@each $bg in $bgs {
		--KT-#{nth($bg, 1)}: transparent #{nth($bg, 2)};
	}
}