::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 1px #{$gold} inset;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 2px;
	background: transparent #{to-url("backgrounds/red-felt-bg.webp")} repeat center/1000px 1000px;
  // background: transparent to;
  border: 1px outset #{$gold-dark};
}
// :root {
//   scrollbar-width: thin;
//   scrollbar-color: #{$red-dark} #{$gold-darkest};
// }