* {
	// @include set-default-theme();
}

&,
.mce-content-body {

	&,
	*,
	input[type="text"],
	input[type="number"],
	textarea,
	select,
	option,
	img,
	ul,
	li {
		color: var(--K4-color-primary);

		font: {
			family: var(--K4-font-primary);
			weight: var(--K4-font-weight-primary);
		}
		font-feature-settings: "ss05", "lnum";
		border: none;

		option { background: var(--K4-color-contrast) }

		hyphens: auto;

		&.kult-text-container {
			text-align: justify;
		}
	}

	textarea,
	input[type='text'],
	select,
	.content-editable {
		// height: unset;
		// margin: 0 4px;
		// box-sizing: content-box;

		// outline: none;
		// box-shadow: none;

		overflow: hidden;

		&:invalid {
			color: var(--K4-dRED);
		}

		&.placeholder {
			color: var(--K4-GREY) !important;
			font-weight: $font-weight-light !important;
			font-family: var(--font-primary) !important;
			font-style: italic !important;
			text-shadow: none !important;
			text-transform: none !important;
			font-variant: normal !important;
		}
	}

	button {
		color: var(--K4-color-contrast);
		font-weight: $font-weight-bold;
		border: 1px solid var(--K4-color-contrast-low);
		background: linear-gradient(to bottom, var(--K4-color-primary) 0%, 15%, var(--K4-color-primary-bright) 50%, var(--K4-color-primary-bright) 51%, 85%, var(--K4-color-primary) 100%);
		border-radius: 3px;

		i, label {
			color: var(--K4-color-contrast);
		}
	}

	i {
		--K4-color-primary: var(--K4-GOLD);
		--K4-color-contrast: var(--K4-BLACK);
		font-family: var(--font-icon);
		font-weight: $font-weight-black;

		&.notification-pip { --K4-color-primary: var(--K4-bGOLD) }
	}

	.header-button.close i { --K4-color-primary: var(--K4-bRED) }

	ul.rules-list, ul.inline-list {
		--K4-list-indent: 24px;
		margin: 0px 0px 0px var(--K4-list-indent);
		padding: 0;

		li {
			text-align: left;
			list-style: none;
			text-indent: calc(-1 * var(--K4-list-indent));
			margin: 5px 0;
		}

		li:before {
			content: "";
			display: inline-block;
			height: 18px;
			width: var(--K4-list-indent);
			background: var(--K4-bullet);
			vertical-align: bottom;
			background-size: 50%;
		}
	}

	label.k4-title,
	h1,
	h2,
	h3,
	label.k4-h4,
	label.k4-header {
		display: block;
		width: 100%;
		border: none;
		white-space: normal;

		&.tight {
			margin-top: 0;
			margin-bottom: 0;
		}

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	label.k4-title {
		color: var(--K4-color-title-fg);
		background: var(--K4-color-title-bg);
		font-weight: $font-weight-semi;
		font-size: $rem-22;
		line-height: $rem-24;
		height: $rem-24;
		white-space: nowrap;
		text-align: center;

		&.section-title {
			width: calc(100% + var(--K4-subsection-padding-left) + var(--K4-subsection-padding-right));
			text-transform: uppercase;
			font-weight: $font-weight-bold;
			font-family: var(--font-primary-caps);
			margin:
				calc(-1 * (var(--K4-subsection-padding-top)))
				0
				var(--K4-subsection-padding-top)
				calc(-1 * var(--K4-subsection-padding-left));
			padding-top: 1px;
		}

		&.item-title {
			height: calc(#{$rem-32} + 5px);
			line-height: $rem-32;
			text-align: left;
			margin: 0 0 0 22px;
			font-weight: $font-weight-bold;
			padding: 5px 10px 0px 20px;
		}
	}

	h1 {
		color: var(--K4-color-header);
		font-family: var(--font-heading);
		font-size: $rem-32;
		font-weight: $font-weight-semi;
		height: $rem-32;
		margin: 20px 0 10px;
	}

	h2 {
		color: var(--K4-color-header);
		font-family: var(--font-primary);
		font-size: $rem-24;
		font-weight: $font-weight-bold;
		height: $rem-24;
		margin: 10px 0;
	}

	h3 {
		color: var(--K4-color-header);
		font-family: var(--font-primary);
		font-size: $rem-16;
		font-weight: $font-weight-bold;
		font-variant: all-small-caps;
		// height: $rem-16;
		margin: 10px 0 0 0;
	}

	label.k4-h4 {
		color: var(--K4-color-header);
		font-family: var(--font-primary);
		font-size: $rem-12;
		font-weight: $font-weight-bold;
		font-style: italic;
		height: $rem-12;
		margin: 5px 0 -5px;
	}

	label.k4-header {
		display: block;
		font-size: $rem-24;
		font-weight: $font-weight-bold;
		text-align: center;
		height: $rem-32;
		line-height: $rem-28;

		font-variant: all-small-caps;
		margin: 10px 0;
		// padding: 5px 0 4px 0;

		&.hold-header {
			color: var(--K4-WHITE);
			background: var(--K4-dRED);

			animation: neonGlowRed 1.5s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.955);

			@keyframes neonGlowRed {
				0% {
					text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
											0 0 4px rgba(255, 255, 255, 0.8),
											0 0 4.5px  rgba(255, 255, 255, 0.8),
											0 0 8px  rgba(220, 65, 65, 0.8),
											0 0 12.5px  rgba(220, 65, 65, 0.8),
											0 0 16.5px  rgba(220, 65, 65, 0.5),
											0 0 21px rgba(220, 65, 65, 0.5),
											0 0 29px rgba(220, 65, 65, 0.5),
											0 0 41.5px rgba(220, 65, 65, 0.5);
				}
				100% {
					text-shadow: 0 0 0.5px rgba(255,255,255,.8),
											0 0 1.5px rgba(255,255,255,.8),
											0 0 2px rgba(255,255,255,.8),
											0 0 4px rgba(220, 65, 65, 0.8),
											0 0 6px rgba(220, 65, 65, 0.8),
											0 0 8px rgba(220, 65, 65, 0.8),
											0 0 10.5px rgba(220, 65, 65, 0.8),
											0 0 16.5px rgba(220, 65, 65, 0.8);
				}
			}
		}

		&.edges-header {
			color: var(--K4-WHITE);
			background: var(--K4-dBLUE);

			animation: neonGlowBlue 1.5s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.955);

			@keyframes neonGlowBlue {
				0% {
					text-shadow: 0 0 2px rgba(255,255,255,.8),
											0 0 4px rgba(255,255,255,.8),
											0 0 4.5px  rgba(255,255,255,.8),
											0 0 8px  rgba(65,132, 220, 0.8),
											0 0 12.5px  rgba(65,132, 220,.8),
											0 0 16.5px  rgba(65,132, 220,.5),
											0 0 21px rgba(65,132, 220,.5),
											0 0 29px rgba(65,132, 220,.5),
											0 0 41.5px rgba(65,132, 220,.5);
				}
				100% {
					text-shadow: 0 0 0.5px rgba(255,255,255,.8),
											0 0 1.5px rgba(255,255,255,.8),
											0 0 2px rgba(255,255,255,.8),
											0 0 4px rgba(65,132, 220,.8),
											0 0 6px rgba(65,132, 220,.8),
											0 0 8px rgba(65,132, 220,.8),
											0 0 10.5px rgba(65,132, 220,.8),
											0 0 16.5px rgba(65,132, 220,.8);
				}
			}
		}
	}

	.text-center {
		text-align: center;

		&.text-tag {
			display: block;

			+ br {
				display: none;
			}
		}
	}

	.text-posmod,
	.text-negmod,
	.text-keyword,
	.text-attributename,
	.text-movename,
	.text-edgename,
	.text-gmtext,
	.text-resultlabel {
		font-weight: $font-weight-bold;
	}

	.text-keyword {
		color: var(--K4-color-keyword);
	}
	.text-attributename {
		color: var(--K4-color-keyword);
	}
	.text-movename {
		color: var(--K4-color-keyword-bright);
		font-style: italic;
	}
	.text-edgename {
		color: var(--K4-color-pos);
	}
	.text-posmod,
	.text-posmod+.text-keyword,
	.text-posmod+.text-attributename {
		color: var(--K4-color-pos);
	}

	.text-negmod,
	.text-negmod+.text-keyword,
	.text-negmod+.text-attributename {
		color: var(--K4-color-neg);
	}

	.text-gmtext {
		color: var(--K4-color-neg);
	}

	.text-resultlabel {
		color: var(--K4-color-header);
	}

	.text-trigger {
		color: var(--K4-color-primary-bright);
		font-weight: $font-weight-semi;
		font-style: italic;
	}


	.icon-container {
		--icon-size: 100%;
		--icon-bg-color: var(--K4-color-contrast);
		--icon-outline-color: var(--K4-color-primary);
		--icon-outline-width: 3px;
		--icon-clip-path: circle(closest-side);
		--icon-scale: 1;

		position: absolute;
		display: inline-block;
		background: var(--icon-outline-color);
		clip-path: var(--icon-clip-path);
		height: var(--icon-size);
		width: var(--icon-size);
		white-space: nowrap;
		font-size: 0;
		top: 0;
		left: 0;

		img {
			position: absolute;
			height: calc(100% - 2 * var(--icon-outline-width));
			width: calc(100% - 2 * var(--icon-outline-width));
			top: var(--icon-outline-width);
			left: var(--icon-outline-width);
			clip-path: var(--icon-clip-path);
			background: var(--icon-bg-color);
		}
	}

	div.hover-strip {
		--strip-icon-size: 30px;
		--strip-height: calc(var(--strip-icon-size) + 2px);
		--strip-padding-vert: 5px;
		--strip-underline-width: 1px;
		--strip-font-size: #{$rem-16};
		--strip-font-weight: #{$font-weight-semi};
		--strip-scale: 1;

		position: relative;
		height: var(--strip-height);
		white-space: nowrap;
		transform-origin: left center;
		transform: scale(var(--strip-scale));
		padding: var(--strip-padding-vert) 0;

		.icon-container {
			--icon-size: var(--strip-icon-size);
			--icon-outline-color: var(--K4-strip-button-color-bg);
			--icon-bg-color: var(--K4-strip-icon-color-bg);
			--icon-outline-width: 2px;
		}
		// 	position: absolute;
		// 	display: inline-block;
		// 	background: var(--icon-outline-color);
		// 	clip-path: var(--icon-clip-path);
		// 	height: var(--icon-size);
		// 	width: var(--icon-size);
		// 	white-space: nowrap;
		// 	font-size: 0;
		// 	top: 0;
		// 	left: 0;

		// 	img {
		// 		position: absolute;
		// 		height: calc(100% - 2 * var(--icon-outline-width));
		// 		width: calc(100% - 2 * var(--icon-outline-width));
		// 		top: var(--icon-outline-width);
		// 		left: var(--icon-outline-width);
		// 		clip-path: var(--icon-clip-path);
		// 		background: var(--K4-strip-icon-color-bg);
		// 	}
		// }

		.strip-bg, .button-strip {
			position: absolute;
			display: block;
			height: calc(100% - 2 * var(--strip-padding-vert));
			width: calc(100% - 0.5 * var(--strip-icon-size));
			top: var(--strip-padding-vert);
			left: calc(0.5 * var(--strip-icon-size));
			background: var(--K4-strip-main-color-bg);
			border-bottom: var(--strip-underline-width) solid var(--K4-strip-button-color-bg);
		}

		.button-strip {
			position: absolute;
			display: inline-flex;
			flex-direction: row;
			width: calc(100% - 0.5 * var(--strip-icon-size));
			left: calc(0.5 * var(--strip-icon-size));
			opacity: 0;
			outline: 0px solid var(--K4-strip-button-color-bg);
			justify-content: space-between;
			// overflow: hidden;

			.button-spacer {
				display: inline-block;
				width: var(--strip-icon-size);
				flex-grow: 0;
				flex-shrink: 0;
				position: relative;
			}

			.strip-button {
				flex-grow: 0.2;
				--K4-svg-fill: var(--K4-strip-button-color-fg);
				--K4-svg-bg: transparent;
				--K4-svg-clip-path: none;
				background: var(--K4-strip-button-color-bg);
				font-size: 0;
				flex-basis: auto;
				width: unset;
				position: relative;
				margin: 0;
				padding: 0;
				box-shadow: none;
				border-radius: 0;
				transition: 0.25s;

				.svg-container {
					top: 0;
					left: 0;
					pointer-events: none;

					.svg-def.svg-bg { opacity: 0 }
				}

				.button-tooltip {
					opacity: 0;
					color: var(--K4-strip-button-color-fg);
					text-align: center;
					line-height: var(--strip-icon-size);
					font-size: $rem-16;
					text-transform: uppercase;
					font-family: var(--font-primary-caps);
					font-weight: $font-weight-black;
					transform-origin: center center;
					transform: translate(-50%, -50%) scaleX(0.75);
					position: absolute;
					pointer-events: none;
					left: 50%;
					top: 50%;

					&.button-tooltip-flare {
						color: var(--K4-strip-button-hover-color-fg);
						visibility: hidden;
						transform: translate(-50%, -50%) scaleX(5) scaleY(3);
					}
				}

				&:hover {
					--K4-svg-fill: var(--K4-strip-button-hover-color-fg);
					background: var(--K4-strip-button-hover-color-bg);
				}
			}
		}

		.strip-name {
			position: absolute;
			height: 100%;
			color: var(--K4-strip-main-color-fg);
			font-size: var(--strip-font-size);
			font-weight: var(--strip-font-weight);
			line-height: var(--strip-icon-size);
			top: 0;
			left: calc(var(--strip-icon-size) + 5px);
			white-space: nowrap;
			z-index: 30;

			&:not(.content-editable) {
				pointer-events: none;
			}
		}

		.strip-tooltip {
			pointer-events: none;
			position: absolute;
			display: block;
			font-family: var(--font-primary);
			font-size: $rem-12;
			line-height: $rem-14;
			text-align: center;
			font-style: italic;
			width: 100%;
			text-align: left;
			color: var(--K4-strip-tooltip-color-fg);
			background: var(--K4-strip-tooltip-color-bg);
			opacity: 0;
			bottom: calc(0.75 * var(--strip-height));
			left: 0;
			z-index: 40;
			white-space: break-spaces;

			padding: 4px;
			border-radius: 20px;
		}

		&.move-strip {
			--K4-strip-icon-color-bg: var(--K4-color-primary);
			--K4-strip-icon-color-fg: var(--K4-color-contrast);
			--icon-outline-color: var(--K4-color-primary);
		}

		&.wound-strip {
			// --icon-size: 20px;
			--K4-strip-main-color-bg: transparent;
			// --strip-font-size: #{$rem-12};
			--strip-underline-width: 0px;
			--K4-strip-icon-color-bg: transparent; // var(--K4-dRED);
			--icon-outline-color: transparent;
			--icon-outline-width: 0px;
			--icon-clip-path: none;
			--strip-scale: 0.666;

			&.wound-critical {
				.strip-name {
					text-transform: uppercase;
					font-weight: 900;
					font-family: var(--font-primary-caps);
				}

				&:not(.wound-stabilized) {
					--K4-strip-main-color-fg: var(--K4-gRED);
					--K4-strip-icon-color-fg: var(--K4-gRED);
					--icon-scale: 1.2;
					--strip-scale: 0.75;
				}
			}

			&.wound-stabilized {
				// --icon-scale: 1;
				--K4-strip-main-color-fg: var(--K4-GOLD);
				--icon-outline-color: transparent;
				.icon-container, .icon-container .svg-container {
					--K4-svg-bg: transparent;
					--K4-svg-fill: var(--K4-GOLD);
					--K4-svg-clip-path: none;
					--K4-svg-scale: 1;
				}
				.strip-name {
					font-style: italic;
				}
				.strip-bg {
					border-color: transparent;
				}


			}
		}
	}

	.result-entry {
		--label-width: 60px;
		--label-gap: 10px;
		--result-entry-horiz-padding: 20px;
		display: block;
		margin: 0 var(--result-entry-horiz-padding);
		font-size: $rem-16;
		clear: both;

		> label {
			text-align: right;
			display: block;
			white-space: nowrap;
			width: var(--label-width);
			height: 100%;
			float: left;
			margin-right: var(--label-gap);
		}

		> span {
			display: inline-block;
			width: calc(100% - (var(--label-width) + var(--label-gap)));
			margin-bottom: 4px;
			padding-bottom: 2px;
			border-bottom-style: solid;
			border-bottom-width: 3px;
			border-image: linear-gradient(to right, var(--K4-color-primary) 50%, transparent) 1;
			vertical-align: top;
		}

		&:last-of-type>span {
			border-bottom: none;
		}
	}
}