/* SUPPORTED OPENTYPE FEATURES for ALVERATA LIGHT/MED/BOLD/BLACK

Automatically Enabled (Always)
	"kern" - kerning
	"liga" - standard ligatures
	"locl" - localized forms

Globally-Enabled
	"salt" - stylistic alternates

Small-Caps
	"c2sc" - capitals to small-caps
	"smcp" - non-capitals to small-caps

Number Display
	"frac" - show numbers separated by slash as fractions (ONLY use for fractions!)
	"onum" - most deviation from baseline
	"pnum" - (default) standard dev. from baseline
	"lnum" - line up with baseline
	"tnum" - monospace, line up with baseline
*/
// @font-face {
// 	font: {
// 		family: AlverataLight;
// 	}
// 	src: url("../assets/fonts/alverata/irreg/alverataIrreg-light.otf") format("opentype");
// }
// @font-face {
// 	font: {
// 		family: AlverataMedium;
// 	}
// 	src: url("../assets/fonts/alverata/irreg/alverataIrreg-med.otf") format("opentype");
// }
@font-face {
	font-family: Alverata;
	font-weight: 0 450;
	font-style: normal;
	src: url("../assets/fonts/alverata/irreg/alverataIrreg-light.otf") format("opentype");
}
@font-face {
	font-family: Alverata;
	font-weight: 451 650;
	font-style: normal;
	src: url("../assets/fonts/alverata/irreg/alverataIrreg-med.otf") format("opentype");
}

@font-face {
	font-family: Alverata;
	font-weight: 651 1000;
	font-style: normal;
	src: url("../assets/fonts/alverata/irreg/alverataIrreg-bold.otf") format("opentype");
}

@font-face {
	font: {
		family: Alverata, AlverataCaps;
		weight: 0 350;
		style: italic;
	}
	src: url("../assets/fonts/alverata/reg/alverata-light-italic.ttf") format("truetype"),
			 url("../assets/fonts/alverata/reg/alverata-light-italic.otf") format("opentype");
}

@font-face {
	font: {
		family: Alverata, AlverataCaps;
		weight: 351 450;
		style: italic;
	}
	src: url("../assets/fonts/alverata/reg/alverata-italic.ttf") format("truetype"),
			 url("../assets/fonts/alverata/reg/alverata-italic.otf") format("opentype");
}

@font-face {
	font: {
		family: Alverata, AlverataCaps;
		weight: 451 550;
		style: italic;
	}
	src: url("../assets/fonts/alverata/reg/alverata-med-italic.ttf") format("truetype"),
			 url("../assets/fonts/alverata/reg/alverata-med-italic.otf") format("opentype");
}

@font-face {
	font: {
		family: Alverata, AlverataCaps;
		weight: 551 650;
		style: italic;
	}
	src: url("../assets/fonts/alverata/reg/alverata-semi-italic.ttf") format("truetype"),
			 url("../assets/fonts/alverata/reg/alverata-semi-italic.otf") format("opentype");
}

@font-face {
	font: {
		family: Alverata, AlverataCaps;
		weight: 651 800;
		style: italic;
	}
	src: url("../assets/fonts/alverata/reg/alverata-bold-italic.ttf") format("truetype"),
			 url("../assets/fonts/alverata/reg/alverata-bold-italic.otf") format("opentype");
}

@font-face {
	font: {
		family: Alverata, AlverataCaps;
		weight: 801 1000;
		style: italic;
	}
	src: url("../assets/fonts/alverata/reg/alverata-black-italic.ttf") format("truetype"),
			 url("../assets/fonts/alverata/reg/alverata-black-italic.otf") format("opentype");
}

@font-face {
	font: {
		family: AlverataCaps;
		weight: 0 350;
		style: normal;
	}
	src: url("../assets/fonts/alverata/reg/alverata-light.ttf") format("truetype"),
			 url("../assets/fonts/alverata/reg/alverata-light.otf") format("opentype");
}

@font-face {
	font: {
		family: AlverataCaps;
		weight: 351 450;
		style: normal;
	}
	src: url("../assets/fonts/alverata/reg/alverata.ttf") format("truetype"),
			 url("../assets/fonts/alverata/reg/alverata.otf") format("opentype");
}

@font-face {
	font: {
		family: AlverataCaps;
		weight: 451 550;
		style: normal;
	}
	src: url("../assets/fonts/alverata/reg/alverata-med.ttf") format("truetype"),
			 url("../assets/fonts/alverata/reg/alverata-med.otf") format("opentype");
}

@font-face {
	font: {
		family: AlverataCaps;
		weight: 551 650;
		style: normal;
	}
	src: url("../assets/fonts/alverata/reg/alverata-semi.ttf") format("truetype"),
			 url("../assets/fonts/alverata/reg/alverata-semi.otf") format("opentype");
}

@font-face {
	font: {
		family: AlverataCaps;
		weight: 651 800;
		style: normal;
	}
	src: url("../assets/fonts/alverata/reg/alverata-bold.ttf") format("truetype"),
			 url("../assets/fonts/alverata/reg/alverata-bold.otf") format("opentype");
}

@font-face {
	font: {
		family: AlverataCaps;
		weight: 801 1000;
		style: normal;
	}
	src: url("../assets/fonts/alverata/reg/alverata-black.ttf") format("truetype"),
			 url("../assets/fonts/alverata/reg/alverata-black.otf") format("opentype");
}

@font-face {
	font: {
		family: AlverataSemiBold;
		style: normal;
	}
	src: url("../assets/fonts/alverata/irreg/alverataIrreg-bold.otf") format("opentype");
}

@font-face {
	font: {
		family: AlverataSemiBold;
		style: italic;
	}
	src: url("../assets/fonts/alverata/reg/alverata-semi-italic.ttf") format("truetype"),
			 url("../assets/fonts/alverata/reg/alverata-semi-italic.otf") format("opentype");
}

@font-face {
	font-family: Infidel;
	src: url("../assets/fonts/infidel.ttf");
}

@font-face {
	font-family: Sokol;
	src: url("../assets/fonts/sokol.ttf");
}

@font-face {
	font-family: GrandpasScript;
	src: url("../assets/fonts/ft-grandpas-script/ft-grandpas-script.woff2") format('woff2'),
			 url("../assets/fonts/ft-grandpas-script/ft-grandpas-script.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}

$rem-8: 0.5rem;
$rem-10: 0.625rem;
$rem-12: 0.75rem;
$rem-14: 0.875rem;
$rem-16: 1rem;
$rem-18: 1.125rem;
$rem-20: 1.25rem;
$rem-22: 1.375rem;
$rem-24: 1.5rem;
$rem-28: 1.75rem;
$rem-32: 2rem;
$rem-40: 2.5rem;
$rem-48: 3rem;
$rem-56: 3.5rem;
$rem-64: 4rem;
$rem-72: 4.5rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

* {
	/* FOUNDRY OVERRIDES */
  --font-primary: Alverata, serif; // "Signika", sans-serif;
  --font-mono: monospace;
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --line-height-12: 0.75rem;
  --line-height-16: 1rem;
  --line-height-20: 1.25rem;
  --line-height-30: 1.875rem;

	--font-primary-caps: AlverataCaps, serif;
	--font-icon: "Font Awesome 5 Free";
	--font-heading: Infidel, sans-serif;
	--font-decorative: Sokol, serif;
	--font-handwritten: GrandpaScript, serif;
}