& {
  --K4-sheet-min-height: 90vh;
  --K4-sheet-min-width: 70vw;

  --K4-gmsheet-column-toggler-size: 12px;
  --K4-gmsheet-panel-toggler-size: 12px;

}

.window-header {
  top: -20px;
  .header-button {
    top: 0px;

  }
}

.window-content {
  padding: 0;


  .kult4th-form {
    display: flex;
    border-radius: 0;
    background: var(--K4-GREY1);
    background-image: none;
    * {
      font-family: Oswald;
    }

    main {
      display: flex;
      width: 100%;
      justify-content: flex-start;

      .column-toggler {
        display: block;
        appearance: none;
        width: var(--K4-gmsheet-column-toggler-size);
        max-width: var(--K4-gmsheet-column-toggler-size);
        margin: 0;
        padding: 0;
        height: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: calc(-1 * var(--K4-gmsheet-column-toggler-size));
        background: var(--K4-GOLD5);


        &:checked {
          background: var(--K4-GOLD1);

          + .column-label {
            color: var(--K4-GOLD5);

            + .column { display: none;}
          }
        }
      }

      .column-label {
        pointer-events: none;
        color: var(--K4-GREY0);
        text-indent: 10px;
        display: block;
        width: var(--K4-gmsheet-column-toggler-size);
        overflow: visible;
        height: var(--K4-gmsheet-column-toggler-size);
        line-height: calc(var(--K4-gmsheet-column-toggler-size) * 1.2);
        transform: rotate(90deg);
        font-family: var(--font-primary-smallcaps);
        text-transform: lowercase;
        font-weight: $font-weight-black;
        font-size: var(--K4-gmsheet-column-toggler-size);
        white-space: nowrap;
      }

      .column {
        flex-basis: 25%;
        flex-grow: 1;
        flex-shrink: 1;
        transition: flex-grow 0.5s, flex-shrink 0.5s, width 0.5s;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        overflow-x: hidden;
        overflow-y: scroll;

        &.no-scroll {
          overflow: hidden;
        }

        &:focus {
          flex-grow: 2;
        }

        .panel-toggler {
          display: block;
          appearance: none;
          height: var(--K4-gmsheet-panel-toggler-size);
          max-height: var(--K4-gmsheet-panel-toggler-size);
          margin: 0;
          padding: 0;
          width: 100%;
          flex-grow: 0;
          flex-shrink: 0;
          margin-bottom: calc(-1 * var(--K4-gmsheet-panel-toggler-size));
          background: var(--K4-GREY0);
          border-top: 1px solid var(--K4-GOLD9);
          border-bottom: 1px solid var(--K4-GOLD9);

          &:checked {
            background: var(--K4-GOLD1);

            + .panel-label {
              + .panel { display: none;}
            }
          }
        }

        .panel-label {
          color: var(--K4-GOLD9);
          position: relative;
          text-indent: 5px;
          display: block;
          width: var(--K4-gmsheet-panel-toggler-size);
          overflow: visible;
          height: var(--K4-gmsheet-panel-toggler-size);
          line-height: calc(var(--K4-gmsheet-panel-toggler-size) * 1.2);
          font-family: var(--font-primary-smallcaps);
          text-transform: lowercase;
          font-weight: $font-weight-black;
          font-size: var(--K4-gmsheet-panel-toggler-size);
          white-space: nowrap;
          pointer-events: none;
        }

        .panel {
          flex-grow: 1;
          flex-shrink: 1;
          transition: flex-grow 0.5s, flex-shrink 0.5s, width 0.5s;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: flex-start;
          overflow-x: hidden;
          overflow-y: scroll;

          > * {
            margin: 0;
          }

          &.panel-player-character {
            position: relative;
            --K4-color-primary: var(--K4-GOLD8);

            .panel-bg {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              z-index: -1;
              opacity: 0.5;

              img {
                position: relative;
                height: 150%;
                transform: translate(-50%, -25%);
                left: 50%;
                filter: blur(2px) brightness(0.5);
              }
            }

            .attribute-summary {
              width: min-content;
              display: grid;
              padding: 3px;
              border: 3px double var(--K4-GOLD9);

              grid-template-areas:
                "fortitude willpower reflexes"
                ". . ."
                "reason perception intuition"
                "coolness charisma violence"
                ". soul .";
              grid-template-columns: 1fr 1fr 1fr;
              grid-template-rows: 1fr 0px 1fr 1fr 1fr;
              grid-column-gap: 10px;
              grid-row-gap: 2px;

              .attribute-box {
                white-space: nowrap;
                display: flex;
                justify-content: center;

                &.attribute-fortitude,
                &.attribute-willpower,
                &.attribute-reflexes {
                  filter: brightness(0.75);
                }

                &.attribute-fortitude { grid-area: fortitude; }

                &.attribute-willpower { grid-area: willpower;
                  .attribute-name { text-indent: 0; }
                }

                &.attribute-reflexes { grid-area: reflexes; }

                &.attribute-reason { grid-area: reason; }

                &.attribute-perception { grid-area: perception; }

                &.attribute-intuition { grid-area: intuition; }

                &.attribute-coolness { grid-area: coolness; }

                &.attribute-charisma { grid-area: charisma; }

                &.attribute-violence { grid-area: violence; }

                &.attribute-soul { grid-area: soul; }

                &.attribute-0 {
                  --attribute-value-color: var(--K4-GOLD5);
                }
                &[class*='attribute--'] {
                  --attribute-value-color: var(--K4-RED9);

                  &.attribute--1 {
                    --attribute-value-color: var(--K4-RED8);
                  }
                }
                &.attribute-1 {
                  --attribute-value-color: var(--K4-GOLD8);
                }
                &.attribute-2 {
                  --attribute-value-color: var(--K4-GOLD9);
                }

                .attribute-name {
                  position: relative;
                  width: 12px;
                  height: 12px;
                  display: inline-block;
                  color: transparent;
                  text-indent: 3px;

                  &.attribute-willpower { text-indent: 0px; }

                  &::first-letter {
                    color: var(--attribute-value-color, var(--K4-GREY10));
                    text-shadow: build-text-shadow(3px, var(--K4-GREY0), 6);
                  }
                }

                .attribute-value {
                  text-shadow: build-text-shadow(3px, var(--K4-GREY0), 6);
                  color: var(--attribute-value-color, var(--K4-GREY10));
                }
              }
            }
          }
        }
      }

    }
  }
}