& {
	--K4-sheet-min-height: calc(590px * 0.75);
	--K4-sheet-min-width: calc(384px * 0.75);

	--K4-section-padding-top: 0px;
	--K4-section-padding-bottom: 0px;
	--K4-section-padding-left: 0px;
	--K4-section-padding-right: 0px;

	--K4-sheet-header-height: 0px;

	--K4-resize-handle-translate: translate(0px, 0px);

	.window-header {
		.header-button {
			top: -25px;
		}

	}

	.window-content {
		background: none;

		form {
			font-size: $rem-12;
			line-height: $rem-16;
			background: var(--K4-bg);
			border-radius: 30px;
			filter: drop-shadow(10px 10px 10px var(--K4-BLACK));
      height: auto;
      min-height: 150px;

			.header-icon {
				$icon-size: 80px;

				--K4-svg-bg: var(--K4-color-contrast);
				--K4-svg-clip-path: circle(closest-side);
				--K4-svg-scale: 0.95;

				transform: translate(-50%, -50%);
				height: $icon-size;
				width: $icon-size;
				position: absolute;
				left: 10px;
				top: 0.25 * $icon-size;
				z-index: 2;
				overflow: hidden;
				background: var(--K4-color-primary);
				clip-path: var(--K4-svg-clip-path);

				&.header-move {
					--K4-color-primary: var(--K4-GOLD);
					--K4-svg-scale: 1;

					.svg-container {
						--K4-svg-bg: var(--K4-color-primary);
						--K4-svg-fill: var(--K4-BLACK);
						--K4-svg-stroke: none;
					}
				}
			}

			.sheet-header {
				border-bottom: 3px solid var(--K4-color-title-bg);
				flex-wrap: nowrap;
				text-align: center;
        height: 30px;
				margin-bottom: calc(var(--K4-sheet-header-height) * -1);

				.header-bullet,
				.item-title {
					position: relative;
					flex-grow: 1.5;
				}

				.header-filler {
					display: none;
					flex-basis: 0;
					flex-grow: 1;
				}

				&.move-header {
					--K4-color-title-fg: var(--K4-BLACK);
				}
			}

			.tab-content {
				--K4-color-primary: var(--K4-WHITE);
				--K4-color-primary-bright: var(--K4-bWHITE);
				--K4-color-primary-glow: var(--K4-bWHITE);
				--K4-color-header: var(--K4-bWHITE);
				--K4-color-neg: var(--K4-gRED);

        &.kult-move-container {
          text-shadow: none;
          --K4-color-primary-bright: var(--K4-dBLACK);
          --K4-color-primary: var(--K4-BLACK);
          --K4-color-header: var(--K4-RED);
        }


				background: var(--K4-bg-inset);
				margin: 15px;
				padding: 0 10px;
				border-radius: 25px;
				filter: none;
				overflow-x: hidden;
				overflow-y: auto;
				text-shadow: 0 0 3px var(--K4-dBLACK), 0 0 3px var(--K4-dBLACK), 0 0 3px var(--K4-dBLACK);

				> p:first-child {
					// text-indent: 25px;
				}

				&.kult-darksecret-container {
					--K4-section-padding-left: 20px;
					--K4-section-padding-right: 20px;
					--K4-section-padding-bottom: 20px;
					p:first-child::first-line {
						font-variant: small-caps;
					}
				}

				.result-entry {
					--label-width: 38px;
					--label-gap: 5px;
					--result-entry-horiz-padding: -5px;
				}
			}

		}
	}
}
