<form class=" autocomplete="off">
  <div class="form-group">
    <label for="text-input">{{localize "KULT4th.dialog.ask-for-text-input.label"}}</label>
    <input type="text" class="form-control" id="text-input" placeholder="{{localize "KULT4th.dialog.ask-for-text-input.placeholder"}}">
  </div>