{{log "{SHEET} darksecret-sheet.hbs" this}}

{{> "systems/kult4th/templates/components/bg-grid.hbs" data.type}}

<form class="kult4th-form {{cssClass}}" autocomplete="off">
	{{> "systems/kult4th/templates/components/form-header.hbs" docType=data.type docName=data.name isBullet=false}}
	<main class="kult-text-container tab-content kult-{{data.type}}-container">
		{{#unless (areEmpty item.data.data.rules.intro item.data.data.rules.outro)}}
			{{> "systems/kult4th/templates/components/rules-block.hbs" rules=data.data.rules}}
		{{/unless}}

		{{~#if data.data.rules.listRefs}}
			{{> "systems/kult4th/templates/components/item-list.hbs" lists=data.data.lists listRefs=data.data.rules.listRefs itemData=data isDisplayingName=true}}
		{{/if}}
	</main>
</form>