<p
	style="display: block; position: absolute; top: 0; text-align: right; height: 20px; max-height: 20px; margin: 0; padding: 0; line-height: 20px; width: 100%; right: 10px; font-size: 12px;">
	Gender: <span class="text-trigger" style="font-size: 12px;">Male</span><span
		style="width: 20px; color: transparent; font-size: 12px;">Los Angeles</span>Home: <span class="text-trigger"
		style="font-size: 12px;">Los Angeles</span></p>
<h2><span class="text-trigger">Who are you fleeing from? Why?</span></h2>
<p>After I negligently killed forty illegals by leaving them for too long in a locked van under the desert sun, I
	thought I'd covered my tracks... until I was ratted out. Now I'm on the run from the FBI's Human Trafficking Task
	Force&mdash;as well as the Nevada authorities, likely looped into the chase after I crossed state lines.</p>
<h3 class="text-trigger">Why and how are they a threat to you?</h3>
<p>I know that being caught means death or jail&mdash;and I've been <em>Sure&ntilde;os</em> for over half my life, so
	"jail" is really just another way of saying "death at the hands of the <em>Norte&ntilde;os</em>, <em>Nuestra
		Familia</em>, the Bloods, or any number of other rival gangs with a grudge". I don't want to hurt anyone, least of
	all a cop just doing their job, but if it comes down to me or them, I'll stop at nothing to escape.</p>
<h2><span class="text-trigger">Who do you give a damn about? Why?</span></h2>
<p>As unbelievable as it might sound, I truly do care about those people who are so desperate they'll risk exploitation
	and worse to escape their lives: I always tried to make my "passengers" as comfortable as I could, even struck up
	conversation from time to time, even learned some of their names. I'm devastated and disgusted with myself for what I
	did.&nbsp;</p>
<h2><span class="text-trigger">Who do you love? Who is the friend out there waiting for you?</span></h2>
<p><span class="text-trigger">Selena</span>&mdash;whose last name I never knew&mdash;was my only real companion during
	my childhood on the streets, before <em>Sure&ntilde;os</em> recruited me and separated us forever. I fell in love with
	memories of her and dream that we'll meet and I'll learn she's always felt the same way. Which is so unbelievably
	stupid, I know, but... I know the town she now lives in, and in my panicked flight out of L.A., some part of me
	pointed my car in her direction.</p>
<h3 class="text-trigger">Why are they helping you?</h3>
<p>I don't know that she will, and with every mile that rolls by, I further question the sanity of seeking out someone I
	haven't seen since childhood, to somehow convince them to harbor a fugitive guilty of monstrous crimes. But I
	<em>have</em> always loved Selena, and my memories tell me she loved me&mdash;in the way children do, at least. Did
	that love mature for her as it did for me? Will she even remember me? God I hope so.</p>
<h2><span class="text-trigger">Who do you hate?</span></h2>
<p><span class="text-trigger">Spencer Diaz</span>, the man who recruited me off the streets when I was just a kid and
	mentored me through those hard early years. He was the only one I confided in regarding the deaths I had caused, and
	so he is the only one that could have tipped off the authorities. I fantasize about taking him down with me, if down
	is where I'm headed... but I'm driving the wrong way, as he's surely still in L.A.</p>
<h2><span class="text-trigger">What happened to the four bullets that are missing from the .45 pistol you carry?</span>
</h2>
<p>The heat hadn't killed <em>all</em> of my human cargo: Four still lived, sucking in air through a crack in the door
	frame. I knew my life would be over if I let them live... so I didn't.</p>