& {
	--sheet-min-height: 525px;
	--sheet-min-width: 700px;
	--sheet-top-padding: 0px;

	--sheet-horiz-padding: 30px;
	--sheet-bottom-padding: 1.5%;

	--sheet-header-height: 60px;

	filter: none;

	$nav-horiz-shift: 25px;
	$nav-vert-shift: 25px;

	$mask-size: 200px;
	$mask-radius: 37;

	$corner-height: 75px;
	$corner-width: 200px;

	$vert-width: 30px;
	$vert-height: 12px;
	$vert-vert-center: 15px;
	$corner-horiz-shift: $vert-vert-center - 0.5 * $vert-width;
	$vert-grid-width: $vert-width;
	$corner-grid-width: $corner-width - $vert-grid-width - $corner-horiz-shift;

	$horiz-width: 600px;
	$horiz-height: 20px;
	$horiz-sub-height: 13px;
	$horiz-horiz-center: 10px;
	$horiz-horiz-sub-center: 6.5px;
	$corner-vert-shift: $horiz-horiz-center - 0.5 * $horiz-height;
	$horiz-grid-height: $horiz-height;
	$corner-grid-height: $corner-height - $horiz-grid-height - $corner-vert-shift;

	.nav-panel.gear-container {
		$size: 180px;
		$frame-width: 10px;
		top: $nav-vert-shift; // $horiz-horiz-sub-center;
		left: $nav-horiz-shift; // (0.5 * $vert-width);
		height: $size;
		width: $size;
		pointer-events: all;
		z-index: 5;
		transform: translate(-50%, -50%) scale(0.75);

		.svg-def {
			fill: $gold;
			fill-opacity: 1;
			stroke: none; // $gold-darkest;
			stroke-width: 2px;
			stroke-opacity: 1;
			filter: none;
			opacity: 1;
			z-index: 2;
		}

		.nav-lens, .profile-image-bg, .profile-image-animation {
			pointer-events: none;
			top: $frame-width;
			left: $frame-width;
			height: $size - 2 * $frame-width;
			width: $size - 2 * $frame-width;
		}

		.nav-lens {
			z-index: 1;
		}

		.profile-image {
			height: auto;
			width: auto;
			max-width: $size - 2 * $frame-width;
			top: $size / 2;
			left: $size / 2;
			transform: translate(-50%, -50%);
			z-index: 0;
			clip-path: circle(closest-side);
		}

		.profile-image-bg {
			position: absolute;
			border-radius: 50%;
			background: $black;
			z-index: -1;
		}

		.profile-image-animation {
			position: absolute;
			border-radius: 50%;
			background: transparent #{to-url("animations/gears-perspective.gif")} no-repeat no-repeat 90% center/266px auto;
			// background: transparent #{to-url("animations/gears-steampunk.gif")} no-repeat no-repeat center center/185px auto;
			z-index: -2;
			outline: 12px solid #{$gold};
		}

		.header-button {
			// opacity: 0;
			display: block;
			font-size: $rem-24;
			width: 30px;
			position: absolute;
			z-index: 2;
			text-align: center;
			text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
			transform: translate(-50%, -50%);


			&.close {
				top: 35px;
				left: 110px;
			}

			&.minimize {
				left: 135px;
				top: 60px;
			}
		}

		.tabs {
			$tab-spike-height: 40px;
			$tab-spike-length: 150px;
			height: 100%;
			width: 100%;
			position: relative;
			z-index: -3;

			.nav-tab {
				transform-origin: right center;
				transform: translate(-50%, -50%);
				height: $tab-spike-height;
				width: 5px;
				top: 50%;

				&, > * {
					display: block;
					position: absolute;
				}

				svg {
					width: 100%;
				}

				.nav-tab-label {
					opacity: 0;
				}
			}
		}

	}

	.gear-container {
		position: absolute;
		pointer-events: none;
		transform: translate(-50%, -50%);
		z-index: -2;

		.svg-def {
			position: absolute;
			fill: $gold-dark;
			fill-opacity: 0.3;
			stroke: none;
			filter: blur(2px);
			opacity: 0;
		}

		&.gear-top-left {
			$size: 80px;
			top: $horiz-horiz-sub-center;
			left: 120px;
			height: $size;
			width: $size;
		}
		&.gear-top-right {
			$size: 100px;
			top: $horiz-horiz-sub-center;
			right: -1 * $size + (0.5 * $vert-width);
			height: $size;
			width: $size;
		}
		&.gear-bottom-left {
			$size: 100px;
			bottom: -1 * $size + $horiz-horiz-sub-center;
			left: (0.5 * $vert-width);
			height: $size;
			width: $size;

			.svg-def {
				fill: unset;
				.d-0 {
					fill: $gold-dark;
				}
				.d-1 {
					fill: $gold-darker;
				}
			}
		}
		&.gear-bottom-right {
			$size: 80px;
			bottom: -1 * $size + $horiz-horiz-sub-center;
			right: -1 * $size + (0.5 * $vert-width);
			height: $size;
			width: $size;
		}

		img {
			position: absolute;
		}
	}

	.border-container,
	.bg-container {
		position: absolute;
		pointer-events: none;
		display: grid;

		&.bg-container {
			$bg-horiz-padding: 0.7 * $vert-width;
			$bg-vert-padding: 0.25 * $bg-horiz-padding;

			$bg-vert-height: 1000px;
			$bg-vert-width: 100px;
			$bg-vert-feather: 20px;

			$bg-horiz-height: 100px;
			$bg-horiz-width: 1000px;
			$bg-horiz-feather: 20px;

			$bg-corner-height: 32px;
			$bg-corner-width: 32px;

			height: calc(100% - (2 * #{$bg-vert-padding}));
			width: calc(100% - (2 * #{$bg-horiz-padding}));
			top: $bg-vert-padding;
			left: $bg-horiz-padding;
			z-index: -1;

			@include to-mask($mask-size, $mask-radius, (#{-1 * $bg-horiz-padding + $nav-horiz-shift} #{-1 * $bg-vert-padding + $nav-vert-shift}), $isExclusion: true)

			grid-template-areas:
				"top-left  top top-right"
				"left    center    right"
				"bot-left  bot bot-right";
			grid-template-columns: #{$bg-corner-width} 1fr #{$bg-corner-width};
			grid-template-rows: #{$bg-corner-height} 1fr #{$bg-corner-height};

			.sheet-bg {
				position: relative;
				height: 100%;
				width: 100%;

				&.vert-edge {
					width: $bg-vert-width;

					&.left {
						grid-area: left;
						background: transparent #{to-url("backgrounds/bg-dgold-paper-left.webp")} no-repeat repeat left center/#{$bg-vert-width} #{$bg-vert-height};
					}

					&.right {
						grid-area: right;
						background: transparent #{to-url("backgrounds/bg-dgold-paper-right.webp")} no-repeat repeat right center/#{$bg-vert-width} #{$bg-vert-height};
						right: $bg-vert-width - $bg-corner-width;
					}
				}

				&.horiz-edge {
					height: $bg-horiz-height;

					&.top {
						grid-area: top;
						background: transparent #{to-url("backgrounds/bg-dgold-paper-top.webp")} repeat no-repeat center top/#{$bg-horiz-width} #{$bg-horiz-height};
					}

					&.bot {
						grid-area: bot;
						background: transparent #{to-url("backgrounds/bg-dgold-paper-bot.webp")} repeat no-repeat center bottom/#{$bg-horiz-width} #{$bg-horiz-height};
						bottom: $bg-horiz-height - $bg-corner-height;
					}
				}

				&.corner {
					background: transparent #{to-url("backgrounds/bg-dgold-paper.webp")} repeat repeat center center/#{$bg-corner-width} #{$bg-corner-height};
					position: absolute;
					-webkit-mask-composite: destination-out;
					mask-composite: exclude;

					&.top-left {
						grid-area: top-left;
						-webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><circle cx="0" cy="0" r="100" fill="black" /></svg>') 0/#{$bg-corner-width} #{$bg-corner-height}, linear-gradient(#fff, #fff);
						mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><circle cx="0" cy="0" r="100" fill="black" /></svg>') 0/#{$bg-corner-width} #{$bg-corner-height}, linear-gradient(#fff, #fff);
					}
					&.top-right {
						grid-area: top-right;
						-webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><circle cx="100" cy="0" r="100" fill="black" /></svg>') 0/#{$bg-corner-width} #{$bg-corner-height}, linear-gradient(#fff, #fff);
						mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><circle cx="100" cy="0" r="100" fill="black" /></svg>') 0/#{$bg-corner-width} #{$bg-corner-height}, linear-gradient(#fff, #fff);
					}
					&.bot-left {
						grid-area: bot-left;
						-webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><circle cx="0" cy="100" r="100" fill="black" /></svg>') 0/#{$bg-corner-width} #{$bg-corner-height}, linear-gradient(#fff, #fff);
						mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><circle cx="0" cy="100" r="100" fill="black" /></svg>') 0/#{$bg-corner-width} #{$bg-corner-height}, linear-gradient(#fff, #fff);
					}
					&.bot-right {
						grid-area: bot-right;
						-webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><circle cx="100" cy="100" r="100" fill="black" /></svg>') 0/#{$bg-corner-width} #{$bg-corner-height}, linear-gradient(#fff, #fff);
						mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><circle cx="100" cy="100" r="100" fill="black" /></svg>') 0/#{$bg-corner-width} #{$bg-corner-height}, linear-gradient(#fff, #fff);
					}
				}

				&.center {
					grid-area: center;
					z-index: -2;
					background: transparent #{to-url("backgrounds/bg-dgold-paper.webp")} repeat repeat center center/500px 500px;
				}
			}
		}

		&.border-container {
			height: 100%;
			width: 100%;
			z-index: 3;

			grid-template-areas:
				"top-left top-left top top-right top-right"
				"top-left top-left  .  top-right top-right"
				"    left    .      .     .          right"
				"bot-left bot-left  .  bot-right bot-right"
				"bot-left bot-left bot bot-right bot-right";
			grid-template-columns: #{$vert-grid-width} #{$corner-grid-width} 1fr #{$corner-grid-width} #{$vert-grid-width};
			grid-template-rows: #{$horiz-grid-height} #{$corner-grid-height} 1fr #{$corner-grid-height} #{$horiz-grid-height};

			@include to-mask($mask-size, $mask-radius, (#{$nav-horiz-shift} #{$nav-vert-shift}), $isExclusion: true);
			.sheet-border {
				pointer-events: none;
				position: relative;
				background: transparent var(--border-image) no-repeat var(--border-horiz-align) var(--border-vert-align)/ #{$corner-width} #{$corner-height};

				&.corner {
					z-index: 5;
					height: $corner-height;
					width: $corner-width;

					&.top-left {
						grid-area: top-left;
						--border-image: #{to-url("layout/simple-border-top-left.webp")};
						--border-horiz-align: left;
						--border-vert-align: top;
						top: -1 * $corner-vert-shift;
						left: -1 * $corner-horiz-shift;
					}

					&.top-right {
						grid-area: top-right;
						--border-image: #{to-url("layout/simple-border-top-right.webp")};
						--border-horiz-align: right;
						--border-vert-align: top;
						top: -1 * $corner-vert-shift;
						right: 0;
					}

					&.bot-left {
						grid-area: bot-left;
						--border-image: #{to-url("layout/simple-border-bot-left.webp")};
						--border-horiz-align: left;
						--border-vert-align: bottom;
						bottom: -1 * $corner-vert-shift;
						left: -1 * $corner-horiz-shift;
					}

					&.bot-right {
						grid-area: bot-right;
						--border-image: #{to-url("layout/simple-border-bot-right.webp")};
						--border-horiz-align: right;
						--border-vert-align: bottom;
						bottom: -1 * $corner-vert-shift;
						right: 0;
					}
				}

				&.horiz-bar {
					background: transparent #{to-url("layout/simple-border-horiz-bar.webp")} repeat no-repeat center center/#{$horiz-width} #{$horiz-height};
					left: -1 * $corner-horiz-shift;
					width: calc(100% + 2 * #{$corner-horiz-shift});

					&.top {
						grid-area: top;
					}

					&.bot {
						grid-area: bot;
					}
				}

				&.vert-bar {
					$vert-spacer: 0px;
					z-index: 4;
					height: calc(100% - 2 * #{$vert-spacer});
					top: $vert-spacer;
					width: $vert-width;
					background: transparent #{to-url("layout/chain.svg")} no-repeat repeat center center/#{$vert-height} #{$vert-height};

					&.left {
						grid-area: left;
					}

					&.right {
						grid-area: right;
					}
				}
			}
		}

	}

	.window-content {
		background: none;

		form {

			>* {
				position: relative;
				z-index: 3;
			}


			.sheet-header {
				height: var(--sheet-header-height);
				overflow: visible;
				z-index: 3;
				padding-top: 20px;

				.actor-name {
					height: auto;
					max-width: 625px;
					margin: 0 auto;
					font-family: var(--font-heading);
					color: #{$gold};
					font-size: #{$rem-48};
					border: none;
					outline: none;
					background: transparent; // #{to-url("layout/header-frame.webp")} no-repeat center 2px;
					text-align: center;
				}
			}

			.tab-content {
				overflow-x: hidden;
				// overflow-y: scroll;

				// margin-bottom: -30px;

				.tab {
					$grid-gap: 5px;
					--horiz-padding: 10px;
					--top-padding: 5px;
					--bottom-padding: 10px;
					padding: var(--top-padding) var(--horiz-padding) var(--bottom-padding);
					height: calc(100% - (var(--top-padding) + var(--bottom-padding)));
					display: grid;
					grid-gap: $grid-gap;
					grid-template-columns: 1fr 1fr 1fr;
					grid-template-rows: 40px 80px auto auto;

					.subsection {
						--horiz-padding: 5px;
						box-sizing: border-box;
						border: 1px solid #{$gold};
						padding: 0 var(--horiz-padding) 5px;

						&.flex-item-list {
							display: flex;
							flex-direction: column;
							flex-wrap: nowrap;
							justify-content: stretch;

							.subsection-header {
								align-self: start;
								flex: 0;
							}
						}
					}

					&.front {
						$attributes-width: 200px;
						$attributes-height: $attributes-width * (494 / 261) + 30px + 20px;
						$nav-buffer: 60px;

						--attributes-width: #{$attributes-width};
						--attributes-height: #{$attributes-height};
						grid-template-areas:
							". dramatic-hooks dramatic-hooks dramatic-hooks"
							"status status status status"
							"attributes attributes basic-moves special-moves"
							"session-checks session-checks attacks special-moves"
							"footer footer footer footer";
						grid-template-columns: #{$nav-buffer} #{$attributes-width - $nav-buffer - $grid-gap} 1fr 1fr;
						grid-template-rows: 40px 80px var(--attributes-height) auto 40px;

						.dramatic-hooks {
							grid-area: dramatic-hooks;
							padding: 0;
							background: change-color($black, $alpha: 0.75);

							.hook-label {
								display: inline-block;
								margin: 0 0 0 10px;
								font-size: $rem-40;
								line-height: $rem-40;
								color: $gold-dark;
								font-family: var(--font-decorative);
								float: left;
							}

							.dramatic-hook {
								height: 16px;
								margin: 4px 0;
								white-space: nowrap;

								&:nth-of-type(1) {
									margin-bottom: 0
								}

								&:nth-of-type(2) {
									margin-top: 0
								}

								input[type="checkbox"] {
									display: inline-block;
									float: left;
									margin: 3px 0 0;
									padding: 0;
									height: calc(50%);
								}

								input[type="text"] {
									display: inline-block;
									border: none;
									margin: 0;
									padding: 0;
									color: #{$gold-bright};
									font-size: #{$rem-12};
									height: 100%;
									box-shadow: none;
									font-weight: #{$font-weight-bold};
									font-style: italic;
									transform-origin: left center;
									// transform: scaleX(0.9);
									vertical-align: top;
								}
							}
						}

						.status {
							grid-area: status;
							display: flex;
						}

						.attributes {
							grid-area: attributes;
							background: transparent #{to-url("layout/attributes-spread.webp")} no-repeat center/100% auto;

							.attribute-box {
								--panel-size: 200px;
								--k4-background: none;
								height: var(--panel-size);
								width: var(--panel-size);
								position: absolute;
								pointer-events: none;

								img {
									position: absolute;
									// height: 100%;
									// width: 100%;
									filter: sepia(1);
									opacity: 0;
									top: -2px;
								}

								.attribute-title {
									display: block;
									position: relative;
									width: 100%;
									top: 125px;
									font-size: $rem-10;
									text-align: center;
									font-weight: $font-weight-bold;
								}

								.attribute-value {
									position: absolute;
									height: 40px;
									width: 40px;
									border: none;
									left: calc(50% - (40px / 2));
									top: 78px;
									pointer-events: all;
									font-size: $rem-20;
									text-align: center;
									font-weight: $font-weight-black;
									appearance: none;

									option { text-align: center }

									&[value="7"],
									option[value="7"] {
										color: $white;
									}

									&[value="6"],
									option[value="6"] {
										color: $white;
									}

									&[value="5"],
									option[value="5"] {
										color: $gold-brightest;
									}

									&[value="4"],
									option[value="4"] {
										color: $gold-brightest;
									}

									&[value="3"],
									option[value="3"] {
										color: $gold-bright;
									}

									&[value="2"],
									option[value="2"] {
										color: $gold;
									}

									&[value="1"],
									option[value="1"] {
										color: $gold-dark;
									}

									&[value="0"],
									option[value="0"] {
										color: $gold-darker;
									}

									&[value="-1"],
									option[value="-1"] {
										color: $red-brightest;
									}

									&[value="-2"],
									option[value="-2"] {
										color: $red-bright;
									}

									&[value="-3"],
									option[value="-3"] {
										color: $red;
									}

									&[value="-4"],
									option[value="-4"] {
										color: $red-dark;
									}

									&[value="-5"],
									option[value="-5"] {
										color: $red-darkest;
									}
								}

								&[data-attribute="fortitude"],
								&[data-attribute="reason"],
								&[data-attribute="coolness"] {
									left: -59.5px;
								}

								&[data-attribute="willpower"],
								&[data-attribute="perception"],
								&[data-attribute="charisma"],
								&[data-attribute="soul"] {
									left: 11.5px;
								}

								&[data-attribute="reflexes"],
								&[data-attribute="intuition"],
								&[data-attribute="violence"] {
									left: 83px;
								}

								&[data-attribute="willpower"] {
									top: 90px
								}

								&[data-attribute="fortitude"],
								&[data-attribute="reflexes"] {
									top: 133.5px;
								}

								&[data-attribute="reason"],
								&[data-attribute="intuition"] {
									top: 216.5px;
								}

								&[data-attribute="perception"] {
									top: 256.5px
								}

								&[data-attribute="coolness"],
								&[data-attribute="violence"] {
									top: 296.5px;
								}

								&[data-attribute="charisma"] {
									top: 335px
								}

								&[data-attribute="soul"] {
									top: 414.5px
								}
							}
						}

						.basic-moves {
							grid-area: basic-moves;
							padding-bottom: 0;
							justify-content: space-between;
							min-width: 232px;
						}

						.special-moves {
							grid-area: special-moves
						}

						.session-checks {
							grid-area: session-checks
						}

						.attacks {
							grid-area: attacks
						}
					}

					&.bio {
						grid-template-areas:
							"description description relations"
							"advantages disadvantages darksecrets";
						grid-template-rows: 200px auto;

						.description {
							grid-area: description;

							.editor {
								margin-left: 50px;
								width: calc(100% - 50px);
							}
						}

						.relations {
							grid-area: relations
						}

						.advantages {
							grid-area: advantages
						}

						.darksecrets {
							grid-area: darksecrets
						}
					}
				}
			}

			&.actor-npc {
				.nav-panel {
					left: -90px !important;
					top: 20px !important;
				}

				.tab-content {
					.tab.front {
						--attributes-width: 200px;
						--attributes-height: calc(var(--attributes-width) * (494 / 261) + 30px + 20px);
						grid-template-areas:
							"description description description"
							"description description description"
							"attributes history history"
							". history history";
						grid-template-columns: var(--attributes-width) 1fr 1fr;
						grid-template-rows: 40px 140px var(--attributes-height) 1000px;

						.description {
							grid-area: description
						}

						.questions {
							grid-area: history
						}

						.attributes {
							position: relative;

							.attribute-box {
								margin-top: -135px;
								margin-left: -11px;
								--k4-font-weight: #{$font-weight-black};
							}
						}
					}
					.tab.bio, .tab.assets {
						grid-template-areas: unset;
						grid-template-columns: 1fr 1fr;
						grid-template-rows: 1fr;
					}
				}
			}
		}
	}
}