& {
	--sheet-min-height: 525px;
	--sheet-min-width: 700px;
	--sheet-top-padding: 0px;

	--sheet-horiz-padding: 10px;
	--sheet-bottom-padding: 1.5%;

	--sheet-header-height: 60px;

	.window-content {

		// button { color: $gold-bright }
		background: none;

		form {

			>* {
				position: relative;
				z-index: 2;
			}

			.nav-panel {
				position: absolute;
				top: 100px;
				left: -15px;
				width: 155px;
				height: calc(155px * 1.634);
				background: to-url("layout/portrait-bg-internal.webp");
				background-size: contain;
				background-repeat: no-repeat;
				z-index: 7;
				filter: drop-shadow(20px 20px 10px #{$black});
				transform: translate(-50%, -50%);

				.profile-image {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					z-index: 2;

					mask-image: to-url("layout/portrait-bg-internal.webp");
					mask-size: 155px calc(155px * 1.634);
					mask-repeat: no-repeat;
					mask-position: center center;

					&.blur-background {
						height: 100%;
						width: 100%;
						filter: blur(5px);
						pointer-events: none;
					}
				}

				.img-border {
					position: absolute;
					height: 100%;
					width: 100%;
					z-index: 7;
					pointer-events: none;
				}

				.tabs {
					.nav-tab {
						// display: none !important;
						--nav-tab-size: 30px;
						--nav-tab-vert-pad: 10px;
						--nav-tab-horiz-shift: -1px;
						--side-tab-vert-shift: -15px;
						--nav-tab-vert-spacing: 50px;
						position: absolute;
						z-index: 20;
						display: block;
						// background: radial-gradient(transparent 50%, lime);
						height: var(--nav-tab-size);
						width: var(--nav-tab-size);
						border-radius: calc(0.5 * var(--nav-tab-size));
						line-height: var(--nav-tab-size);
						font-size: 40px;
						text-align: center;
						transform-origin: center;
						opacity: 0;

						&[data-tab="front"] {
							top: calc(0.5 * var(--nav-tab-size) + var(--nav-tab-vert-pad));
							left: calc(50% + var(--nav-tab-horiz-shift));
						}

						&[data-tab="bio"] {
							top: calc(50% + var(--side-tab-vert-shift) - var(--nav-tab-vert-spacing));
							left: calc(100% - var(--nav-tab-size) + var(--nav-tab-horiz-shift));
						}

						&[data-tab="assets"] {
							top: calc(50% + var(--side-tab-vert-shift));
							left: calc(100% - var(--nav-tab-size) + var(--nav-tab-horiz-shift))
						}

						&[data-tab="notes"] {
							top: calc(50% + var(--side-tab-vert-shift) + var(--nav-tab-vert-spacing));
							left: calc(100% - var(--nav-tab-size) + var(--nav-tab-horiz-shift))
						}

						&[data-tab="advancement"] {
							top: calc(100% - 0.5 * var(--nav-tab-size) - var(--nav-tab-vert-pad));
							left: calc(50% + var(--nav-tab-horiz-shift));
						}

						&[data-action="toggleLock"] {
							top: calc(50% + var(--side-tab-vert-shift) - var(--nav-tab-vert-spacing));
							left: calc(var(--nav-tab-size) + var(--nav-tab-horiz-shift));
						}

						&[data-edit="img"] {
							top: calc(50% + var(--side-tab-vert-shift));
							left: calc(var(--nav-tab-size) + var(--nav-tab-horiz-shift));
						}

						&[data-tab="settings"] {
							top: calc(50% + var(--side-tab-vert-shift) + var(--nav-tab-vert-spacing));
							left: calc(var(--nav-tab-size) + var(--nav-tab-horiz-shift));
						}

						.nav-tab-label {
							position: absolute;
							display: block;
							opacity: 0;
							--k4-color: #{$red-bright};
							--k4-font-family: var(--font-primary-caps);
							--k4-font-size: #{$rem-24};
							z-index: 2;
							pointer-events: none;
							text-align: center;
							text-shadow: 0 0 2px #{$black}, 0 0 2px #{$black}, 0 0 2px #{$black}, 0 0 2px #{$black};
							overflow: visible;
							white-space: nowrap;
							width: 500%;
							margin-left: calc(-0.5 * (500% - var(--nav-tab-size)));
						}

						.nav-tab-animation {
							position: absolute;
							display: block;
							opacity: 0;
							height: 100%;
							width: 100%;
							transform-origin: center center;
							pointer-events: none;
						}
					}
				}

				.header-button {
					position: absolute;
					font-size: 24px;
					text-shadow: 0 0 2px var(--button-glow-color), 0 0 2px var(--button-glow-color), 0 0 2px var(--button-glow-color), 0 0 2px var(--button-glow-color);

					&.close {
						--button-glow-color: #{$red-glow};
						--k4-color: #{$black};
						left: 15%;
						top: 100px;
					}

					&.minimize {
						--button-glow-color: #{$blue-glow};
						--k4-color: #{$black};
						right: 15%;
						top: 100px;
					}
				}
			}

			.border-container,
			.bg-container {
				--bg-vert-shift: 29px;
				--border-vert-shift: 42px;
				--border-horiz-shift: 42px;
				height: calc(100% - var(--bg-vert-shift));
				width: 100%;
				position: absolute;
				top: var(--bg-vert-shift);

				&.bg-container {
					background: transparent #{to-url("backgrounds/bg-black-leather.webp")} repeat center/500px 500px;
					z-index: 1;
				}

				&.border-container {
					z-index: 3;
					pointer-events: none;
					display: grid;
					grid-template-areas:
						"top-left top-left top top-right top-right"
						"top-left top-left . top-right top-right"
						"left . . . right"
						"bot-left bot-left . bot-right bot-right"
						"bot-left bot-left bot bot-right bot-right";
					grid-template-columns: 22px minmax(auto, 200px) 1fr minmax(auto, 200px) 22px;
					grid-template-rows: 17px minmax(auto, 200px) 1fr minmax(auto, 200px) 17px;

					.sheet-border {
						pointer-events: none;
						position: relative;

						&.corner {

							&.top-right {
								grid-area: top-right;
								background: transparent #{to-url("layout/border-top-right.webp")} no-repeat right top/360px 480px;
								top: calc(-1 * var(--border-vert-shift));
								right: calc(-1 * var(--border-horiz-shift));
							}

							&.top-left {
								grid-area: top-left;
								background: transparent #{to-url("layout/border-top-left.webp")} no-repeat left top/360px 480px;
								top: calc(-1 * var(--border-vert-shift));
								left: calc(-1 * var(--border-horiz-shift));
							}

							&.bot-right {
								grid-area: bot-right;
								background: transparent #{to-url("layout/border-bot-left.webp")} no-repeat right bottom/360px 480px;
								bottom: calc(-1 * var(--border-vert-shift));
								right: calc(-1 * var(--border-horiz-shift));
							}

							&.bot-left {
								grid-area: bot-left;
								background: transparent #{to-url("layout/border-bot-right.webp")} no-repeat left bottom/360px 480px;
								bottom: calc(-1 * var(--border-vert-shift));
								left: calc(-1 * var(--border-horiz-shift));
							}
						}

						&.horiz-bar {
							height: 37px;
							width: calc(100% + 2 * var(--border-horiz-shift));
							left: calc(-1 * var(--border-horiz-shift));
							background: transparent #{to-url("layout/border-side-horiz.webp")} repeat no-repeat center center/200px 37px;

							&.top {
								grid-area: top;
								top: -16px;
							}

							&.bot {
								grid-area: bot;
								bottom: 8px;
							}
						}

						&.vert-bar {
							height: calc(100% + 2 * var(--border-vert-shift));
							width: 37px;
							top: calc(-1 * var(--border-vert-shift));
							z-index: 10;
							background: transparent #{to-url("layout/border-side-vert.webp")} no-repeat repeat center center/37px 200px;
							// background: transparent #{to-url("layout/border-side-vert.webp")};
							// background-size: 37px 200px;
							// background-position: center center;
							// background-repeat-y: repeat;

							&.left {
								grid-area: left;
								left: -16px;
							}

							&.right {
								grid-area: right;
								right: -5px;
							}
						}
					}
				}

			}



			.sheet-header {
				height: 80px;
				top: -20px;
				z-index: 3;

				.actor-name {
					height: auto;
					max-width: 625px;
					margin: 0 auto;
					padding: 27px 50px 0;
					--k4-font-family: var(--font-heading);
					--k4-color: #{$gold};
					--k4-font-size: #{$rem-48};
					border: none;
					outline: none;
					--k4-background: transparent #{to-url("layout/header-frame.webp")} no-repeat center 2px;
					--k4-text-align: center;
				}
			}

			.tab-content {
				overflow-x: hidden;
				overflow-y: scroll;

				// margin-bottom: -30px;

				.tab {
					--horiz-padding: 10px;
					--top-padding: 5px;
					--bottom-padding: 10px;
					padding: var(--top-padding) var(--horiz-padding) var(--bottom-padding);
					height: calc(100% - (var(--top-padding) + var(--bottom-padding)));
					display: grid;
					grid-gap: 5px;
					grid-template-columns: 1fr 1fr 1fr;
					grid-template-rows: 40px 80px auto auto;

					.subsection {
						--horiz-padding: 5px;
						box-sizing: border-box;
						border: 1px solid #{$gold};
						padding: 0 var(--horiz-padding) 5px;

						&.flex-item-list {
							display: flex;
							flex-direction: column;
							flex-wrap: nowrap;
							justify-content: stretch;

							.subsection-header {
								align-self: start;
								flex: 0;
							}
						}
					}

					&.front {
						--attributes-width: 200px;
						--attributes-height: calc(var(--attributes-width) * (494 / 261) + 30px + 20px);
						grid-template-areas:
							"dramatic-hooks dramatic-hooks dramatic-hooks"
							"status status status"
							"attributes basic-moves special-moves"
							"session-checks attacks special-moves";
						grid-template-columns: var(--attributes-width) 1fr 1fr;
						grid-template-rows: 40px 80px minmax(auto, var(--attributes-height)) minmax(auto, 200px);

						.dramatic-hooks {
							grid-area: dramatic-hooks;
							padding: 0;

							.hook-label {
								display: inline-block;
								margin: 0 0 0 55px;
								--k4-font-size: #{$rem-40};
								--k4-line-height: #{$rem-40};
								--k4-color: #{$gold-dark};
								--k4-font-family: var(--font-decorative);
								float: left;
							}

							.dramatic-hook {
								height: 16px;
								margin: 4px 0 4px 107px;
								white-space: nowrap;

								&:nth-of-type(1) {
									margin-bottom: 0
								}

								&:nth-of-type(2) {
									margin-top: 0
								}

								input[type="checkbox"] {
									display: inline-block;
									float: left;
									margin: 3px 0 0;
									padding: 0;
									height: calc(50%);
								}

								input[type="text"] {
									display: inline-block;
									border: none;
									margin: 0;
									padding: 0;
									--k4-color: #{$gold-bright};
									--k4-font-size: #{$rem-12};
									height: 100%;
									box-shadow: none;
									--k4-font-weight: #{$font-weight-bold};
									--k4-font-style: italic;
									transform-origin: left center;
									transform: scaleX(0.9);
									vertical-align: top;
								}
							}
						}

						.status {
							grid-area: status;
							display: flex;
						}

						.attributes {
							grid-area: attributes;
							background: transparent #{to-url("layout/attributes-spread.webp")} no-repeat center/100% auto;

							.attribute-box {
								--panel-size: 200px;
								--k4-background: none;
								height: var(--panel-size);
								width: var(--panel-size);
								position: absolute;
								pointer-events: none;

								img {
									position: absolute;
									height: 100%;
									width: 100%;
									filter: sepia(1);
									opacity: 0;
								}

								.attribute-title {
									position: absolute;
									width: 100%;
									top: 130px;
									font-size: $rem-10;
									text-align: center;
									font-weight: $font-weight-bold;
								}

								.attribute-value {
									position: absolute;
									width: 40px;
									border: none;
									left: calc(50% - (40px / 2));
									top: 87px;
									pointer-events: all;
									font-size: $rem-20;
									text-align: center;
									font-weight: $font-weight-black;
									appearance: none;

									option {
										text-align: center;
									}

									&[value="7"],
									option[value="7"] {
										color: $white;
									}

									&[value="6"],
									option[value="6"] {
										color: $white;
									}

									&[value="5"],
									option[value="5"] {
										color: $gold-brightest;
									}

									&[value="4"],
									option[value="4"] {
										color: $gold-brightest;
									}

									&[value="3"],
									option[value="3"] {
										color: $gold-bright;
									}

									&[value="2"],
									option[value="2"] {
										color: $gold;
									}

									&[value="1"],
									option[value="1"] {
										color: $gold-dark;
									}

									&[value="0"],
									option[value="0"] {
										color: $gold-darker;
									}

									&[value="-1"],
									option[value="-1"] {
										color: $red-brightest;
									}

									&[value="-2"],
									option[value="-2"] {
										color: $red-bright;
									}

									&[value="-3"],
									option[value="-3"] {
										color: $red;
									}

									&[value="-4"],
									option[value="-4"] {
										color: $red-dark;
									}

									&[value="-5"],
									option[value="-5"] {
										color: $red-darkest;
									}
								}

								&[data-attribute="fortitude"],
								&[data-attribute="reason"],
								&[data-attribute="coolness"] {
									left: -59.5px;
								}

								&[data-attribute="willpower"],
								&[data-attribute="perception"],
								&[data-attribute="charisma"],
								&[data-attribute="soul"] {
									left: 11.5px;
								}

								&[data-attribute="reflexes"],
								&[data-attribute="intuition"],
								&[data-attribute="violence"] {
									left: 83px;
								}

								&[data-attribute="willpower"] {
									top: 90px
								}

								&[data-attribute="fortitude"],
								&[data-attribute="reflexes"] {
									top: 133.5px;
								}

								&[data-attribute="reason"],
								&[data-attribute="intuition"] {
									top: 216.5px;
								}

								&[data-attribute="perception"] {
									top: 256.5px
								}

								&[data-attribute="coolness"],
								&[data-attribute="violence"] {
									top: 296.5px;
								}

								&[data-attribute="charisma"] {
									top: 335px
								}

								&[data-attribute="soul"] {
									top: 414.5px
								}
							}
						}

						.basic-moves {
							grid-area: basic-moves;
							padding-bottom: 0;
							justify-content: space-around;
						}

						.special-moves {
							grid-area: special-moves
						}

						.session-checks {
							grid-area: session-checks
						}

						.attacks {
							grid-area: attacks
						}
					}

					&.bio {
						grid-template-areas:
							"description description relations"
							"advantages disadvantages darksecrets";
						grid-template-rows: 200px auto;

						.description {
							grid-area: description;

							.editor {
								margin-left: 50px;
								width: calc(100% - 50px);
							}
						}

						.relations {
							grid-area: relations
						}

						.advantages {
							grid-area: advantages
						}

						.darksecrets {
							grid-area: darksecrets
						}
					}
				}
			}

			&.actor-npc {
				.nav-panel {
					left: -90px !important;
					top: 20px !important;
				}

				.tab-content {
					.tab.front {
						--attributes-width: 200px;
						--attributes-height: calc(var(--attributes-width) * (494 / 261) + 30px + 20px);
						grid-template-areas:
							"description description description"
							"description description description"
							"attributes history history"
							". history history";
						grid-template-columns: var(--attributes-width) 1fr 1fr;
						grid-template-rows: 40px 140px var(--attributes-height) 1000px;

						.description {
							grid-area: description
						}

						.questions {
							grid-area: history
						}

						.attributes {
							position: relative;

							.attribute-box {
								margin-top: -135px;
								margin-left: -11px;
								--k4-font-weight: #{$font-weight-black};
							}
						}
					}
					.tab.bio, .tab.assets {
						grid-template-areas: unset;
						grid-template-columns: 1fr 1fr;
						grid-template-rows: 1fr;
					}
				}
			}
		}
	}
}