& {
	--sheet-min-height: 150px;
	--sheet-min-width: 400px;

	--sheet-top-padding: 0px;
	--sheet-horiz-padding: 20px;
	--sheet-bottom-padding: 10px;

	--sheet-header-height: 40px;

	filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.3));

	.window-header {

	}

	.window-content {
		background: none;

		form {
			font-size: $rem-16;
			line-height: $rem-20;
			// margin-top: -15px;
			// margin-bottom: 15px;

			.header-icon {
				$icon-size: 80px;
				$icon-padding: 5px;
				$svg-size: $icon-size + $icon-padding;

				transform: translate(-50%, -50%);
				height: $icon-size;
				width: $icon-size;
				position: absolute;
				border-radius: 0.5 * $icon-size;
				left: 0.25 * $icon-size;
				padding: $icon-padding;
				top: 0.25 * $icon-size;
				z-index: 4;
				overflow: hidden;
				outline: 3px solid var(--KT-color-contrast);
				background: var(--KT-background);

				.svg-icon-def {
					transform: translate(-50%, -50%);
					left: 50%;
					top: 50%;
					position: absolute;
					height: $svg-size;
					width: $svg-size;
					border: none;
					outline: none;
					box-shadow: none;
				}

				&.header-move {
					background: $gold;
					outline-color: $gold;
				}
			}

			.sheet-header {
				margin-left: 15px;
				border-bottom: 3px solid var(--KT-color-header-bg);
				flex-wrap: nowrap;

				.header-bullet,
				.item-title {
					position: relative;
					flex-grow: 1.5;
				}

				.header-filler {
					flex-basis: 0;
					flex-grow: 1;
				}

				&.move-header {
					--KT-color-header-fg: #{$black};
					--KT-color-header-bg: #{$gold};
				}
			}

			.tab-content {
				overflow-x: hidden;
				overflow-y: auto;

				&.kult-darksecret-container {
					p:first-child::first-line {
						font-variant: small-caps;
					}
				}
			}

		}
	}

	.window-resizable-handle {
		// top: -50px;
		// flex-basis: 10px;
	}
}
