& {
	min-width: 400px;
	// min-height: 300px;

	.window-header {
		top: -30px;
	}

	.window-content {

		form {
			height: 100%;
			width: 100%;
			overflow: visible;

			.sheet-content {
				--border-margin: 0px;
				display: grid;
				position: relative;
				height: calc(100% - var(--border-margin));
				width: calc(100% - 2 * var(--border-margin));
				margin: 0 var(--border-margin) var(--border-margin);
				grid-template-areas:
					"header"
					"content";
				grid-template-rows: 32px 1fr;
				grid-template-columns: 1fr;
				top: -38px;
				background: to-url("backgrounds/bg-white-paper.webp");


				.sheet-header {
					// background: none;
					border-bottom: 3px solid black;
					margin-right: 10px;
					flex-wrap: nowrap;

					.header-bullet,
					.header-name {
						color: var(--gold);
						position: relative;
						font-size: 24px;
						font-family: var(--font-body);
					}

					.header-bullet {
						flex: 0;
						z-index: 4;
						font-size: 20px;
						flex-basis: 15px;
						margin-right: -15px;
						text-align: right;
					}

					.header-name {
						text-align: left;
						background: var(--black);
						font-size: 24px;
						padding-top: 3px;
						text-indent: 20px;
						border-radius: 0px;
						outline: 0;
						border: 0;
						line-height: 28px;
						white-space: nowrap;
						padding-right: 10px;
						// width: calc(100% - 100px);
						// flex-shrink: 0;
						// flex-basis: 50%;
						// min-width: calc(100% - 100px);
					}

					.header-filler {
						flex-basis: 0;
						flex-grow: 1;
					}
				}

				.tab-content {
					overflow-x: hidden;
					overflow-y: auto;
					text-shadow: 0px 0px 0px var(--black);
					hyphens: auto;
					text-align: justify;

					.text-keyword {
						color: var(--blue);
						font-weight: bold;
						font-style: normal;
						text-shadow: none;
					}

					.text-movename {
						color: var(--blue);
						font-weight: bold;
						font-style: italic;
						text-shadow: none;
					}

					.text-trigger {
						color: var(--gold-brightest);
						font-style: italic;
						background: var(--black);
						padding: 4px 6px;
						font-weight: normal;
						display: inline-block;
						margin-top: -4px;
						text-shadow: none;
					}

					.text-extra-bold {
						font-weight: 900;
					}

					.text-gmtext {
						color: var(--red);
						font-weight: bold;
						text-shadow: none;
					}

					.rules-text {
						display: block;
						height: unset;
						margin: 0px 10px;
						padding: 5px;
						font-size: 16px;
						color: var(--black);
						font-family: var(--font-body);
						// border: 4px outset var(--gold-dark);
						// background: var(--gradient-dkdkgold-upright);
						// text-shadow: var(--textShadow-inset);

						.hold-header,
						.edges-header {
							--header-glow: var(--red);
							display: block;
							text-align: center;
							font-family: 'Alverata';
							font-size: 22px;
							color: var(--header-glow);
							text-shadow:
								0 0 14px var(--header-glow),
								0 0 2px var(--black),
								0 0 2px var(--black),
								0 0 2px var(--black),
								0 0 2px var(--black),
								0 0 2px var(--black);
							font-weight: 900;
							text-transform: uppercase;
							line-height: 22px;
							margin-bottom: 5px;

							&.edges-header {
								--header-glow: var(--blue)
							}
						}

						.hold-body {
							padding: 0 20px;
							display: block;
						}

						.result-entry {
							display: block;
							margin: 0 20px;
							font-size: 16px;
							clear: both;

							label {
								color: var(--red-glow);
								font-weight: 900;
								text-align: right;
								display: block;
								width: 60px;
								height: 100%;
								float: left;
								margin-right: 10px;
							}

							span {
								display: inline-block;
								width: calc(100% - 70px);
								padding-bottom: 8px;
								border-bottom-style: solid;
								border-bottom-width: 3px;
								border-image: linear-gradient(to right, var(--gold), transparent 75%) 1;
							}
						}

						.inline-attack {
							display: inline;
							background: var(--red-darkest);
							border-radius: 4px;
							font-size: 14px;
							line-height: 24px;
							vertical-align: middle;
							border: 1px solid var(--red-dark);
							text-transform: uppercase;
							height: 24px;
							padding: 0 3px;
							box-sizing: content-box;
							margin: 0 5px;

							.attack-name {
								display: inline;
								text-shadow: none;
								color: #FAA;
								line-height: 25px;
								height: 24px;
								display: inline-block;
								transform-origin: center center;
								transform: scaleY(1.5);
							}

							.attack-range {
								display: inline-block;
								padding-right: 5px;
								color: #FAA;
								transform-origin: center center;
								transform: scaleY(1.5);
							}

							.attack-harm {
								display: inline-block;
								height: 28px;
								width: 28px;
								border-radius: 12px;
								background: red;
								color: black;
								text-align: center;
								font-size: 24px;
								text-shadow: none;
								position: relative;
								margin-top: -6px;
								top: 4px;
								margin-left: 5px;
								margin-right: 5px;
								font-weight: 900;
								border: 2px outset var(--red-brightest);
								text-indent: 1px;
								z-index: 2;
							}

							.attack-effect {
								display: inline;
								text-shadow: none;
								color: #FAA;
								font-size: 10px;
								// line-height: normal;

							}
						}
					}


					.ladybug {
					}

					.ladybug:before {
					}

					ul {
						margin-left: 10px;

						li {
							list-style: none;
							text-indent: -24px;
						}

						li:before {
								content: '';
								display: inline-block;
								height: 18px;
								width: 17px;
								background-image: to-url("icons/bullet2.svg");
								background-size: cover;
								background-repeat: no-repeat;
								margin-bottom: -4px;
								margin-left: -3px;
								margin-right: 9px;
								transform-origin: center center;
								transform: scaleX(1.25) scale(0.8);
						}
					}
				}
			}
		}
	}

	.window-resizable-handle {
		top: -50px;
		flex-basis: 10px;
	}
}