& {
	--sheet-min-height: 0px;
	--sheet-min-width: 0px;

	--sheet-top-padding: 0px;
	--sheet-horiz-padding: 0px;
	--sheet-bottom-padding: 0px;

	--sheet-header-height: 60px;

	min-width: var(--sheet-min-width);
	min-height: var(--sheet-min-height);
	overflow: visible;
	filter: drop-shadow(25px 25px 15px rgba(0, 0, 0, 0.8));
	margin: 0;
	background: none;

	.window-header {
		z-index: 6;
		--k4-font-size: 0;
		max-height: 20px;
		overflow: visible;
		border: none;
		padding: 0;

		.window-title { display: none }

		.header-button {
			position: absolute;
			right: -40px;
			--k4-font-size: 0;

			&:nth-of-type(1) { top: 75px }
			&:nth-of-type(2) { top: 100px }
			&:nth-of-type(3) { top: 125px }
			&:nth-of-type(4) { top: 150px }
			&:nth-of-type(5) { top: 175px }
			&:nth-of-type(6) { top: 200px }

			&:last-of-type { top: 50px }

			i {
				--k4-font-size: #{$rem-16};
				text-shadow:
					0 0 3px #{$black},
					0 0 3px #{$black},
					0 0 3px #{$black},
					0 0 3px #{$black},
					0 0 3px #{$black},
					0 0 5px #{$gold-bright},
					0 0 5px #{$gold-bright};
				--k4-color: #{$gold};
				--k4-font-family: "Font Awesome 5 Free";

				// color: red;
				// left: 900px;
				// width: 200px;
				white-space: nowrap;
				overflow: visible;
			}

			&.close { display: none }
		}
	}

	.window-content {
		position: relative;
		height: 100%;
		width: 100%;
		overflow: visible;
		padding: 0;
		background: transparent #{to-url("backgrounds/bg-black-leather.webp")} repeat center/500px 500px;

		form {
			--border-color: #{$gold};
			height: 100%;
			width: 100%;
			overflow: visible;

			display: grid;
			position: relative;
			padding: 0 var(--sheet-horiz-padding) var(--sheet-bottom-padding);
			grid-template-areas:
				"header"
				"main";
			grid-template-rows: var(--sheet-header-height) 1fr;
			grid-template-columns: 1fr;

			header {
				grid-area: header;
				height: 100%;
				overflow: hidden;
				z-index: 3;

			}
			main { grid-area: main }

			> * {
				position: relative;
				z-index: 2;
			}

			.edges-header, .hold-header {
				animation: none;
				--k4-font-weight: bold;
				--k4-font-size: #{$rem-24};
			}

			.edges-header {
				--k4-color: #{$blue};
				--header-bg-color: #{$blue-bright};
			}
			.hold-header {
				--k4-color: #{$red};
				--header-bg-color: #{$red-bright};
			}
		}

		.tab:not(.active) {
			display: none !important;
		}

		.editor {
			height: 100%;
			overflow: visible;

			.editor-content {
				position: relative;
				width: calc(100% + (2 * var(--horiz-padding)));
				left: calc(-1 * var(--horiz-padding));
				overflow-x: hidden;
				padding: 0 var(--horiz-padding);
				@import '../globals/text-styles';
			}
			.tox.tox-tinymce .tox-editor-container .tox-editor-header {
				transform-origin: top left;
				transform: scale(0.75);
				width: calc(100% / 0.75);
			}
			// .editor-edit { color: #{$gold} }
		}

		.item-card {
			--border-width: 1px;
			--icon-size: 28px;
			--icon-margin: calc((30px - var(--icon-size)) / 2);
			--icon-background: #{$black};
			--icon-filter: none;
			--popout-background: #{$gold};
			--popout-spacer-color: #{$black};
			position: relative;
			height: 30px;
			white-space: nowrap;

			.item-icon {
				position: relative;
				display: inline-block;
				background: var(--icon-background);
				background-position: center center;
				background-repeat: no-repeat;
				vertical-align: top;
				height: var(--icon-size);
				width: var(--icon-size);
				margin: var(--icon-margin);
				transform-origin: center center;
				box-sizing: border-box;
				border: var(--border-width) solid #{$gold};
				border-radius: calc(var(--icon-size) / 2);
				overflow: hidden;
				white-space: nowrap;
				z-index: 1;
				font-size: 0;

				img {
					height: calc(var(--icon-size) + 2px);
					max-width: unset;
					position: relative;
					top: calc(-1 * var(--border-width) - 1px);
					margin-bottom: calc(-1 * var(--border-width) - 1px);
					left: calc(-1 * var(--border-width) - 1px);
					margin-right: calc(-1 * var(--border-width) - 1px);
					filter: var(--icon-filter);
				}

				.item-button {
					font-family: var(--font-primary);
					position: relative;
					display: inline-block;
					--k4-color: #{$black};
					height: 100%;
					width: calc((100% - var(--icon-size)) / 4);
					background: linear-gradient(
						to right,
						var(--popout-spacer-color) 15%,
						var(--popout-background) 15%,
						var(--popout-background) 85%,
						var(--popout-spacer-color) 85%
					);
					font-weight: $font-weight-bold;
					--k4-line-height: #{$rem-32};
					font-size: 11px;
					text-align: center;
					text-shadow: 0 0 #{$black};
					vertical-align: top;
				}
			}

			.item-name {
				position: absolute;
				display: inline-block;
				width: 100%;
				height: 32px;
				left: 0;

				.item-bg {
					position: absolute;
					z-index: 0;
					height: 24px;
					width: calc(100% - 10px);
					top: calc((var(--icon-size) - 24px) / 2);
					left: 10px;
					background: #{$black};
					display: block;
					border-bottom: 1px solid #{$gold};
				}

				.item-text {
					position: absolute;
					font-family: var(--font-primary);
					--k4-font-size: #{$rem-16};
					--k4-line-height: #{$rem-28};
					--k4-color: #{$gold};
					font-weight: $font-weight-semi;
					height: 24px;
					top: calc((var(--icon-size) - 24px) / 2);
					left: calc(var(--icon-size) + 5px);
					z-index: 5;
					white-space: nowrap;
				}
			}

			.trigger-tooltip {
				pointer-events: none;
				position: absolute;
				display: block;
				font-family: var(--font-primary);
				font-size: 10px;
				--k4-line-height: #{$rem-12};
				text-align: center;
				font-style: italic;
				width: 100%;
				--k4-text-align: left;
				--k4-color: #{$white};
				opacity: 0;
				bottom: 0;
				left: 0;
				z-index: 20;
				white-space: break-spaces;

				padding: 4px;
				background: #{$black};
				border-radius: 20px;
			}

			&.basic-move-item {
				--icon-background: #{$gold};
				--popout-background: #{$gold};
				--popout-spacer-color: #{$black};
				.item-icon {
					&.active-item {
					--icon-filter: invert(1);
					}
					&.passive-item {
					--icon-filter: invert(1) brightness(0.5);
					}
				}
			}
		}


	}

	.window-resizable-handle {
		z-index: 4;
		width: 50px;
		height: 50px;
		right: -25px;
		position: relative;
		align-self: flex-end;
		flex-basis: 50px;
		flex-shrink: 0;
		flex-grow: 0;
		opacity: 0;
		cursor: nwse-resize;
	}
}