& {
	background: none;
	overflow: visible;
	filter: drop-shadow(25px 25px 15px rgba(0, 0, 0, 0.8));

	select,
	input,
	textarea {
		font-family: var(--font-body);
		color: var(--gold);
		box-shadow: none;
	}

	option {
		background: var(--black);
	}

	img {
		border: none;
	}

	.window-header {
		position: relative;
		z-index: 6;
		font-size: 0;
		top: -20px;
		overflow: visible;
		border: none;

		.header-button {

			i {
				font-size: 16px;
				text-shadow:
					0 0 3px var(--black),
					0 0 3px var(--black),
					0 0 3px var(--black),
					0 0 3px var(--black),
					0 0 3px var(--black),
					0 0 5px var(--gold-bright),
					0 0 5px var(--gold-bright);
				color: var(--gold);
			}

			&.close {
				margin-top: -3px;

				i {
					color: var(--red-glow);
					font-size: 24px;
				}
			}
		}
	}

	.window-content {
		position: relative;
		height: 100%;
		width: 100%;
		overflow: visible;
		padding: 0;
		background: none;

		h1, h2, h3, h4 {
			font-family: var(--font-body);
			font-weight: 900;
			border: none;
		}

		.sheet-content {
			height: 100%;
			width: 100%;

			.tab:not(.active) {
				display: none !important;
			}

			.editor {
				height: 100%;
				.editor-content { @import '../tinymce/tinymce' }
				.tox.tox-tinymce .tox-editor-container .tox-editor-header {
					transform-origin: top left;
					transform: scale(0.75);
					width: calc(100% / 0.75);
				}
			}

			.basic-move-item {
				--border-width: 1px;
				--icon-size: 28px;
				--icon-margin: calc((30px - var(--icon-size)) / 2);
				position: relative;
				height: 30px;
				white-space: nowrap;

				.move-icon {
					position: relative;
					display: inline-block;
					background-position: center center;
					background-repeat: no-repeat;
					vertical-align: top;
					height: var(--icon-size);
					width: var(--icon-size);
					margin: var(--icon-margin);
					transform-origin: center center;
					box-sizing: border-box;
					border: var(--border-width) solid var(--gold);
					overflow: hidden;
					white-space: nowrap;
					z-index: 1;
					font-size: 0;

					img {
						height: calc(var(--icon-size) + 2px);
						max-width: unset;
						position: relative;
						top: calc(-1 * var(--border-width) - 1px);
						margin-bottom: calc(-1 * var(--border-width) - 1px);
						left: calc(-1 * var(--border-width) - 1px);
						margin-right: calc(-1 * var(--border-width) - 1px);
					}

					.move-button {
						font-family: var(--font-body);
						position: relative;
						display: inline-block;
						height: 100%;
						width: calc((100% - var(--icon-size)) / 4);
						font-weight: 700;
						line-height: 28px;
						font-size: 11px;
						text-align: center;
						text-shadow: 0 0 var(--black);
						vertical-align: top;
					}

					&.active-move {
						border-radius: calc(var(--icon-size) / 2);
						background: var(--gold);

						img {
							filter: invert(1);
						}

						.move-button {
							background: linear-gradient(90deg, var(--black) 15%, var(--gold) 15%, var(--gold) 85%, var(--black) 85%);
						}
					}

					&.passive-move {

					}
				}

				.move-name {
					position: absolute;
					display: inline-block;
					width: 100%;
					height: 30px;
					left: 0;

					.move-bg {
						position: absolute;
						z-index: 0;
						height: 20px;
						width: calc(100% - 10px);
						top: calc((var(--icon-size) - 20px) / 2);
						left: 10px;
						background: var(--black);
						display: block;
						border-bottom: 1px solid var(--gold);
					}

					.move-text {
						position: absolute;
						font-family: var(--font-body);
						font-size: 14px;
						color: var(--gold);
						line-height: 22px;
						font-weight: 700;
						height: 20px;
						top: calc((var(--icon-size) - 20px) / 2);
						left: calc(var(--icon-size) + 5px);
						z-index: 5;
						white-space: nowrap;
					}
				}

				.trigger-tooltip {
					pointer-events: none;
					position: absolute;
					display: block;
					font-family: var(--font-body);
					font-size: 10px;
					text-align: center;
					font-style: italic;
					width: 100%;
					color: var(--white);
					opacity: 0;
					bottom: 0;
					left: 0;
					z-index: 20;
					white-space: break-spaces;

					padding: 4px;
					background: var(--black);
					border-radius: 20px;
				}
			}
		}


	}

	.window-resizable-handle {
		z-index: 4;
		width: 50px;
		height: 50px;
		top: -25px;
		right: -25px;
		position: relative;
		align-self: flex-end;
		flex-basis: 50px;
		flex-shrink: 0;
		flex-grow: 0;
		opacity: 0;
		cursor: nwse-resize;
	}
}