<div class="bg-container bg-{{this}}-container">
  <div class="sheet-bg corner top-left"></div>
	<div class="sheet-bg horiz-edge top"></div>
  <div class="sheet-bg corner top-right"></div>
  <div class="sheet-bg vert-edge left"></div>
	<div class="sheet-bg vert-edge right"></div>
  <div class="sheet-bg corner bot-left"></div>
	<div class="sheet-bg horiz-edge bot"></div>
  <div class="sheet-bg corner bot-right"></div>
	<div class="sheet-bg center"></div>
</div>