<div class="border-container">
	<div class="sheet-border corner top-left"></div>
	<div class="sheet-border horiz-bar top"></div>
	<div class="sheet-border corner top-right"></div>
	<div class="sheet-border vert-bar left"></div>
	<div class="sheet-border vert-bar right"></div>
	<div class="sheet-border corner bot-left"></div>
	<div class="sheet-border horiz-bar bot"></div>
	<div class="sheet-border corner bot-right"></div>
</div>