{{log "{comp} form-header.hbs" this}}
{{> "systems/kult4th/templates/components/svg-defs.hbs" }}
<aside class="header-icon header-{{docType}}">
{{> "systems/kult4th/templates/components/svg-header-icon.hbs" name=docName type=docType sourceItem=data.data.sourceItem}}
</aside>
<header class="sheet-header {{docType}}-header">
	{{~#if isBullet}}
	<span class="header-bullet">•</span>
	{{/if~}}
	<label class="k4-title item-title">{{docName}}</label>
	<span class="header-filler"></span>
</header>