{{dbLog "{comp} rules-block.hbs" this}}

<p class="rules-top">
	{{~#if rules.intro}}<span class="text-intro">{{{formatForKult rules.intro}}}</span>{{/if}}
	{{~#if rules.trigger}} <span class="text-trigger">{{{formatForKult rules.trigger}}}</span>{{/if}}
	{{~#if rules.outro}} <span class="text-outro">{{{formatForKult rules.outro}}}</span>{{/if}}
</p>