$assetPath: '/assets';

@import 'globals/functions';
@import 'globals/typography';
@import 'globals/root';

.vtt.game.system-kult4th {
	@import 'globals/colors';

	@include cq-prolyfill("width >= 1000px") {
		outline: 3px solid lime !important;
	}

	$isDebugging: false;
	$isDebuggingChat: false;
	@import 'debug';
	--scrollbar-width: 6px;


	#ui-left,
	#ui-middle,
	#ui-right,
	#notifications,
	#hud,
	#board,
	#pause,
	.app.window-app {
		@import 'globals/text-styles';
		@import 'globals/icon-styles';
	}

  #controls { overflow: visible; }

  .editor-content {
    position: static !important;
  }

	.app.window-app {
    // @import 'globals/colors';
		@import 'globals/app';

		&.k4-sheet {
			@import 'sheets/sheet';

			&.k4-actor-sheet {
				@import 'sheets/actor-sheet';
			}
			&.k4-item-sheet {
				@import 'sheets/item-sheet';
			}
		}
		&.dialog {
			@import 'dialog/dialog';
		}

    &.journal-entry {
      .journal-entry-content {
        background: transparent;
      }
    }
	}

	#ui-right {
		#sidebar { @import 'sidebar/sidebar'; }
	}

  #logo {
    opacity: 0;
    pointer-events: none;
    user-select: none;
    max-height: 10px;
    margin: 0;
    padding: 0;
  }

  #interface.gm-user {
    #ui-right {
      #sidebar {
        #sidebar-tabs {
          .item[data-tab="scenes"],
          .item[data-tab="compendium"] {
            display: block;
          }
        }
        #chat {
          #chat-controls {
            pointer-events: auto;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

htm {
  --debug-fill-opacity: 0.2;
  --debug-outline-opacity: 1;
  --debug-fill-opacity: 0;
  --debug-outline-opacity: 0;

  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message {
  }

  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content {
    // margin: 0 !important;
    // padding: 0 !important;
  }
  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat {
    // margin: 0 !important;
    // padding: 0 !important;
  }

  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .roll-source-header > *,
  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .roll-intro-header > *,
  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .rules-top > *,
  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .roll-dice-line > *,
  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .roll-dice-results > *,
  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .result-entry > *,
  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content * {
    background: transparent !important;
  }


  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .roll-intro-header {
    z-index: 5;
  }

  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .roll-source-header {
    --K4-roll-header-height: 36px;
    margin: 0 !important;
    height: var(--K4-roll-header-height) !important;
    max-height: var(--K4-roll-header-height) !important;
    min-height: var(--K4-roll-header-height) !important;
    background: rgba(255, 0, 0, var(--debug-fill-opacity)) !important;
    outline: 1px dashed rgba(255, 0, 0, var(--debug-outline-opacity)) !important;
  }

  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .rules-top {
    background: rgba(0, 255, 255, var(--debug-fill-opacity)) !important;
    outline: 1px dashed rgba(0, 255, 255, var(--debug-outline-opacity)) !important;
    z-index: 5;
  }

  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .roll-dice-line {
    background: rgba(255, 0, 255, var(--debug-fill-opacity)) !important;
    outline: 1px dashed rgba(255, 0, 255, var(--debug-outline-opacity)) !important;
    z-index: 5;
  }

  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .roll-dice-results {
    background: rgba(255, 255, 0, var(--debug-fill-opacity)) !important;
    outline: 1px dashed rgba(255, 255, 0, var(--debug-outline-opacity)) !important;
    z-index: 5;
  }

  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .result-entry {
    background: rgba(0, 255, 255, var(--debug-fill-opacity)) !important;
    outline: 1px dashed rgba(0, 255, 255, var(--debug-outline-opacity)) !important;
    z-index: 5;
  }

  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .roll-intro-header .roll-char-name {
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
  }

  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .roll-source-header .roll-source-name {
    top: 0 !important;
  }

  .vtt.game.system-kult4th #ui-right #sidebar section.tab.active#chat #chat-log .chat-message .message-content .kult4th-chat .roll-source-header .roll-source-name .icon-container {
    --K4-icon-size: 40px;
    top: -5px;
    left: unset;
    margin: 0;
    position: absolute;
    right: 0;
  }
}