$assetPath: '/assets';

@import 'globals/functions';
@import 'globals/typography';
@import 'globals/root';

.vtt.game.system-kult4th {
	@import 'globals/colors';

	@include cq-prolyfill("width >= 1000px") {
		outline: 3px solid lime !important;
	}

	$isDebugging: false;
	$isDebuggingChat: false;
	@import 'debug';
	--scrollbar-width: 6px;


	#ui-left,
	#ui-middle,
	#ui-right,
	#notifications,
	#hud,
	#board,
	#pause,
	.app.window-app {
		@import 'globals/text-styles';
		@import 'globals/icon-styles';
	}

  #controls { overflow: visible; }

  .editor-content {
    position: static !important;
  }

	.app.window-app {
		@import 'globals/app';

		&.k4-sheet {
			@import 'sheets/sheet';

			&.k4-actor-sheet {
				@import 'sheets/actor-sheet';
			}
			&.k4-item-sheet {
				@import 'sheets/item-sheet';
			}
		}
		&.dialog {
			@import 'dialog/dialog';
		}

    &.journal-entry {
      .journal-entry-content {
        background: transparent;
      }
    }
	}

	#ui-right {
		#sidebar { @import 'sidebar/sidebar'; }
	}

  #logo {
    opacity: 0;
    pointer-events: none;
    user-select: none;
    max-height: 10px;
    margin: 0;
    padding: 0;
  }

  #interface.gm-user {
    #ui-right {
      #sidebar {
        #sidebar-tabs {
          .item[data-tab="scenes"],
          .item[data-tab="compendium"] {
            display: block;
          }
        }
        #chat {
          #chat-controls {
            pointer-events: auto;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
