& > * {
	--K4-svg-fill: var(--K4-color-primary);
	--K4-svg-stroke: none;
	--K4-svg-stroke-width: 10px;
	--K4-svg-bg: transparent; // var(--K4-color-contrast);
	--K4-svg-clip-path: none;
	--K4-svg-scale: 1;
}

.svg-container {
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	transform-origin: center center;
	transform: scale(var(--K4-svg-scale));
	clip-path: var(--K4-svg-clip-path);
	background: var(--K4-svg-bg);
	overflow: hidden;

	&.svg-advantage {
		--K4-svg-fill: url(#fill-advantage);
		--K4-svg-stroke: url(#stroke-advantage);
	}

	&.svg-attack {
		--K4-svg-fill: url(#fill-attack);
		--K4-svg-stroke: url(#stroke-attack);
	}

	&.svg-darksecret {
		--K4-svg-fill: url(#fill-darksecret);
		--K4-svg-stroke: url(#stroke-darksecret);
	}

	&.svg-disadvantage {
		--K4-svg-fill: url(#fill-disadvantage);
		--K4-svg-stroke: url(#stroke-disadvantage);
	}

	&.svg-gear {
		--K4-svg-fill: url(#fill-gear);
		--K4-svg-stroke: url(#stroke-gear);
	}

	&.svg-move {
		--K4-svg-fill: url(#fill-move);
		--K4-svg-stroke: url(#stroke-move);
	}

	&.svg-relation {
		--K4-svg-fill: url(#fill-relation);
		--K4-svg-stroke: url(#stroke-relation);
	}

	&.svg-weapon {
		--K4-svg-fill: var(--K4-WHITE);
		--K4-svg-stroke: none;

		.svg-bg {
			--K4-svg-fill: url(#fill-weapon);
			--K4-svg-stroke: url(#stroke-weapon);
		}
	}
}

.svg-def {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	fill: var(--K4-svg-fill);
	fill-opacity: 1;
	stroke: var(--K4-svg-stroke);
	stroke-width: var(--K4-svg-stroke-width);
	stroke-opacity: 1;
	pointer-events: none;
	filter: none;
	opacity: 1;
	transform-origin: center center;
	display: block;

	&.svg-bg {
		fill: var(--K4-svg-outline);
		transform: scale(1.1);
	}
}
