:root {
  &, * {
    scrollbar-color: unset;

    ::-webkit-scrollbar {
      width: 6px;
      min-height: 20px;
    }

    ::-webkit-scrollbar-track {
      box-shadow: 0 0 1px var(--K4-GOLD9);
      border-radius: 4px;
      background: black;
    }

    ::-webkit-scrollbar-thumb {
      box-shadow: 0 0 1px var(--K4-GOLD9);
      outline: none;
      border-radius: 2px;
      background: var(--K4-GOLD5);
      min-height: 50px;
      border: 4px outset var(--K4-GOLD8);
    }
  }
}