* {
	// @include set-default-theme();
}

&,
.mce-content-body {

	&,
	*,
	input[type="text"],
	input[type="number"],
	textarea,
	select,
	option,
	img,
	ul,
	li {
		color: var(--K4-color-primary);
		font-feature-settings: "salt", "lnum";
		border: none;
		option { background: var(--K4-color-contrast) }

		hyphens: auto;

		&.kult-text-container {
			text-align: justify;
		}
	}

	textarea,
	input[type='text'],
	select,
	.content-editable {
		// height: unset;
		// margin: 0 4px;
		// box-sizing: content-box;

		// outline: none;
		// box-shadow: none;

		overflow: hidden;

		&:invalid {
			color: var(--K4-dRED);
		}

		&.placeholder {
			color: var(--K4-GREY) !important;
			font-weight: $font-weight-light !important;
			font-family: var(--font-primary) !important;
			font-style: italic !important;
			text-shadow: none !important;
			text-transform: none !important;
			font-variant: normal !important;
		}
	}

	button {
		color: var(--K4-color-contrast);
		font-weight: $font-weight-bold;
		background: linear-gradient(to bottom,
      var(--K4-color-primary) 0%,
      var(--K4-color-primary-bright) 15%,
      var(--K4-color-primary-bright) 50%,
      var(--K4-color-primary) 85%,
      var(--K4-color-primary) 100%
    );
		border-radius: 3px;

		i, label {
			color: var(--K4-color-contrast);
		}
	}

  strong{
    --K4-color-primary: var(--K4-color-primary-glow)
  }

	i {
		--K4-color-primary: var(--K4-GOLD);
		--K4-color-contrast: var(--K4-BLACK);
		font-family: var(--font-icon);
		font-weight: $font-weight-black;

		&.notification-pip { --K4-color-primary: var(--K4-bGOLD) }
	}

	.header-button.close i { --K4-color-primary: var(--K4-bRED) }

	ul.rules-list, ul.inline-list {
		--K4-list-indent: 24px;
		margin: 0px 0px 0px var(--K4-list-indent);
		padding: 0;

		li {
			text-align: left;
			list-style: none;
			text-indent: calc(-1 * var(--K4-list-indent));
			margin: 5px 0;
		}

		li:before {
			content: "";
			display: inline-block;
			height: 18px;
			width: var(--K4-list-indent);
			background: var(--K4-bullet);
			vertical-align: bottom;
			background-size: 50%;
		}
	}

	label.k4-title,
	h1,
	h2,
	h3,
	label.k4-h4,
	label.k4-header {
		display: block;
		width: 100%;
		border: none;
		white-space: normal;

		&.tight {
			margin-top: 0;
			margin-bottom: 0;
		}

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	label.k4-title {
		color: var(--K4-color-title-fg);
		background: var(--K4-color-title-bg);
		font-weight: $font-weight-semi;
		font-size: $rem-22;
		line-height: $rem-24;
		height: $rem-24;
		white-space: nowrap;
		text-align: center;

		&.section-title {
			width: calc(100% + var(--K4-subsection-padding-left) + var(--K4-subsection-padding-right));
			text-transform: lowercase;
			font-weight: $font-weight-bold;
			font-family: var(--font-primary-smallcaps);
			margin:
				calc(-1 * (var(--K4-subsection-padding-top)))
				0
				0
				calc(-1 * var(--K4-subsection-padding-left));
			padding-top: 1px;
		}

		&.item-title {
			line-height: $rem-32;
			margin-bottom: 10px;
			// text-align: center;
			font-weight: $font-weight-bold;
			width: 100%;
			display: block;
		}
	}

	label.k4-header {
		font-size: $rem-24;
		font-weight: $font-weight-bold;
		text-align: center;
		height: $rem-32;
		line-height: $rem-28;
    white-space: nowrap;
    // transform-origin: 0% 50%;
    // scale: 0.8 1;
    // width: calc(100% / 0.8);

    font-family: var(--font-primary-smallcaps);
		text-transform: lowercase;
		margin: 5px 0;

    --horiz-scale: 0.8;
    --full-width: calc(100% / var(--horiz-scale));
    --extra-width: calc(var(--full-width) - 100%);
    --horiz-shift-left: calc(-0.5 * var(--extra-width));

    transform: scaleX(var(--horiz-scale));
    transform-origin: center center;
    width: var(--full-width);
    margin-left: var(--horiz-shift-left);
	}

  @keyframes neonGlow-blue {
    0% {
      text-shadow: 0 0 2px rgba(255,255,255,.8),
                  0 0 4px rgba(255,255,255,.8),
                  0 0 4.5px  rgba(255,255,255,.8),
                  0 0 8px  rgba(65,132, 220, 0.8),
                  0 0 12.5px  rgba(65,132, 220,.8),
                  0 0 16.5px  rgba(65,132, 220,.5),
                  0 0 21px rgba(65,132, 220,.5),
                  0 0 29px rgba(65,132, 220,.5),
                  0 0 41.5px rgba(65,132, 220,.5);
    }
    100% {
      text-shadow: 0 0 0.5px rgba(255,255,255,.8),
                  0 0 1.5px rgba(255,255,255,.8),
                  0 0 2px rgba(255,255,255,.8),
                  0 0 4px rgba(65,132, 220,.8),
                  0 0 6px rgba(65,132, 220,.8),
                  0 0 8px rgba(65,132, 220,.8),
                  0 0 10.5px rgba(65,132, 220,.8),
                  0 0 16.5px rgba(65,132, 220,.8);
    }
  }

  @keyframes neonGlow-red {
    0% {
      text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
                  0 0 4px rgba(255, 255, 255, 0.8),
                  0 0 4.5px  rgba(255, 255, 255, 0.8),
                  0 0 8px  rgba(220, 65, 65, 0.8),
                  0 0 12.5px  rgba(220, 65, 65, 0.8),
                  0 0 16.5px  rgba(220, 65, 65, 0.5),
                  0 0 21px rgba(220, 65, 65, 0.5),
                  0 0 29px rgba(220, 65, 65, 0.5),
                  0 0 41.5px rgba(220, 65, 65, 0.5);
    }
    100% {
      text-shadow: 0 0 0.5px rgba(255,255,255,.8),
                  0 0 1.5px rgba(255,255,255,.8),
                  0 0 2px rgba(255,255,255,.8),
                  0 0 4px rgba(220, 65, 65, 0.8),
                  0 0 6px rgba(220, 65, 65, 0.8),
                  0 0 8px rgba(220, 65, 65, 0.8),
                  0 0 10.5px rgba(220, 65, 65, 0.8),
                  0 0 16.5px rgba(220, 65, 65, 0.8);
    }
  }

  @keyframes neonGlow-gold {
    0% {
      text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
                  0 0 4px rgba(255, 255, 255, 0.8),
                  0 0 4.5px  rgba(255, 255, 255, 0.8),
                  0 0 8px  rgba(220, 220, 65, 0.8),
                  0 0 12.5px  rgba(220, 220, 65, 0.8),
                  0 0 16.5px  rgba(220, 220, 65, 0.5),
                  0 0 21px rgba(220, 220, 65, 0.5),
                  0 0 29px rgba(220, 220, 65, 0.5),
                  0 0 41.5px rgba(220, 220, 65, 0.5);
    }
    100% {
      text-shadow: 0 0 0.5px rgba(255,255,255,.8),
                  0 0 1.5px rgba(255,255,255,.8),
                  0 0 2px rgba(255,255,255,.8),
                  0 0 4px rgba(220, 220, 65, 0.8),
                  0 0 6px rgba(220, 220, 65, 0.8),
                  0 0 8px rgba(220, 220, 65, 0.8),
                  0 0 10.5px rgba(220, 220, 65, 0.8),
                  0 0 16.5px rgba(220, 220, 65, 0.8);
    }
  }

  @mixin neon-glow-strong($color) {
    color: var(--K4-neon-text-color);
    animation: neonGlow-#{$color} 1.5s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.955);
  }

  @mixin neon-glow-soft($textColor, $glowColor) {
    color: $textColor;
    text-shadow:
      0 0 2px #000,
      0 0 10px $glowColor,
      0 0 5px $glowColor,
      0 0 25px $glowColor,;
  }

  .neon-glow-strong-blue {
    @include neon-glow-strong(blue);
  }

  .neon-glow-strong-red {
    @include neon-glow-strong(red);
  }

  .neon-glow-strong-gold {
    @include neon-glow-strong(gold);
  }

  .neon-glow-soft-blue {
    @include neon-glow-soft(rgba(253, 253, 253), rgba(3, 247, 249, 0.561));
  }

  .neon-glow-soft-red {
    @include neon-glow-soft(rgb(255, 159, 159), rgba(252, 31, 31, 0.5));
  }

  .neon-glow-soft-gold {
    @include neon-glow-soft(rgb(244, 238, 228), rgba(255, 189, 65, 0.35));
  }

	h1 {
		color: var(--K4-color-header);
		font-family: var(--font-heading-1);
		font-size: $rem-32;
		font-weight: $font-weight-semi;
		height: $rem-32;
		margin: 20px 0 10px;
	}

	h2 {
		color: var(--K4-color-header);
		font-family: var(--font-heading-2);
		font-size: $rem-20;
		font-weight: $font-weight-bold;
		height: $rem-24;
		margin: 10px 0;
    line-height: $rem-24;
	}

	h3 {
		color: var(--K4-color-header);
    font-family: var(--font-primary-smallcaps);
		font-size: $rem-16;
		font-weight: $font-weight-bold;
    text-transform: lowercase;
		// height: $rem-16;
		margin: 10px 0 0 0;
	}

	label.k4-h4 {
		color: var(--K4-color-header);
		font-family: var(--font-primary);
		font-size: $rem-12;
		font-weight: $font-weight-bold;
		font-style: italic;
		height: $rem-12;
		margin: 5px 0 -5px;
	}

	.text-center {
		text-align: center;

		&.text-tag {
			display: block;

			+ br {
				display: none;
			}
		}
	}

	.text-posmod,
	.text-negmod,
	.text-keyword,
	.text-attributename,
	.text-movename,
	.text-edgename,
	.text-gmtext,
	.text-resultlabel {
		font-weight: $font-weight-black;
    // font-weight: $font-weight-bold;
	}

	.text-keyword {
		color: var(--K4-color-keyword);
	}
	.text-attributename {
		color: var(--K4-color-keyword);
	}
	.text-movename {
		color: var(--K4-color-keyword-bright);
		font-style: italic;
	}
	.text-edgename {
    @include neon-glow-soft(rgba(253, 253, 253), rgba(3, 247, 249, 0.561));
		// color: var(--K4-color-pos);
	}
	.text-posmod,
	.text-posmod+.text-keyword,
	.text-posmod+.text-attributename {
    @include neon-glow-soft(rgb(244, 238, 228), rgba(255, 189, 65, 0.35));
	}

	.text-negmod,
	.text-negmod+.text-keyword,
	.text-negmod+.text-attributename,
  .text-gmtext {
    @include neon-glow-soft(rgb(255, 50, 50), rgba(252, 31, 31, 0.5));
	}

	.text-resultlabel {
		color: var(--K4-color-header);
	}

	.text-trigger {
		color: var(--K4-color-primary-bright);
		font-weight: $font-weight-semi;
    font-family: var(--font-primary-italics);
		font-style: italic;
	}

	div.hover-strip {
    --K4-hoverstrip-height: 30px;
		--K4-hoverstrip-padding-vert: 5px;
    --K4-hoverstrip-inner-height: calc(var(--K4-hoverstrip-height) - 2 * var(--K4-hoverstrip-padding-vert));
		--K4-hoverstrip-scale: 1;

    // &:first-of-type {
    //   outline: 1px dotted magenta;
    //   .strip-name { outline: 1px dotted yellow; }
    //   .strip-bg { background: rgba(255, 255, 0, 0.2); }
    //   .button-strip { outline: 1px dotted lime; }
    // }

		position: relative;
		height: var(--K4-hoverstrip-height);
		white-space: nowrap;
		transform-origin: left center;
		transform: scale(var(--K4-hoverstrip-scale));
		padding: var(--K4-hoverstrip-padding-vert) 0;

		.strip-bg,
    .button-strip {
      --K4-icon-size: var(--K4-hoverstrip-inner-height);
      --K4-icon-fill: var(--K4-strip-button-color-fg);
      --K4-icon-bg-color: transparent;
      --K4-icon-clip-path: none;

			position: absolute;
			display: block;

			height: var(--K4-hoverstrip-inner-height);
			width: calc(100% - 0.5 * var(--K4-hoverstrip-height));
		}

    .strip-bg {
      background: var(--K4-color-primary);
      filter: brightness(0.5);
      opacity: 0;
    }

		.button-strip {
			position: absolute;
			display: inline-flex;
			flex-direction: row;
			width: calc(100% - 0.5 * var(--K4-icon-size));
			left: calc(0.5 * var(--K4-icon-size));
			opacity: 0;
			justify-content: space-between;

			.button-spacer {
				display: inline-block;
				width: var(--K4-icon-size);
				flex-grow: 0;
				flex-shrink: 0;
				position: relative;
			}

  		.strip-button {
				flex-grow: 0.2;
				background: var(--K4-strip-button-color-bg);
				font-size: 0;
				flex-basis: auto;
				width: unset;
				position: relative;
				margin: 0;
				padding: 0;
				box-shadow: none;
				border-radius: 0;
				transition: 0.25s;

				.button-tooltip {
					opacity: 0;
					color: var(--K4-strip-button-color-fg);
					text-align: center;
					line-height: var(--K4-icon-size);
					font-size: $rem-16;
					text-transform: lowercase;
					font-family: var(--font-primary-smallcaps);
					font-weight: $font-weight-black;
					transform-origin: center center;
					transform: translate(-50%, -50%) scaleX(0.75);
					position: absolute;
					pointer-events: none;
					left: 50%;
					top: 50%;

					&.button-tooltip-flare {
						color: var(--K4-strip-button-hover-color-fg);
						visibility: hidden;
						transform: translate(-50%, -50%) scaleX(5) scaleY(3);
					}
				}

				&:hover {
					--K4-icon-fill: var(--K4-strip-button-hover-color-fg);
					background: var(--K4-strip-button-hover-color-bg);
				}
			}
		}

    .icon-container {
      margin-top: calc(-1 * var(--K4-hoverstrip-padding-vert));
    }

		.strip-name {
			position: absolute;
			height: var(--K4-hoverstrip-inner-height);
			color: var(--K4-hoverstrip-fg-color);
			font-size: $rem-16;
			font-weight: $font-weight-semi;
			line-height: var(--K4-hoverstrip-inner-height);
			top: var(--K4-hoverstrip-padding-vert);
			left: calc(var(--K4-icon-size) + 5px);
			white-space: nowrap;
			z-index: 30;

			&:not(.content-editable) {
				pointer-events: none;
			}
		}

		.strip-tooltip {
			pointer-events: none;
			position: absolute;
			display: block;
			font-family: var(--font-primary);
			font-size: $rem-12;
			line-height: $rem-14;
			font-style: italic;
			width: 100%;
			text-align: left;
			color: var(--K4-strip-tooltip-color-fg);
			background: var(--K4-strip-tooltip-color-bg);
			opacity: 0;
			bottom: calc(0.75 * var(--K4-hoverstrip-height));
			left: 0;
			z-index: 40;
			white-space: break-spaces;

			padding: 4px;
			border-radius: 20px;
		}

		&.move-strip {
			--K4-strip-icon-color-bg: var(--K4-color-primary);
			--K4-strip-icon-color-fg: var(--K4-color-contrast);
			--K4-icon-outline-color: var(--K4-color-primary);
		}
	}

	.result-entry {
		--label-width: 50px;
		--label-gap: 5px; // 10px;
		--result-entry-horiz-padding: 5px; // 20px;
		display: block;
		margin: 0 var(--result-entry-horiz-padding);
		clear: both;

		> label {
			text-align: right;
			display: block;
			white-space: nowrap;
			width: var(--label-width);
			height: 100%;
			float: left;
			margin-right: var(--label-gap);
		}

		> span {
			display: inline-block;
			width: calc(100% - (var(--label-width) + var(--label-gap)));
			margin-bottom: 4px;
			padding-bottom: 2px;
			border-bottom-style: solid;
			border-bottom-width: 3px;
			border-image: linear-gradient(to right, var(--K4-color-primary) 50%, transparent) 1;
			vertical-align: top;
		}

		&:last-of-type>span {
			border-bottom: none;
		}
	}

  p.break-elem {
    margin: 0 !important;
    line-height: var(--break-height, 10px) !important;
    max-height: var(--break-height, 10px) !important;
    height: var(--break-height, 10px) !important;
    display: block !important;
    min-height: unset !important;
  }
}