@font-face { // Kultrata Light
  font-family: "Kultrata";
  font-weight: 300; /* Light */
  font-style: normal;
  src: url("#{$assetPath}/fonts/Kultrata-Light.woff2") format("woff2");
}

@font-face { // Kultrata Regular
  font-family: "Kultrata";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("#{$assetPath}/fonts/Kultrata-Regular.woff2") format("woff2");
}

@font-face { // Kultrata Medium
  font-family: "Kultrata";
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url("#{$assetPath}/fonts/Kultrata-Medium.woff2") format("woff2");
}

@font-face { // Kultrata Semi-Bold
  font-family: "Kultrata";
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
  src: url("#{$assetPath}/fonts/Kultrata-Semibold.woff2") format("woff2");
}

@font-face { // Kultrata Bold
  font-family: "Kultrata";
  font-weight: 700 800; /* Bold and 800 */
  font-style: normal;
  src: url("#{$assetPath}/fonts/Kultrata-Bold.woff2") format("woff2");
}

@font-face { // Kultrata Black
  font-family: "Kultrata";
  font-weight: 900; /* Black */
  font-style: normal;
  src: url("#{$assetPath}/fonts/Kultrata-Black.woff2") format("woff2");
}

@font-face { // Kultrata Italic Light
  font-family: "Kultrata";
  font-weight: 300; /* Light */
  font-style: italic;
  src: url("#{$assetPath}/fonts/Kultrata-LightItalic.woff2") format("woff2");
}

@font-face { // Kultrata Italic Regular
  font-family: "Kultrata";
  font-weight: 400; /* Regular */
  font-style: italic;
  src: url("#{$assetPath}/fonts/Kultrata-RegularItalic.woff2") format("woff2");
}

@font-face { // Kultrata Italic Medium
  font-family: "Kultrata";
  font-weight: 500; /* Medium */
  font-style: italic;
  src: url("#{$assetPath}/fonts/Kultrata-MediumItalic.woff2") format("woff2");
}

@font-face { // Kultrata Italic Semi-Bold
  font-family: "Kultrata";
  font-weight: 600; /* Semi-Bold */
  font-style: italic;
  src: url("#{$assetPath}/fonts/Kultrata-SemiboldItalic.woff2") format("woff2");
}

@font-face { // Kultrata Italic Bold
  font-family: "Kultrata";
  font-weight: 700 800; /* Bold and 800 */
  font-style: italic;
  src: url("#{$assetPath}/fonts/Kultrata-BoldItalic.woff2") format("woff2");
}

@font-face { // Kultrata Italic Black
  font-family: "Kultrata";
  font-weight: 900; /* Black */
  font-style: italic;
  src: url("#{$assetPath}/fonts/Kultrata-BlackItalic.woff2") format("woff2");
}

@font-face { // KultrataHeader Black
  font-family: "KultrataHeader";
  font-weight: 900; /* Black */
  font-style: normal;
  src: url("#{$assetPath}/fonts/KultrataTitle-Black.woff2") format("woff2");
}

@font-face { // KultrataHeader Bold
  font-family: "KultrataHeader";
  font-weight: 100 800; /* All Other Weights */
  font-style: normal;
  src: url("#{$assetPath}/fonts/KultrataTitle-Regular.woff2") format("woff2");
}

@font-face { // KultrataSC Light
  font-family: "KultrataSC";
  font-weight: 300; /* Light */
  font-style: normal;
  src: url("#{$assetPath}/fonts/KultrataSC-Light.woff2") format("woff2");
}

@font-face { // KultrataSC Regular
  font-family: "KultrataSC";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("#{$assetPath}/fonts/KultrataSC-Regular.woff2") format("woff2");
}

@font-face { // KultrataSC Medium
  font-family: "KultrataSC";
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url("#{$assetPath}/fonts/KultrataSC-medium.woff2") format("woff2");
}

@font-face { // KultrataSC Semi-Bold
  font-family: "KultrataSC";
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
  src: url("#{$assetPath}/fonts/KultrataSC-Semibold.woff2") format("woff2");
}

@font-face { // KultrataSC Bold
  font-family: "KultrataSC";
  font-weight: 700 800; /* Bold and 800 */
  font-style: normal;
  src: url("#{$assetPath}/fonts/KultrataSC-Bold.woff2") format("woff2");
}

@font-face { // KultrataSC Black
  font-family: "KultrataSC";
  font-weight: 900; /* Black */
  font-style: normal;
  src: url("#{$assetPath}/fonts/KultrataSC-Black.woff2") format("woff2");
}

@font-face {
	font-family: Infidel;
	src: url("#{$assetPath}/fonts/Infidel.woff2") format("woff2");
}

@font-face {
	font-family: Sokol;
	src: url("#{$assetPath}/fonts/Sokol.woff2") format('woff2');
}

@font-face {
	font-family: GrandpasScript;
	src: url("#{$assetPath}/fonts/GrandpasScript-Regular.woff2") format('woff2');
}

@font-face {
	font-family: Leviathan;
	src: url("#{$assetPath}/fonts/Leviathan.woff2") format('woff2');
}

@font-face {
	font-family: ManoNegra;
	src: url("#{$assetPath}/fonts/ManoNegra-Regular.woff2") format('woff2');
  font-weight: 100 600; /* All Sub-Bold Weights */
}

@font-face {
	font-family: ManoNegra;
	src: url("#{$assetPath}/fonts/ManoNegra-Bold.woff2") format('woff2');
  font-weight: 700 900; /* Bold, Black */
}

$rem-8: 8px;
$rem-10: 10px;
$rem-12: 12px;
$rem-14: 14px;
$rem-16: 16px;
$rem-18: 18px;
$rem-20: 20px;
$rem-22: 22px;
$rem-24: 24px;
$rem-28: 28px;
$rem-32: 32px;
$rem-40: 40px;
$rem-48: 48px;
$rem-56: 56px;
$rem-64: 64px;
$rem-72: 72px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

* {
	/* FOUNDRY OVERRIDES */
  --font-primary: Kultrata, serif; // "Signika", sans-serif;
  --font-primary-italics: Kultrata, serif;
  --font-mono: monospace;
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --line-height-12: 2px;
  --line-height-16: 16px;
  --line-height-20: 20px;
  --line-height-30: 30px;

	--font-primary-caps: KultrataHeader, serif;
	--font-icon: "Font Awesome 5 Free";
	--font-heading-1: Infidel, sans-serif;
  --font-heading-2: KultrataHeader, serif;
  --font-primary-smallcaps: KultrataSC, serif;
	--font-decorative: Sokol, serif;
	--font-handwritten: GrandpaScript, serif;
}