@font-face { // Alverata Light
  font-family: "Alverata";
  font-weight: 300; /* Light */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/Alverata-light.woff2") format("woff2");
}

@font-face { // Alverata Regular
  font-family: "Alverata";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/Alverata.woff2") format("woff2");
}

@font-face { // Alverata Medium
  font-family: "Alverata";
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/Alverata-medium.woff2") format("woff2");
}

@font-face { // Alverata Semi-Bold
  font-family: "Alverata";
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/Alverata-semibold.woff2") format("woff2");
}

@font-face { // Alverata Bold
  font-family: "Alverata";
  font-weight: 700 800; /* Bold and 800 */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/Alverata-bold.woff2") format("woff2");
}

@font-face { // Alverata Black
  font-family: "Alverata";
  font-weight: 900; /* Black */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/Alverata-black.woff2") format("woff2");
}

@font-face { // Alverata Italic Light
  font-family: "Alverata";
  font-weight: 300; /* Light */
  font-style: italic;
  src: url("#{$assetPath}/fonts/alverata/Alverata-italic-light.woff2") format("woff2");
}

@font-face { // Alverata Italic Regular
  font-family: "Alverata";
  font-weight: 400; /* Regular */
  font-style: italic;
  src: url("#{$assetPath}/fonts/alverata/Alverata-italic.woff2") format("woff2");
}

@font-face { // Alverata Italic Medium
  font-family: "Alverata";
  font-weight: 500; /* Medium */
  font-style: italic;
  src: url("#{$assetPath}/fonts/alverata/Alverata-italic-medium.woff2") format("woff2");
}

@font-face { // Alverata Italic Semi-Bold
  font-family: "Alverata";
  font-weight: 600; /* Semi-Bold */
  font-style: italic;
  src: url("#{$assetPath}/fonts/alverata/Alverata-italic-semibold.woff2") format("woff2");
}

@font-face { // Alverata Italic Bold
  font-family: "Alverata";
  font-weight: 700 800; /* Bold and 800 */
  font-style: italic;
  src: url("#{$assetPath}/fonts/alverata/Alverata-italic-bold.woff2") format("woff2");
}

@font-face { // Alverata Italic Black
  font-family: "Alverata";
  font-weight: 900; /* Black */
  font-style: italic;
  src: url("#{$assetPath}/fonts/alverata/Alverata-italic-black.woff2") format("woff2");
}

@font-face { // AlverataHeader Black
  font-family: "AlverataHeader";
  font-weight: 900; /* Black */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/AlverataHeader-black.woff2") format("woff2");
}

@font-face { // AlverataHeader Bold
  font-family: "AlverataHeader";
  font-weight: 100 800; /* All Other Weights */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/AlverataHeader-bold.woff2") format("woff2");
}

@font-face { // AlverataHeader Italic Black
  font-family: "AlverataHeader";
  font-weight: 900; /* Black */
  font-style: italic;
  src: url("#{$assetPath}/fonts/alverata/Alverata-italic-black.woff2") format("woff2");
}

@font-face { // AlverataHeader Italic Bold
  font-family: "AlverataHeader";
  font-weight: 100 800; /* All Other Weights */
  font-style: italic;
  src: url("#{$assetPath}/fonts/alverata/Alverata-italic-bold.woff2") format("woff2");
}

@font-face { // AlverataSC Light
  font-family: "AlverataSC";
  font-weight: 300; /* Light */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/AlverataSC-light.woff2") format("woff2");
}

@font-face { // AlverataSC Regular
  font-family: "AlverataSC";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/AlverataSC.woff2") format("woff2");
}

@font-face { // AlverataSC Medium
  font-family: "AlverataSC";
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/AlverataSC-medium.woff2") format("woff2");
}

@font-face { // AlverataSC Semi-Bold
  font-family: "AlverataSC";
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/AlverataSC-semibold.woff2") format("woff2");
}

@font-face { // AlverataSC Bold
  font-family: "AlverataSC";
  font-weight: 700 800; /* Bold and 800 */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/AlverataSC-bold.woff2") format("woff2");
}

@font-face { // AlverataSC Black
  font-family: "AlverataSC";
  font-weight: 900; /* Black */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/AlverataSC-black.woff2") format("woff2");
}

@font-face {
	font-family: Infidel;
	src: url("#{$assetPath}/fonts/infidel.ttf");
}

@font-face {
	font-family: Sokol;
	src: url("#{$assetPath}/fonts/sokol/sokol.woff2") format('woff2'),
			 url("#{$assetPath}/fonts/sokol/sokol.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: GrandpasScript;
	src: url("#{$assetPath}/fonts/ft-grandpas-script/ft-grandpas-script.woff2") format('woff2'),
			 url("#{$assetPath}/fonts/ft-grandpas-script/ft-grandpas-script.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}

$rem-8: 8px;
$rem-10: 10px;
$rem-12: 12px;
$rem-14: 14px;
$rem-16: 16px;
$rem-18: 18px;
$rem-20: 20px;
$rem-22: 22px;
$rem-24: 24px;
$rem-28: 28px;
$rem-32: 32px;
$rem-40: 40px;
$rem-48: 48px;
$rem-56: 56px;
$rem-64: 64px;
$rem-72: 72px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

* {
	/* FOUNDRY OVERRIDES */
  --font-primary: Alverata, serif; // "Signika", sans-serif;
  --font-primary-italics: Alverata, serif;
  --font-mono: monospace;
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --line-height-12: 2px;
  --line-height-16: 16px;
  --line-height-20: 20px;
  --line-height-30: 30px;

	--font-primary-caps: AlverataHeader, serif;
	--font-icon: "Font Awesome 5 Free";
	--font-heading-1: Infidel, sans-serif;
  --font-heading-2: AlverataHeader, serif;
  --font-primary-smallcaps: AlverataSC, serif;
	--font-decorative: Sokol, serif;
	--font-handwritten: GrandpaScript, serif;
}