/* SUPPORTED OPENTYPE FEATURES for ALVERATA LIGHT/MED/BOLD/BLACK

Automatically Enabled (Always)
	"kern" - kerning
	"liga" - standard ligatures
	"locl" - localized forms

Globally-Enabled
	"salt" - stylistic alternates

Small-Caps
	"c2sc" - capitals to small-caps
	"smcp" - non-capitals to small-caps

Number Display
	"frac" - show numbers separated by slash as fractions (ONLY use for fractions!)
	"onum" - most deviation from baseline
	"pnum" - (default) standard dev. from baseline
	"lnum" - line up with baseline
	"tnum" - monospace, line up with baseline
*/

@font-face { // Alverata Irregular Light
  font-family: Alverata;
  font-weight: 300; /* Light */
  src: url("#{$assetPath}/fonts/alverata/alverata-irreg-light.ttf") format("truetype");
}
@font-face { // Alverata Irregular Regular
  font-family: Alverata;
  font-weight: 400; /* Regular */
  src: url("#{$assetPath}/fonts/alverata/alverata-irreg.ttf") format("truetype");
}
@font-face { // Alverata Irregular Medium
  font-family: Alverata;
  font-weight: 500; /* Medium */
  src: url("#{$assetPath}/fonts/alverata/alverata-irreg-med.ttf") format("truetype");
}
@font-face { // Alverata Irregular Semi-Bold
  font-family: Alverata;
  font-weight: 600; /* Semi-Bold */
  src: url("#{$assetPath}/fonts/alverata/alverata-irreg-semi.ttf") format("truetype");
}
@font-face { // Alverata Irregular Bold
  font-family: Alverata;
  font-weight: 700; /* Bold */
  src: url("#{$assetPath}/fonts/alverata/alverata-irreg-black.ttf") format("truetype"); // alverata-irreg-bold.ttf is corrupted; using black instead
}
@font-face { // Alverata Irregular Black
  font-family: Alverata;
  font-weight: 900; /* Black */
  src: url("#{$assetPath}/fonts/alverata/alverata-irreg-black.ttf") format("truetype");
}

@font-face { // Alverata Regular Light
  font-family: AlverataRegular;
  font-weight: 300; /* Light */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/alverata-reg-light.ttf") format("truetype");
}
@font-face { // Alverata Regular Regular
  font-family: AlverataRegular;
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/alverata-reg.ttf") format("truetype");
}
@font-face { // Alverata Regular Medium
  font-family: AlverataRegular;
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/alverata-reg-med.ttf") format("truetype");
}
@font-face { // Alverata Regular Semi-Bold
  font-family: AlverataRegular;
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/alverata-reg-semi.ttf") format("truetype");
}
@font-face { // Alverata Regular Bold
  font-family: AlverataRegular;
  font-weight: 700; /* Bold */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/alverata-reg-bold.ttf") format("truetype");
}
@font-face { // Alverata Regular Black
  font-family: AlverataRegular;
  font-weight: 900; /* Black */
  font-style: normal;
  src: url("#{$assetPath}/fonts/alverata/alverata-reg-black.ttf") format("truetype");
}

@font-face { // Alverata Regular Light Italic
  font-family: AlverataRegular;
  font-weight: 300; /* Light */
  font-style: italic;
  src: url("#{$assetPath}/fonts/alverata/alverata-reg-light-italic.ttf") format("truetype");
}
@font-face { // Alverata Regular Regular Italic
  font-family: AlverataRegular;
  font-weight: 400; /* Regular */
  font-style: italic;
  src: url("#{$assetPath}/fonts/alverata/alverata-reg-italic.ttf") format("truetype");
}
@font-face { // Alverata Regular Medium Italic
  font-family: AlverataRegular;
  font-weight: 500; /* Medium */
  font-style: italic;
  src: url("#{$assetPath}/fonts/alverata/alverata-reg-med-italic.ttf") format("truetype");
}
@font-face { // Alverata Regular Semi-Bold Italic
  font-family: AlverataRegular;
  font-weight: 600; /* Semi-Bold */
  font-style: italic;
  src: url("#{$assetPath}/fonts/alverata/alverata-reg-semi-italic.ttf") format("truetype");
}
@font-face { // Alverata Regular Bold Italic
  font-family: AlverataRegular;
  font-weight: 700; /* Bold */
  font-style: italic;
  src: url("#{$assetPath}/fonts/alverata/alverata-reg-bold-italic.ttf") format("truetype");
}
@font-face { // Alverata Regular Black Italic
  font-family: AlverataRegular;
  font-weight: 900; /* Black */
  font-style: italic;
  src: url("#{$assetPath}/fonts/alverata/alverata-reg-black-italic.ttf") format("truetype");
}


@font-face {
	font-family: Infidel;
	src: url("#{$assetPath}/fonts/infidel.ttf");
}

@font-face {
	font-family: Sokol;
	src: url("#{$assetPath}/fonts/sokol/sokol.woff2") format('woff2'),
			 url("#{$assetPath}/fonts/sokol/sokol.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: GrandpasScript;
	src: url("#{$assetPath}/fonts/ft-grandpas-script/ft-grandpas-script.woff2") format('woff2'),
			 url("#{$assetPath}/fonts/ft-grandpas-script/ft-grandpas-script.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}

$rem-8: 8px;
$rem-10: 10px;
$rem-12: 12px;
$rem-14: 14px;
$rem-16: 16px;
$rem-18: 18px;
$rem-20: 20px;
$rem-22: 22px;
$rem-24: 24px;
$rem-28: 28px;
$rem-32: 32px;
$rem-40: 40px;
$rem-48: 48px;
$rem-56: 56px;
$rem-64: 64px;
$rem-72: 72px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

* {
	/* FOUNDRY OVERRIDES */
  --font-primary: Alverata, serif; // "Signika", sans-serif;
  --font-primary-italics: AlverataRegular, serif;
  --font-mono: monospace;
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --line-height-12: 2px;
  --line-height-16: 16px;
  --line-height-20: 20px;
  --line-height-30: 30px;

	--font-primary-caps: AlverataRegular, serif;
	--font-icon: "Font Awesome 5 Free";
	--font-heading: Infidel, sans-serif;
	--font-decorative: Sokol, serif;
	--font-handwritten: GrandpaScript, serif;
}