// .element {
// 	@include cq-prolyfill("width >= 100px") {
// 		/* Styles for .element if its container is at least 100px wide */
// 	}
// }

#chat-log {

	@include set-default-theme();

	--color-text-dark-primary: var(--color-body-text);
	--chat-vert-padding: 10px;
	--chat-horiz-padding: 10px;
	// overflow: visible;

	.chat-message {
		background: transparent #{to-url("backgrounds/bg-chat-generic.webp")} no-repeat repeat top left/var(--sidebar-internal-width);
		margin: 3px 0;
		padding: 0;
		// border: 2px outset var(--K4-dGOLD);
		border: none;
		position: relative;

		.message-header {
			opacity: 0;
			transition: 0.25s;
			position: absolute;
			// color: var(--K4-bGOLD);
			padding: 0 5px;
			height: 20px;
			top: 0px;
			left: -2px;
			border: 2px outset var(--K4-dGOLD);
			border-bottom: none;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			background: linear-gradient(var(--K4-dGOLD), var(--K4-dGOLD) 22px, transparent 24px);
			width: calc(100% + 4px);
			z-index: 2;

			&:hover {
				opacity: 1;
				top: -24px;
				height: 56px;
			}
		}

		.message-content::before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			height: 42px;
			width: 299px;
			background: transparent #{to-url("layout/border-chat-general-top.webp")} no-repeat top left/var(--sidebar-internal-width);
			pointer-events: none;
			overflow: visible;
		}


		.message-content::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			height: 42px;
			width: 299px;
			background: transparent #{to-url("layout/border-chat-general-bottom.webp")} no-repeat bottom left/var(--sidebar-internal-width);
			pointer-events: none;
		}

		.message-content {
			padding: var(--chat-vert-padding) var(--chat-horiz-padding);
			min-height: 42px;

			.kult4th-chat {
				font-size: $rem-12;
				line-height: $rem-16;

				ul,
				ul.rules-list,
				ul.inline-list {
					--K4-list-indent: 15px;
				}

				.sheet-header {
					.header-filler {
						display: none;
					}

					.item-title {
						font-size: $rem-18;
						height: $rem-24;
						line-height: $rem-20;
						font-family: var(--font-primary-caps);
						font-weight: $font-weight-bold;
						background: #{to-url("layout/border-chat-general-bottom.webp")} repeat bottom left/var(--sidebar-internal-width),
						linear-gradient(to right,
							var(--K4-color-contrast),
							var(--K4-color-primary-bright) 30px,
							var(--K4-color-primary-bright) calc(100% - 30px),
							var(--K4-color-contrast));
						text-shadow: -1px -1px 0px var(--K4-color-primary-bright), 1px 1px 0px var(--K4-color-primary);
						text-transform: uppercase;
						text-align: center;
						margin-top: calc(-1 * var(--chat-vert-padding));
						margin-left: calc(-1 * var(--chat-horiz-padding));
						width: calc(100% + 2 * var(--chat-horiz-padding) + var(--scrollbar-width));
						padding: 3px 0 0;
					}
				}

				.edges-header,
				.hold-header {
					background: none;
					font-weight: $font-weight-semi;
					transform: translate(-50%, 0%) scaleX(0.8);
					width: 200%;
					left: 50%;
					position: relative;
				}

				// .kult-text-container {
				// margin: 0;

			@import 'roll-result';
			}

		}

	}
}

#chat-controls {
	.chat-control-icon {}

	.roll-type-select {
		font-family: AlverataSemiBold;
		background: transparent #{to-url("backgrounds/bg-black-leather.webp")} repeat center/500px 500px;
		// color: var(--color-body-text);
		margin-top: 2px;
		border-radius: 0;
	}

}

#chat-form {
	#chat-message {
		background: transparent #{to-url("backgrounds/bg-black-leather.webp")} repeat center/500px 500px;
		border-color: var(--K4-GOLD);
		// color: var(--color-body-text);
		font-family: AlverataSemiBold;
	}

}