// .element {
// 	@include cq-prolyfill("width >= 100px") {
// 		/* Styles for .element if its container is at least 100px wide */
// 	}
// }

#chat-log {

	@include set-default-theme();

	--color-text-dark-primary: var(--color-body-text);
	--chat-vert-padding: 15px;
	--chat-horiz-padding: 10px;
	// overflow: visible;

	.chat-message {
		background: transparent #{to-url("backgrounds/bg-chat-generic.webp")} no-repeat repeat top left/var(--sidebar-internal-width);
		margin: 3px 0;
		padding: 0;
		// border: 2px outset var(--K4-dGOLD);
		border: none;
		position: relative;

		.message-header {
			opacity: 0;
			transition: 0.25s;
			position: absolute;
			// color: var(--K4-bGOLD);
			padding: 0 5px;
			height: 20px;
			top: 0px;
			left: -2px;
			border: 2px outset var(--K4-dGOLD);
			border-bottom: none;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			background: linear-gradient(var(--K4-dGOLD), var(--K4-dGOLD) 22px, transparent 24px);
			width: calc(100% + 4px);
			z-index: 2;

			&:hover {
				opacity: 1;
				top: -24px;
				height: 56px;
			}
		}

		.message-content::before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			height: 42px;
			width: 299px;
			background: transparent #{to-url("layout/border-chat-general-top.webp")} no-repeat top left/var(--sidebar-internal-width);
			pointer-events: none;
			overflow: visible;
		}


		.message-content::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			height: 42px;
			width: 299px;
			background: transparent #{to-url("layout/border-chat-general-bottom.webp")} no-repeat bottom left/var(--sidebar-internal-width);
			pointer-events: none;
		}

		.message-content {
			padding:
				var(--chat-vert-padding) calc(var(--scrollbar-width) + var(--chat-horiz-padding)) var(--chat-vert-padding) var(--chat-horiz-padding);
			min-height: 42px;

			.kult4th-chat {
				font-size: $rem-12;
				line-height: $rem-16;

				ul,
				ul.rules-list,
				ul.inline-list {
					--K4-list-indent: 15px;
				}

				.sheet-header {
					.header-filler {
						display: none;
					}

					.item-title {
						font-size: $rem-18;
						height: $rem-24;
						line-height: $rem-20;
						font-family: var(--font-primary-caps);
						font-weight: $font-weight-bold;
						background: #{to-url("layout/border-chat-general-bottom.webp")} repeat bottom left/var(--sidebar-internal-width),
						linear-gradient(to right,
							var(--K4-color-contrast),
							var(--K4-color-primary-bright) 30px,
							var(--K4-color-primary-bright) calc(100% - 30px),
							var(--K4-color-contrast));
						text-shadow: -1px -1px 0px var(--K4-color-primary-bright), 1px 1px 0px var(--K4-color-primary);
						text-transform: uppercase;
						text-align: center;
						margin-top: calc(-1 * var(--chat-vert-padding));
						margin-left: calc(-1 * var(--chat-horiz-padding));
						width: calc(100% + 2 * var(--chat-horiz-padding) + var(--scrollbar-width));
						padding: 3px 0 0;
					}
				}

				.edges-header,
				.hold-header {
					background: none;
					font-weight: $font-weight-semi;
					transform: translate(-50%, 0%) scaleX(0.8);
					width: 200%;
					left: 50%;
					position: relative;
				}

				// .kult-text-container {
				// margin: 0;

				.roll-result-header {
					height: auto;
					width: calc(100% + 20px);
					position: relative;
					left: -10px;
					top: -10px;
					overflow: hidden;
				}

				.roll-result-header img {
					/* clip-path: circle(closest-side); */
					height: 75%;
					width: 75%;
					position: relative;
					top: 32%;
					left: 35%;
				}

				.roll-result-header .roll-img-container {
					filter: drop-shadow(0 0 5px var(--K4-bGOLD));
					height: 150px;
					width: 150px;
					position: absolute;
					top: -75px;
					left: -75px;
					clip-path: circle(closest-side);
				}

				.roll-result-header .roll-intro {
					font-family: var(--font-primary-caps);
					font-size: 1rem;
					text-align: left;
					margin: 0;
					text-indent: 85px;
					color: var(--K4-BLACK);
					background: var(--K4-GOLD);
					height: 1.5rem;
					width: 100%;
					line-height: 1.5rem;
					font-weight: 900;
					text-transform: uppercase;
				}

				.roll-result-header .roll-identity {
					font-family: var(--font-primary);
					font-size: 0.75rem;
					text-align: left;
					margin: 0;
					text-indent: 75px;
					color: var(--K4-gGOLD);
					height: 1.5rem;
					width: 100%;
					line-height: 1.5rem;
					white-space: nowrap;
					font-weight: normal;
				}

				.roll-dice-line {
					height: 40px;
					top: -15px;
					font-size: 0;
					display: block;
					width: 100%;
					text-align: center;
					position: relative;
				}

				.roll-dice-line .roll-d10-container {
					height: 40px;
					width: 40px;
					text-align: center;
					display: inline-block;
					background: transparent #{to-url("dice/d10.svg")} no-repeat no-repeat center center/40px 40px;
					font-size: 2rem;
					position: relative;
				}

				.roll-dice-line .roll-d10-container .roll-die-result {
					font-size: 20px;
					line-height: 45px;
					height: 40px;
					display: inline-block;
					white-space: nowrap;
					font-weight: 900;
					text-shadow: -1px -1px 0 black, 1px 1px 0 #F00;
				}

				.roll-result-total {
					position: absolute;
					width: 60px;
					height: 50px;
					line-height: 50px;
					font-size: 3rem;
					font-weight: 900;
					color: var(--K4-WHITE);
					top: -5px;
					right: -5px;
			}

			.roll-result-title {
					text-transform: uppercase;
					font-family: var(--font-heading);
					font-size: 2rem;
					text-align: center;
					width: calc(100%);
					height: 2rem;
					background: var(--K4-dRED);
					line-height: 2.75rem;
					text-indent: 0;
					padding: 0;
					margin: 0;
					position: relative;
					/* left: -10%; */
					border-radius: 10px;
					top: -10px;
					/* text-indent: 100px; */
					white-space: nowrap;
			}

				.result-entry {
					--label-width: 38px;
					--label-gap: 3px;
					--result-entry-horiz-padding: 0px;
					// margin: 0;
					font-size: inherit;
					line-height: inherit;

					>label {
						// width: 34px;
						// white-space: nowrap;
						// margin-right: 3px;
					}

					>span {
						text-align: left;
						// width: calc(100% - 34px - 3px);
					}

				}

				&.chat-roll-result {
					.result-entry {

						// font-size: $rem-14;
						// line-height: $rem-18;
						>span {
							font-size: inherit;
							line-height: inherit;
							text-align: justify;
							width: unset;
							padding-bottom: 0;
						}
					}
				}

				// }
			}

		}

	}
}

#chat-controls {
	.chat-control-icon {}

	.roll-type-select {
		font-family: AlverataSemiBold;
		background: transparent #{to-url("backgrounds/bg-black-leather.webp")} repeat center/500px 500px;
		// color: var(--color-body-text);
		margin-top: 2px;
		border-radius: 0;
	}

}

#chat-form {
	#chat-message {
		background: transparent #{to-url("backgrounds/bg-black-leather.webp")} repeat center/500px 500px;
		border-color: var(--K4-GOLD);
		// color: var(--color-body-text);
		font-family: AlverataSemiBold;
	}

}