#chat-log {
	--color-text-dark-primary: var(--color-body-text);
	--chat-vert-padding: 15px;
	--chat-horiz-padding: 10px;
	// overflow: visible;

	.chat-message {
		background: transparent #{to-url("backgrounds/bg-chat-generic.webp")} no-repeat repeat top left/var(--sidebar-internal-width);
		margin: 3px 0;
		padding: 0;
		// border: 2px outset #{$gold-dark};
		border: none;
		position: relative;

		.message-header {
			opacity: 0;
			transition: 0.25s;
			position: absolute;
			// color: #{$gold-brightest};
			padding: 0 5px;
			height: 20px;
			top: 0px;
			left: -2px;
			border: 2px outset #{$gold-dark};
			border-bottom: none;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			background: linear-gradient(#{$gold-dark}, #{$gold-darkest} 22px, transparent 24px);
			width: calc(100% + 4px);
			z-index: 2;

			&:hover {
				opacity: 1;
				top: -24px;
				height: 56px;
			}
		}

		.message-content::before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			height: 42px;
			width: 299px;
			background: transparent #{to-url("layout/border-chat-general-top.webp")} no-repeat top left/var(--sidebar-internal-width);
			pointer-events: none;
			overflow: visible;
		}


		.message-content::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			height: 42px;
			width: 299px;
			background: transparent #{to-url("layout/border-chat-general-bottom.webp")} no-repeat bottom left/var(--sidebar-internal-width);
			pointer-events: none;
		}

		.message-content {
			padding: var(--chat-vert-padding) var(--chat-horiz-padding);
			min-height: 42px;

			form, form.kult4th-chat {
				font-size: $rem-12;
				line-height: $rem-16;

				.text-posmod,
				.text-keyword,
				.text-attributename,
				.text-movename,
				.text-edgename {
					// color: $blue-brightest;
				}

				.text-trigger {
					// color: $gold-brightest;
				}

				.text-negmod,
				.text-negmod+.text-keyword,
				.text-negmod+.text-attributename,
				.text-gmtext {
					// color: $red-glow;
				}

				ul {
					margin-left: 0;

					li {
						text-indent: -15px;
						font-size: inherit;
					}

					li:before {
						margin-right: 0;
						transform: scaleX(1.25) scale(0.6);
					}
				}

				.sheet-header {
					.header-filler { display: none; }
					.header-name {
						font-size: $rem-16;
						// color: $black;
						line-height: $rem-24;
						font-weight: $font-weight-bold;
						// background: linear-gradient(to right,
						// 	#{$gold-darkest},
						// 	#{$gold-bright} 30px,
						// 	#{$gold-bright} calc(100% - 30px),
						// 	#{$gold-darkest}
						// );
						// text-shadow: 1px 1px 0px #{$gold};
						// width: 100%;
						display: block;
						// text-indent: 8px;
						border-radius: 0;
						text-transform: uppercase;
						text-align: center;
						margin-top: calc(-1 * var(--chat-vert-padding));
						margin-left: calc(-1 * var(--chat-horiz-padding));
						width: calc(100% + 2 * var(--chat-horiz-padding));
						padding: 0;
					}
				}

				.edges-header, .hold-header {
					background: none;
					font-weight: $font-weight-semi;
					transform: translate(-50%, 0%) scaleX(0.8);
					width: 200%;
					left: 50%;
					position: relative;
				}

				// .kult-text-container {
					// margin: 0;

				.result-entry {
					margin: 0;
					font-size: inherit;
					line-height: inherit;

					> label {
						width: 34px;
						white-space: nowrap;
						margin-right: 3px;
					}

					> span {
						text-align: left;
						width: calc(100% - 34px - 3px);
						vertical-align: top;
					}

				}

				&.chat-roll-result {
					.result-entry {
						// font-size: $rem-14;
						// line-height: $rem-18;
						> span {
							font-size: inherit;
							line-height: inherit;
							text-align: justify;
							width: unset;
							padding-bottom: 0;
						}
					}
				}
				// }
			}

		}

	}
}

#chat-controls {
	.chat-control-icon {

	}
	.roll-type-select {
		font-family: AlverataSemiBold;
		background: transparent #{to-url("backgrounds/bg-black-leather.webp")} repeat center/500px 500px;
		// color: var(--color-body-text);
		margin-top: 2px;
		border-radius: 0;
	}

}

#chat-form {
	#chat-message {
		background: transparent #{to-url("backgrounds/bg-black-leather.webp")} repeat center/500px 500px;
		border-color: $gold;
		// color: var(--color-body-text);
		font-family: AlverataSemiBold;
	}

}
