& {
	/* FOUNDRY OVERRIDES */
  --sidebar-width: 300px;
  --sidebar-header-height: 0px; // 32px;
  --sidebar-item-height: 80px; // 48px;

	border: none;
	box-shadow: none;
	overflow: visible;
}